Repository hmcts/ia-case-api, pull requests merged in 2019-08, with the labels that each got.

#122 Ria 362 edit case listing
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/scenarios/RIA-362-edit-case-listing-confirmation.json
  src/functionalTest/resources/scenarios/RIA-362-edit-case-listing-docmosis-disabled.json
  src/functionalTest/resources/scenarios/RIA-362-edit-case-listing-docmosis-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditCaseListingConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditCaseListingConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia-case-api-pr-122

#125 RIA-1653-update-helm-docker-images
  charts/ia-case-api/values.yaml
Labels: ns:ia-case-api-pr-125

#123 RIA-1485 record application
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-time-extension-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-time-extension-application-in-wrong-state.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-time-extension-application.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application-in-wrong-state.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-withdraw-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-withdraw-application.json
  src/functionalTest/resources/scenarios/RIA-1485-record-refused-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-refused-application.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Application.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplicationDecision.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplicationType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddCaseNoteHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CurrentCaseStateUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/Appender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseNoteAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddCaseNoteHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CurrentCaseStateUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseNoteAppenderTest.java
Labels: ns:ia-case-api-pr-123

#127 Ria 1622 overview pages decided
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealDecision.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/HoursAndMinutesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia-case-api-pr-127

#129 Removing deprecated pipeline features
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Labels: ns:ia-case-api-pr-129

#124 Ria 1610 notify case officer
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia-case-api-pr-124

#133 Aks migration prep
  Dockerfile
  build.gradle
  charts/ia-case-api/requirements.yaml
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseServiceResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdentityManagerResponseException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
  web.config
Labels: ns:ia-case-api-pr-133
