Repository hmcts/ia-case-api, pull requests merged in 2019-09, with the labels that each got.

#150 RIA-1766 end appeal flags
  src/functionalTest/resources/scenarios/RIA-823-end-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia-case-api-pr-150

#134 RIA-1762 add missing postcodes
  src/main/resources/application-postcodes.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia-case-api-pr-134

#141 RIA-1562 Launch end appeal from overview tab
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-withdraw-application-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmationTest.java
Labels: ns:ia-case-api-pr-141

#132 RIA-1673 edited hearing notice
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-362-RIA-1673-edit-case-listing-docmosis-disabled.json
  src/functionalTest/resources/scenarios/RIA-362-RIA-1673-edit-case-listing-docmosis-enabled.json
Labels: ns:ia-case-api-pr-132

#135 Ria 1380 add hearing centres
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinder.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/HearingCentreFinderConfiguration.java
  src/main/resources/application-postcodes.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia-case-api-pr-135

#130 Ria 1647 end appeal notify ho
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia-case-api-pr-130

#137 RIA-1674 refused application notification
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandlerTest.java
Labels: ns:ia-case-api-pr-137

#138 Ria 1654 admin edit case
  build.gradle
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1654-edit-case-listing-admin-officer.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCase.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/serialization/AsylumCaseCallbackDeserializerTest.java
Labels: ns:ia-case-api-pr-138

#143 Ria 1304 authenticate home office user
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRole.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRoleTest.java
Labels: ns:ia-case-api-pr-143

#158 AKS adding aat config.
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.aat.template.yaml
Labels: ns:ia-case-api-pr-158

#139 silent zap alerts related to server not application
  zap-known-issues.xml
Labels: ns:ia-case-api-pr-139
