Repository hmcts/ia-case-api, pull requests merged in 2019-07, with the labels that each got.

#109 Ria 575 add case note
  src/functionalTest/resources/scenarios/RIA-575-add-case-note-to-existing-case-notes.json
  src/functionalTest/resources/scenarios/RIA-575-add-first-case-note.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseNote.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AddCaseNoteConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddCaseNoteHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseNoteAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseNoteTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AddCaseNoteConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddCaseNoteHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseNoteAppenderTest.java
Labels: ns:ia-case-api-pr-109

#110 Ria 481 skeleton bundle
  src/functionalTest/resources/documents/doc3.pdf
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-case-stitching-enabled.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-stitching-disabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia-case-api-pr-110

#111 Ria 1495 pact testing
  Jenkinsfile_CNP
  README.md
  build.gradle
  docker-pactbroker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/IdamConsumerTest.java
Labels: ns:ia-case-api-pr-111

#117 Ria 1571 list case from admin role
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-hearing-notice-docmosis-disabled.json
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-hearing-notice-docmosis-enabled.json
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-list-case-confirmation.json
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-list-case-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CurrentCaseStateUpdater.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseConfirmationTest.java
Labels: ns:ia-case-api-pr-117

#116 RIA-1583: integration tests framework
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/Service2ServiceEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/GenerateDecisionAndReasonsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/DocumentCaseApiVerifications.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/GivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/IaCaseApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/AsylumCaseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/Builder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/CallbackForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/PreSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/UserDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/wiremock/DocumentsApiCallbackTransformer.java
Labels: ns:ia-case-api-pr-116
