Repository hmcts/ia-case-api, pull requests merged in 2019-11, with the labels that each got.

#173 Disabling ASE except in Demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia-case-api-pr-173

#162 Ria 1771 appeal and appellant tabs
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsHandlerTest.java
Labels: ns:ia-case-api-pr-162

#178 RIA-1024 notify co of case built
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia-case-api-pr-178

#167 Ria 1463 appeal decision notifications
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia-case-api-pr-167

#170 Ria 942 notify homeOffice and legal rep of hearing bundle is ready
  src/functionalTest/resources/scenarios/RIA-1278-upload-additional-evidence-ho-action-available.json
  src/functionalTest/resources/scenarios/RIA-1603-upload-addendum-evidence-action-available.json
  src/functionalTest/resources/scenarios/RIA-941-RIA-942-generate-hearing-ready-bundle-stitching-disabled.json
  src/functionalTest/resources/scenarios/RIA-941-RIA-942-generate-hearing-ready-bundle-stitching-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia-case-api-pr-170

#179 Add api version for helm chart
  charts/ia-case-api/Chart.yaml
Labels: ns:ia-case-api-pr-179

#180 performance logs
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/docs/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/DbAppealReferenceNumberGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PostSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
Labels: ns:ia-case-api-pr-180

#181 Adding dependabot
  .dependabot/config.yml
Labels: ns:ia-case-api-pr-181

#197 travis jdk
  .travis.yml
Labels: ns:ia-case-api-pr-197

#177 Ria 1845
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-time-extension-application-in-wrong-state.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application-in-wrong-state.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-withdraw-application.json
  src/functionalTest/resources/scenarios/RIA-1485-record-refused-application.json
  src/functionalTest/resources/scenarios/RIA-1845-upload-addendum-evidence-legal-rep-action-available.json
  src/functionalTest/resources/scenarios/RIA-1845-upload-addendum-evidence-legal-rep-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1845-upload-addendum-evidence-legal-rep-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadAddendumEvidenceConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceActionAvailableUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAdditionalEvidenceActionAvailableUpdater.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadAddendumEvidenceConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceActionAvailableUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAdditionalEvidenceActionAvailableUpdaterTest.java
Labels: ns:ia-case-api-pr-177

#196 RIA-2162 Create AIP case
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/JourneyType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncatorTest.java
Labels: ns:ia-case-api-pr-196

#204 RIA-1976 add new hearing centres
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  infrastructure/main.tf
  src/functionalTest/resources/scenarios/RIA-1278-upload-additional-evidence-ho-action-available.json
  src/functionalTest/resources/scenarios/RIA-1603-upload-addendum-evidence-action-available.json
  src/functionalTest/resources/scenarios/RIA-1845-upload-addendum-evidence-legal-rep-action-available.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-confirmation.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-case-stitching-enabled.json
  src/functionalTest/resources/scenarios/RIA-517-case-submitted-confirmation.json
  src/functionalTest/resources/scenarios/RIA-706-upload-additional-evidence-action-available.json
  src/functionalTest/resources/scenarios/RIA-941-RIA-942-generate-hearing-ready-bundle-stitching-enabled.json
  src/functionalTest/resources/scenarios/RIA-941-generate-hearing-bundle-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinder.java
  src/main/resources/application-postcodes.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia-case-api-pr-204

#208 fix charts for preview
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia-case-api-pr-208

#188 RIA-436-2087-submit-hearing-requirements
  Jenkinsfile_CNP
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  infrastructure/main.tf
  src/functionalTest/resources/scenarios/RIA-385-request-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-436-RIA-2087-submit-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-current-case-state-example2.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SubmitHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeHearingRequirementsDirectionHandler.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SubmitHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeHearingRequirementsDirectionHandlerTest.java
Labels: ns:ia-case-api-pr-188

#213 fix terraform script
  infrastructure/main.tf
Labels: ns:ia-case-api-pr-213
