Repository hmcts/ia-case-api, pull requests merged in 2020-02, with the labels that each got.

#240 RIA-1500 extend due date direction from application request
  src/functionalTest/resources/scenarios/RIA-1485-RIA-1500-record-granted-time-extension-application-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandlerTest.java
Labels: ns:ia, ns:ia-case-api-pr-240, rel:ia-case-api-pr-240

#271 RIA-1500 fix for record an application link
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveAppealFromOnlineHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveAppealFromOnlineHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-271

#269 RIA-2493 Prevent AIP events being triggered for Repped journey
  src/functionalTest/resources/scenarios/RIA-2493-reasons-for-appeal-repped.json
  src/functionalTest/resources/scenarios/RIA-2493-reasons-for-appeal.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValidForJourneyType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeCheckerTest.java
Labels: ns:ia, rel:ia-case-api-pr-269

#244 RIA-2045 notification of uploaded additional evidence
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, ns:ia-case-api-pr-244, rel:ia-case-api-pr-244

#277 Removing enableDockerBuild from Jenkinsfile which is no longer needed
  Jenkinsfile_CNP
Labels: ns:ia, rel:ia-case-api-pr-277

#246 RIA-2046 Notification of uploaded addendum
  src/functionalTest/resources/scenarios/RIA-1603-upload-addendum-evidence-submit.json
  src/functionalTest/resources/scenarios/RIA-1845-upload-addendum-evidence-legal-rep-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-246

#283 sonar check poc
  build.gradle
Labels: ns:ia, rel:ia-case-api-pr-283

#276 Ria 2541 reasons for appeal enter data
  src/functionalTest/resources/scenarios/RIA-2493-RIA-2541-request-reasons-for-appeal.json
  src/functionalTest/resources/scenarios/RIA-2493-reasons-for-appeal.json
  src/functionalTest/resources/scenarios/RIA-2493-request-reasons-for-appeal-repped.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Parties.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestReasonsForAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestReasonsForAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolver.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionTagResolver.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PartiesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestReasonsForAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestReasonsForAppealPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolverTest.java
Labels: ns:ia, rel:ia-case-api-pr-276

#287 Removing config which is no longer required.
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, rel:ia-case-api-pr-287

#286 RIA-2632 Prevent send direction for AIP journey
  src/functionalTest/resources/scenarios/RIA-2493-request-reasons-for-appeal-repped.json
  src/functionalTest/resources/scenarios/RIA-2632-Cannot-send-direction-for-aip-case.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValid.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValidChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValidCheckers.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValidForJourneyType.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/EventValidCheckersTest.java
Labels: ns:ia, rel:ia-case-api-pr-286

#274 RIA-2484 - Reasons For Appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-274

#253 RIA-2345 notification of change due date
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-253

#293 HTML zap testing report
  security.sh
Labels: ns:ia, rel:ia-case-api-pr-293

#266 RIA-2297 edit listing notification to admin team
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-266

#304 update charts
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/requirements.yaml
Labels: ns:ia, rel:ia-case-api-pr-304

#302 IA Demo exception remove
  Jenkinsfile_CNP
  build.gradle
Labels: ns:ia, rel:ia-case-api-pr-302

#273 Ria 2398 ao list case
  src/functionalTest/resources/scenarios/RIA-2374-update-hearing-adjustments-validation.json
  src/functionalTest/resources/scenarios/RIA-2374-update-hearing-adjustments.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewUpdateHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewUpdateHearingRequirementsHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-273
