Repository hmcts/ia-case-api, pull requests merged in 2020-04, with the labels that each got.

#337 RIA-2820 Moved urls out of vault
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  infrastructure/main.tf
Labels: ns:ia, rel:ia-case-api-pr-337

#315 RIA-2783 Feature/ria 2783 delete docs
  build.gradle
  lombok.config
  src/functionalTest/resources/scenarios/RIA-2783-editDocuments-event.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentWithDescription.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingRecordingDocument.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/HasDocument.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/IdValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditDocsAboutToSubmitHandler.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentWithMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/IdValueTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditDocsAboutToSubmitHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-315

#323 Feature/ria 2831 add case notes
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-2783-editDocuments-event.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditDocsCaseNoteServiceTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseNote.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/AuditDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsCaseNoteService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditDocsAboutToSubmitHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-323

#317 RIA-1434 leadership judge ftpa decision
  src/functionalTest/resources/scenarios/RIA-1434-leadership-judge-record-appellant-ftpa-decision-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1434-leadership-judge-record-appellant-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-1434-leadership-judge-record-respondent-ftpa-decision.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionMidEvent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionMidEventTest.java
Labels: ns:ia, rel:ia-case-api-pr-317

#350 Ria 2931 dynamic state update
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/PreSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/PreSubmitCallbackStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppealDecisionStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppealStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppealDecisionStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppealStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
Labels: ns:ia, rel:ia-case-api-pr-350

#351 RIA-2932 ftpa documents display to the other party
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-351

#353 ia-case-api CCD fields validation
  .gitignore
  README.md
  bin/validate_case_api.js
  package.json
Labels: ns:ia, rel:ia-case-api-pr-353

#316 Ria 2520
  src/functionalTest/resources/scenarios/RIA-2520-record-allocated-judge.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAllocatedJudgeConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAllocatedJudgeHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAllocatedJudgeConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAllocatedJudgeHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-316

#339 Ria 2564 ftpa leadership overview tabs
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
Labels: ns:ia, rel:ia-case-api-pr-339

#369 Ria 2829 tcw handles time extension request
  src/functionalTest/resources/scenarios/RIA-2829-PrepairTimeExtension.json
  src/functionalTest/resources/scenarios/RIA-2829-ReviewTimeExtension.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/TimeExtension.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/TimeExtensionDecision.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/TimeExtensionStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Value.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionsHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionsHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-369

#320 RIA-2773 Enable AIP directions to respondent
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
Labels: ns:ia, rel:ia-case-api-pr-320

#370 RIA-3040-API-Docs Added swagger publisher
  .github/workflows/swagger.yml
  .travis.yml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/docs/SwaggerPublisher.java
Labels: ns:ia, rel:ia-case-api-pr-370
