Repository hmcts/ia-case-api, pull requests merged in 2020-06, with the labels that each got.

#388 Feature/ria 3093 deport flag
  lombok.config
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-deport-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseFlagAppenderTest.java
Labels: ns:ia, rel:ia-case-api-pr-388

#394 Feature/ria 3077 edit flags
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-394

#400 RIA-2300 request respondent review case argument
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparerTest.java
Labels: ns:ia, rel:ia-case-api-pr-400

#426 RIA-3300 Launch Darkly and automatic direction feature
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/DateProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/SystemDateProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/FeatureToggleConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/SystemDateProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, rel:ia-case-api-pr-426

#432 terraform cleanup
  infrastructure/main.tf
Labels: ns:ia, rel:ia-case-api-pr-432

#433 terraform cleanup
  infrastructure/main.tf
Labels: ns:ia, rel:ia-case-api-pr-433

#416 RIA-739 add request case edit even to send notification
  src/functionalTest/resources/scenarios/RIA-611-RIA-739-request-case-edit-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-416

#428 feature toggler for LD in every event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumCaseDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumCaseDataFixingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-428

#425 RIA-3174-Added-Events
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, rel:ia-case-api-pr-425

#396 PaymentApi Integration framework
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumCaseFeePaymentService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FeePayment.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumCaseFeePaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, rel:ia-case-api-pr-396

#333 RIA-2851: Change hearing centre when case is edited after being listed.
  src/functionalTest/resources/scenarios/RIA-1654-RIA-2851-edit-case-listing-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-362-RIA-1673-edit-case-listing-docmosis-disabled.json
  src/functionalTest/resources/scenarios/RIA-362-RIA-1673-edit-case-listing-docmosis-enabled.json
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-hearing-notice-docmosis-disabled.json
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-hearing-notice-docmosis-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-333

#421 RIA-3144 Appellant documents on Documents tab
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-3144-SetupAppellantDocuments.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ClarifyingQuestionAnswer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddAppellantDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddAppellantDocumentsHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-421

#352 [Do Not Merge]RIA-2776: Force case progression to submit hearing requirements.
  src/functionalTest/resources/scenarios/RIA-2776-force-case-to-submit-hearing-requirements.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ForceCaseToSubmitHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ForceCaseToSubmitHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ForceCaseToSubmitHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ForceCaseToSubmitHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-352

#342 RIA-2859 Feature/ria 2859 clean up overview tab
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
  src/functionalTest/resources/scenarios/RIA-2783-editDocuments-event.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-342

#332 RIA-1358: Update legal representative's details
  src/functionalTest/resources/scenarios/RIA-1358-update-legal-representatives-details.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LegalRepresentativeUpdateDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LegalRepresentativeUpdateDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-332

#364 Feature/ria 2957 add adjourn event
  src/functionalTest/resources/scenarios/RIA-2957-adjourn-without-a-date-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2957-adjourn-without-a-date.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-364

#367 RIA-2959: Notifications sent during adjourn hearing without date event.
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-2957-RIA-2959-adjourn-without-a-date.json
  src/functionalTest/resources/scenarios/RIA-2957-adjourn-without-a-date.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-367

#372 Feature/ria 2970 notice of adjournment 2
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-2957-adjourn-without-a-date.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-372

#377 Ria 2960 Relist the case from adjourned state
  src/functionalTest/resources/scenarios/RIA-2957-adjourn-without-a-date.json
  src/functionalTest/resources/scenarios/RIA-2960-restore-case-state.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RestoreStateFromAdjournHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RestoreStateFromAdjournHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-377

#379 [WIP]add relist notification
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-2960-restore-case-state.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-379

#448 improve functional tests stability
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-448

#446 Adjourned without a date epic
  src/functionalTest/resources/scenarios/RIA-2957-RIA-2959-adjourn-without-a-date.json
  src/functionalTest/resources/scenarios/RIA-2957-adjourn-without-a-date-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2960-restore-case-state.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RestoreStateFromAdjournHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RestoreStateFromAdjournHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-446

#434 RIA-3018: requestCmaRequirements Notifications.
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-434

#454 RIA-3020: SUBMIT_CMA_REQUIREMENTS to Notification service
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-454
