Repository hmcts/ia-case-api, pull requests merged in 2020-10, with the labels that each got.

#561 Ria 3592 payment method
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePayAndSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/PaymentStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-561

#566 RIA-3553 Allow appeal update details after appeal-submitted state
  src/functionalTest/resources/scenarios/RIA-3553-record-edit-appeal-after-submit-appeal-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-566

#572 Ria 3534
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitCasePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitCasePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-572

#600 Azure upgrade
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-600

#575 RIA-3628: HO Validation tab alignment in single table with Nationalities
  src/functionalTest/resources/scenarios/RIA-2010-3628-add-stateless-edit-appeal.json
  src/functionalTest/resources/scenarios/RIA-2010-3628-add-stateless-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-3271-3628-home-office-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3271-home-office-integration-flag-set.json
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Nationality.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/NationalityFieldValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StatelessHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/NationalityFieldValueTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/NationalityTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeCaseStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StatelessHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-575

#602 Terraform 12.x
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-602

#603 Azure provider v2
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-603

#581 RIA-3594 Cancel a timed event schedule after sending a direction
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CancelAutomaticDirectionRequestingHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CancelAutomaticDirectionRequestingHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-581

#606 Launch Darkly user prefix
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/MapValueExpander.java
  src/functionalTest/resources/scenarios/RIA-1358-update-legal-representatives-details.json
  src/functionalTest/resources/scenarios/RIA-2208-add-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-2774-force-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-2775-force-case-progression-to-case-under-review.json
  src/functionalTest/resources/scenarios/RIA-2776-force-case-to-submit-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
  src/functionalTest/resources/scenarios/RIA-575-add-case-note-to-existing-case-notes.json
  src/functionalTest/resources/scenarios/RIA-575-add-first-case-note.json
  src/functionalTest/resources/scenarios/RIA-610-user-details-added-to-case.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-606

#607 Owasp upgrade 6.0.2
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-607

#597 Ria 3654 validation non payment
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-597

#558 RIA-3332:Home office validation flow with F&P changes test
  src/functionalTest/resources/scenarios/RIA-3332-home-office-integration-flag-set-mark-appeal-paid.json
  src/functionalTest/resources/scenarios/RIA-3332-home-office-integration-flag-set-pay-and-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-3332-home-office-response-for-appeal-submitted-mark-appeal-paid.json
  src/functionalTest/resources/scenarios/RIA-3332-home-office-response-for-appeal-submitted-pay-and-submit-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-558

#615 RIA-3711 payments aat issue fixes
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3025-successful-payment-for-pa-appeal-type-at-case-building.json
  src/functionalTest/resources/scenarios/RIA-3025-successful-payment-for-pa-appeal-type-at-listing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-failed-payment-account-deleted-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-failed-payment-account-deleted-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-failed-payment-account-on-hold-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-successful-payment-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-successful-payment-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-HU-failed-payment-account-on-hold-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-PA-failed-payment-account-deleted-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-failed-payment-account-deleted-respondent-review-state.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-failed-payment-account-on-hold-listing-state.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-successful-payment-case-building-state.json.json
  src/functionalTest/resources/scenarios/RIA-3468-pa-appeal-type-pay-now.json
  src/functionalTest/resources/scenarios/RIA-3471-ea-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3471-hu-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3471-pa-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3498-error-on-submit-when-option-is-payNow-for-HU.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-615

#568 RIA-3457 Legal rep and Home office users make an application
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/LaunchDarklyFunctionalTestClient.java
  src/functionalTest/resources/scenarios/RIA-3457-legal-rep-make-an-application.json
  src/functionalTest/resources/scenarios/RIA-3457-respondent-make-an-application.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/UserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplication.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MakeAnApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/UserDetailsProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MakeAnApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-568

#582 RIA-3039: Reinstate appeal flow, move to state before ended
  src/functionalTest/resources/scenarios/RIA-2239-judge-end-appeal.json
  src/functionalTest/resources/scenarios/RIA-3039-end-appeal-state-saved-for-reinstate.json
  src/functionalTest/resources/scenarios/RIA-3039-reinstate-ended-appeal-to-previous-state.json
  src/functionalTest/resources/scenarios/RIA-3039-reinstate-error-if-not-ended-appeal.json
  src/functionalTest/resources/scenarios/RIA-823-end-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/UserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRoleLabel.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReinstateAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/UserDetailsProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRoleLabelTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRoleTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReinstateAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-582

#612 Ria 3155 enable notifications to parties when appeal reinstated
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-612

#627 fix broken link in applications tab
  src/functionalTest/resources/scenarios/RIA-2239-judge-end-appeal.json
  src/functionalTest/resources/scenarios/RIA-823-end-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-627

#598 RIA-3451 CO and Judge decide an application
  src/functionalTest/resources/scenarios/RIA-3451-case-officer-decide-an-application.json
  src/functionalTest/resources/scenarios/RIA-3451-judge-decide-an-application.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplication.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationDecision.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-598

#618 RIA-3712 Case Officer unable to restore an adjourned appeal to a norm…
  src/functionalTest/resources/scenarios/RIA-2957-RIA-2959-RIA-3712-adjourn-without-a-date.json
  src/functionalTest/resources/scenarios/RIA-2957-RIA-3712-adjourn-without-a-date-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdjournWithoutDateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-618

#579 Ria 3453 enable notifications when application online submitted
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-579

#605 Ria 3454 notifications when application online decided
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-605

#621 Update handler to start using the baselocation instead of the staff l…
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-RIA-2739-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2558-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-from-postcode.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-using-default.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Region.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-621

#474 RIA-3338 Configure PACT tests for IDAM
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/IdamConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/NationalityTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-474

#637 Terraform 0.13.4
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-637

#594 RIA-3651 update ftpa tabs when decision set aside and reheard
  src/functionalTest/resources/scenarios/RIA-3651-flag-case-with-ftpa-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard35-case-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaFinalDecisionDisplayProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-594

#604 Ria 3652 direction and state change ftpa decision reheard
  src/functionalTest/resources/scenarios/RIA-3652-request-new-hearing-requirements-case-officer.json
  src/functionalTest/resources/scenarios/RIA-3652-request-new-hearing-requirements-errors-case-officer.json
  src/functionalTest/resources/scenarios/RIA-3652-request-new-hearing-requirements-errors-judge.json
  src/functionalTest/resources/scenarios/RIA-3652-request-new-hearing-requirements-judge.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolver.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionTagResolver.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolverTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionTagResolverTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-604
