Repository hmcts/ia-case-api, pull requests merged in 2020-12, with the labels that each got.

#641 RIA-3686 Legal rep submit appeal with other remission types
  src/functionalTest/resources/scenarios/RIA-3686-submit-appeal-with-legal-aid-remission.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-641

#698 Suppress vulnerability irrelevant to our http client usage
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-698

#652 RIA-3084 Legal rep submits appeal with help with fees
  src/functionalTest/resources/scenarios/RIA-3084-submit-appeal-with-help-with-fees.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-652

#663 RIA-3085: Legal rep submits appeal with Exceptional circumstances remission for fees
  src/functionalTest/resources/scenarios/RIA-1925-upload-decision-letter.json
  src/functionalTest/resources/scenarios/RIA-3085-submit-appeal-with-exceptional-circumstances-remission.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-663

#701 Ria 3690 remission decision notification
  src/functionalTest/resources/scenarios/RIA-3517-record-remission-decision-partially-approved.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-701

#704 update Tomcat version
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-704

#708 Amended feeAmount case field to feeAmountGbp
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3025-successful-payment-for-pa-appeal-type-at-case-building.json
  src/functionalTest/resources/scenarios/RIA-3025-successful-payment-for-pa-appeal-type-at-listing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-failed-payment-account-deleted-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-failed-payment-account-deleted-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-failed-payment-account-on-hold-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-successful-payment-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-successful-payment-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-HU-failed-payment-account-on-hold-pay-now-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-PA-failed-payment-account-deleted-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-failed-payment-account-deleted-respondent-review-state.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-failed-payment-account-on-hold-listing-state.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-successful-payment-case-building-state.json.json
  src/functionalTest/resources/scenarios/RIA-3412-pay-and-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-3468-pa-appeal-type-pay-now.json
  src/functionalTest/resources/scenarios/RIA-3471-ea-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3471-hu-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3471-pa-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3473-mark-hu-appeal-as-paid.json
  src/functionalTest/resources/scenarios/RIA-3473-mark-pa-appeal-as-paid.json
  src/functionalTest/resources/scenarios/RIA-3517-record-remission-decision-approved-validation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-708

#683 RIA-3634 move advanced bundling to documents-api
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-2923-customise-hearing-bundle-preparer.json
  src/functionalTest/resources/scenarios/RIA-2923-customise-hearing-bundle.json
  src/functionalTest/resources/scenarios/RIA-3130-customise-reheard-hearing-bundle-preparer.json
  src/functionalTest/resources/scenarios/RIA-3130-finalBundling-to-preHearing.json
  src/functionalTest/resources/scenarios/RIA-3130-generate-hearing-ready-bundle-stitching-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundlePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseDocumentApiGenerator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundlePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseDocumentApiGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-683

#679 RIA-3829 Record remission decision overview tabs
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-679

#695 RIA-3859 Remission details as collection
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-695

#686 RIA-3709 Request scope UserDetails
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/WithNotificationsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/wiremock/CallbackTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/wiremock/DocumentsApiCallbackTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/wiremock/NotificationsApiCallbackTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/UserDetailsHelper.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/UserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddCaseNoteHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ForceCaseProgressionToCaseUnderReviewHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ForceCaseToSubmitHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/ProfessionalUsersRetriever.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsHelper.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddCaseNoteHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ForceCaseProgressionToCaseUnderReviewHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ForceCaseToSubmitHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/BundleRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/ProfessionalUsersRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-686

#713 RIA-3634: Fix for customise hearing bundle to pre-populate the documents
  src/functionalTest/resources/scenarios/RIA-3634-customise-hearing-bundle-about-to-start.json
  src/functionalTest/resources/scenarios/RIA-3634-customise-hearing-bundle.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundlePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundlePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-713

#707 RIA-3849 cleanup after migration to Postgresql 11
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-707

#714 RIA-3885:Fix mutation test
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-714
