Repository hmcts/ia-case-api, pull requests merged in 2020-03, with the labels that each got.

#275 RIA-1360 Judge role
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-RIA-1360-current-case-state-example1.json
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-RIA-1360-current-case-state-example2.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CurrentCaseStateUpdater.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CurrentCaseStateUpdaterTest.java
Labels: ns:ia, rel:ia-case-api-pr-275

#309 update postgres port to match ia-docker configuration
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-api-pr-309

#284 RIA-2468 share case validation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-2468-share-case-validation.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/RefDataIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ShareACasePermissionsHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ShareACasePermissionsHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-284

#282 RIA-2555 hearing requirements missing flag exceptions handled
  src/functionalTest/resources/scenarios/RIA-2555-hearing-requirements-missing-flag .json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
Labels: ns:ia, rel:ia-case-api-pr-282

#298 RIA-2620 upload hearing recording
  src/functionalTest/resources/scenarios/RIA-2620-upload-hearing-recording-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadHearingRecordingConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadHearingRecordingConfirmationTest.java
Labels: ns:ia, rel:ia-case-api-pr-298

#308 RIA-2723 New event - Send to preHearing state
  src/functionalTest/resources/scenarios/RIA-2723-case-data-maintained-in-pre-hearing-state-change.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, rel:ia-case-api-pr-308

#288 Ria 1280 judge generate decisions
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-1280-generate-decision-and-reasons-judge.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/GenerateDecisionAndReasonsConfirmation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/GenerateDecisionAndReasonsConfirmationTest.java
Labels: ns:ia, rel:ia-case-api-pr-288

#285 Ria 2239 judge end appeal
  src/functionalTest/resources/scenarios/RIA-2239-judge-end-appeal.json
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-api-pr-285

#299 Ria 1939 judge upload decision
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmationTest.java
Labels: ns:ia, rel:ia-case-api-pr-299

#294 Ria 2240 due date judge
  src/functionalTest/resources/scenarios/RIA-2240-change-direction-due-date-start-judge.json
  src/functionalTest/resources/scenarios/RIA-2240-change-direction-due-date-submit-judge.json
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-api-pr-294

#312 RIA-2526 downstream services health check
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/HealthCheckConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/health/DownStreamHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/health/ServiceHealthIndicator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/health/DownStreamHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/health/ServiceHealthIndicatorTest.java
Labels: ns:ia, rel:ia-case-api-pr-312

#289 RIA-1906 smoke test improvement
  src/smokeTest/java/uk/gov/hmcts/reform/iacaseapi/SmokeTest.java
Labels: ns:ia, rel:ia-case-api-pr-289

#300 RIA-2646 case details on exception logging
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDatePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/AsylumCaseRequestAdapter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDatePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/CallbackControllerAdviceTest.java
Labels: ns:ia, rel:ia-case-api-pr-300

#311 RIA-1400 appeal exited online
  src/functionalTest/resources/scenarios/RIA-1147-RIA-1400-exit-appeal-from-the-online-service.json
  src/functionalTest/resources/scenarios/RIA-1147-exit-appeal-from-the-online-service.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-311

#292 Ria 2208
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/resources/scenarios/RIA-2208-add-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-2208-add-case-note-to-judge.json
  src/functionalTest/resources/scenarios/RIA-2208-send-non-standard-direction_judge.json
  src/functionalTest/resources/scenarios/RIA-2239-judge-end-appeal.json
  src/functionalTest/resources/scenarios/RIA-823-end-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-292

#310 RIA-2634: Change of designated hearing centre
  src/functionalTest/resources/scenarios/RIA-2634-change-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplicationType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-310

#319 RIA-2558: Change hearing centre
  src/functionalTest/resources/scenarios/RIA-2558-change-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeHearingCentreConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeHearingCentreConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-319

#324 RIA-2833: Change hearing centre
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-324

#328 RIA-2644: Sending notifcation to legal rep about change of hearing centre
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-change-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-328

#329 RIA-2739: Sending notification to hearing centre
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-RIA-2739-change-hearing-centre.json
Labels: ns:ia, rel:ia-case-api-pr-329

#313 Ria 1293 ftpa appellant
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-in-time-submit.json
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-out-of-time-submission-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-out-of-time-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/FtpaAppellantConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/FtpaAppellantConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparerTest.java
Labels: ns:ia, rel:ia-case-api-pr-313

#314 RIA-1373 notification of ftpa application submitted
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-314
