Repository hmcts/ia-case-api, pull requests merged in 2020-07, with the labels that each got.

#462 added event for decision without hearing
  src/functionalTest/resources/scenarios/RIA-2122-decision-without-hearing.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-462

#467 RIA-3389 Accept non-standard HO refs
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-letter-plus-seven-digits.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-non-standard.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-without-slash.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter.json
  src/functionalTest/resources/scenarios/RIA-730-RIA-971-home-office-truncator.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-467

#468 fix vulnerability
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-468

#359 RIA-2918 make changes to hide save and continue and fix unit test
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-confirmation-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-confirmation-feature-enabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-initial-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-initial-feature-enabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-replace-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-replace-feature-enabled.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-case-stitching-save-and-continue-disabled.json.ignore
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-case-stitching-save-and-continue-enabled.json
  src/functionalTest/resources/scenarios/RIA-517-case-submitted-confirmation-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-517-case-submitted-confirmation-feature-enabled.json
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-case-building-not-ready-for-submission.json
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-case-building-ready-for-submission.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/BuildCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CaseSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/BuildCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CaseSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-359

#457 RIA-3021 - Review Cma Requirements
  src/functionalTest/resources/scenarios/RIA-3021-review-cma-requirements.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/HearingType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewCmaRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewCmaRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewCmaRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitCmaRequirementsHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewCmaRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewCmaRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewCmaRequirementsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitCmaRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-457

#471 Fix to submit existing cases
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-case-stitching-save-and-continue-disabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-471

#466 RIA-3022 - List Cma
  src/functionalTest/resources/scenarios/RIA-3022-list-cma-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3022-list-cma-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCmaConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCmaPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCmaConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCmaPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-466

#441 RIA-3091-Update-Details-After-Appointment
  src/functionalTest/resources/scenarios/RIA-3091-update-cma-appointment-admin.json
  src/functionalTest/resources/scenarios/RIA-3091-update-cma-appointment.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplicationType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateAppointmentAfterCmaConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateAppointmentAfterCmaHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateAppointmentAfterCmaConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateAppointmentAfterCmaHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-441

#340 RIA-1359: Record application for editing appeal after submit.
  src/functionalTest/resources/scenarios/RIA-1359-edit-appeal-after-submit-in-time-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1359-edit-appeal-after-submit-in-time-submit.json
  src/functionalTest/resources/scenarios/RIA-1359-edit-appeal-after-submit-out-of-time-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1359-record-edit-appeal-after-submit-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-RIA-1500-record-granted-time-extension-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-withdraw-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-refused-application-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplicationType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditAppealAfterSubmitConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditAppealAfterSubmitConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-340

#341 RIA-2338: Send notification for edit appeal after submit event
  src/functionalTest/resources/scenarios/RIA-2338-edit-appeal-after-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-341

#482 RIA-3420_Nighly_Build_Fix
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-482

#344 RIA-1497: Send notification to respondent for edit appeal after submit event
  src/functionalTest/resources/scenarios/RIA-1359-RIA-1497-RIA-2338-edit-appeal-after-submit-in-time-submit.json
  src/functionalTest/resources/scenarios/RIA-2338-edit-appeal-after-submit.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-344

#450 RIA-3291 add event and permissions
  src/functionalTest/resources/scenarios/RIA-3291-link-appeal-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3291-unlink-appeal-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3291-unlink-appeal-preparer.json
  src/functionalTest/resources/scenarios/RIA-3291-unlink-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReasonForLinkAppealOptions.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/LinkAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/UnlinkAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealPreparerHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/LinkAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/UnlinkAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealPreparerHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-450

#453 RIA-3295 add link and unlink event to the sendNotification handler
  src/functionalTest/resources/scenarios/RIA-3291-RIA-3295-unlink-appeal.json
  src/functionalTest/resources/scenarios/RIA-3295-link-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReasonForLinkAppealOptions.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-453

#455 RIA-3329 Feature/ria 3329 link unlink ho notification
  src/functionalTest/resources/scenarios/RIA-3291-RIA-3295-RIA-3329-unlink-appeal.json
  src/functionalTest/resources/scenarios/RIA-3295-RIA-3329-link-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-455

#451 RIA-2935_PBA_Payment
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3252-EA-appeal-fee-pay-later.json
  src/functionalTest/resources/scenarios/RIA-635-appeal-saved-confirmation-edit.json
  src/functionalTest/resources/scenarios/RIA-815-appeal-saved-confirmation-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumCaseFeePaymentService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FeePayment.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumCaseFeePaymentServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-451

#386 Feature/ria 3096 minor flag after submission
  src/functionalTest/resources/scenarios/RIA-3079-flag-case-as-minor-edit-appeal-after-submission.json
  src/functionalTest/resources/scenarios/RIA-3079-flag-case-as-minor-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-3079-flag-case-as-no-minor-edit-appeal-after-submission.json
  src/functionalTest/resources/scenarios/RIA-3079-flag-case-as-no-minor-submit-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-386

#424 bug fix
  build.gradle
  src/functionalTest/resources/scenarios/RIA-3298-remove-deport-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-424

#330 Feature/ria 2830 doc removed notification
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditDocsCaseNoteServiceTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsCaseNoteService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-330

#469 RIA-3023: CMA Listed
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-469

#497 fix notification id
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-497

#477 RIA-3439 Upgrading to Java11
  .travis.yml
  Dockerfile
  build.gradle
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseAmendHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/AsylumCaseTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-477

#495 RIA-3478: Dates to avoid Read only field.
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DatesToAvoid.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewCmaRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DatesToAvoidTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewCmaRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-495

#442 RIA-2951 gradle version bumped to v6.5
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-442

#501 RIA-3479 upgrade pitest verion forjava11
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-501

#336 [Do Not Merge]RIA-2774 Force case progression from awaitingRespondentEvidence to caseBuilding
  src/functionalTest/resources/scenarios/RIA-2774-force-request-case-building.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestCaseBuildingConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolver.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionTagResolver.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetails.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestCaseBuildingConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-336
