Repository hmcts/ia-case-api, pull requests merged in 2020-09, with the labels that each got.

#545 suppress security vulnerability in Launch Darkly
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-545

#553 Sonar fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/health/ServiceHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/RequestUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-553

#511 RIA-2323: Adding new hearing centres [Re-opened]
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-disabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-enabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-disabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-enabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-3317-derive-hearing-center-from-postcode-newcastle.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinder.java
  src/main/resources/application-postcodes.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-511

#493 change confirmation content
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/RecordAttendeesAndDurationTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingAttendeesAndDurationRecordedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingAttendeesAndDurationRecordedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-493

#554 RIA-3271: Home Office validation flow
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/resources/scenarios/RIA-3271-home-office-integration-flag-set.json
  src/functionalTest/resources/scenarios/RIA-3271-home-office-response-for-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ContactPreference.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/CodeWithDescription.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/DecisionCommunication.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeError.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeMetadata.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeSearchResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/MessageHeader.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/Person.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/RejectionReason.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HomeOfficeApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HomeOfficeApiService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ContactPreferenceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/ApplicationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/CodeWithDescriptionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/DecisionCommunicationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeCaseStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeErrorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/HomeOfficeSearchResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/MessageHeaderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/PersonTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/homeoffice/RejectionReasonTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HomeOfficeApiServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-554

#556 removed HO integration api health check as it is not in prod yet
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-556

#514 Ria 3498 error msg submit
  src/functionalTest/resources/scenarios/RIA-3498-error-on-submit-when-option-is-payNow-for-HU.json
  src/functionalTest/resources/scenarios/RIA-3498-error-on-submit-when-option-is-payNow-for-PA.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-514

#473 RIA-3163 make a payment after submit appeal
  src/functionalTest/resources/scenarios/RIA-3163-PA-failed-payment-account-deleted-respondent-review-state.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-failed-payment-account-on-hold-listing-state.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-successful-payment-case-building-state.json.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealPaymentConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealPaymentConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-473

#509 RIA-3366: UploadAddendumEvidence for Admin Officers
  src/functionalTest/resources/scenarios/RIA-3366-upload-addendum-evidence-admin-action-available.json
  src/functionalTest/resources/scenarios/RIA-3366-upload-addendum-evidence-admin-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3366-upload-addendum-evidence-admin-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadAddendumEvidenceConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceActionAvailableUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHomeOfficeAdminOfficerHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadAddendumEvidenceConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceActionAvailableUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHomeOfficeAdminOfficerHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-509

#521 Ria 3409 avoid pay twice
  src/functionalTest/resources/scenarios/RIA-3409-error-on-payment-when-appeal-in-paidStatus.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePayAndSubmitPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePayAndSubmitPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-521

#478 RIA-3025 notification of pending payment (after appeal submitted)
  src/functionalTest/resources/scenarios/RIA-3025-successful-payment-for-pa-appeal-type-at-case-building.json
  src/functionalTest/resources/scenarios/RIA-3025-successful-payment-for-pa-appeal-type-at-listing.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-478

#430 Pick up stateless and populate nationalities
  src/functionalTest/resources/scenarios/RIA-2010-add-stateless-edit-appeal.json
  src/functionalTest/resources/scenarios/RIA-2010-add-stateless-start-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StatelessHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StatelessHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-430

#555 RWA-87-Get staff location
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-RIA-2739-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2558-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-from-postcode.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-using-default.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Location.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/utils/StaffLocation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/utils/StaffLocationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-555

#564 RIA-2536 notification of application refused
  src/functionalTest/resources/scenarios/RIA-1278-upload-additional-evidence-ho-action-available.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-transfer-application.json
  src/functionalTest/resources/scenarios/RIA-1485-record-granted-withdraw-application.json
  src/functionalTest/resources/scenarios/RIA-1485-record-refused-application.json
  src/functionalTest/resources/scenarios/RIA-1935-upload-addendum-evidence-ho-submit.json
  src/functionalTest/resources/scenarios/RIA-2373-record-granted-update-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-2374-update-hearing-adjustments.json
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-RIA-2739-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2558-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
  src/functionalTest/resources/scenarios/RIA-2960-restore-case-state.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-564

#486 RIA-3341: Fixed NPE on edit documents and added midevent handler for…
  src/functionalTest/resources/scenarios/RIA-3341-edit-documents-mid-event-error.json
  src/functionalTest/resources/scenarios/RIA-33411-edit-documents-mid-event.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-486

#535 RIA-3275 fixing duplicate direction
  src/functionalTest/resources/scenarios/RIA-3275-fixing-duplicate-directions.json
  src/functionalTest/resources/scenarios/RIA-697-add-appeal-response-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddAppealResponseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddAppealResponseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-535

#465 RIA-3392 Delete sensitive documents
  src/functionalTest/resources/scenarios/RIA-3059-upload-sensitive-documents-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3391-view-sensitive-documents.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadSensitiveDocsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadSensitiveDocsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DocumentReceiver.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UploadSensitiveDocsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadSensitiveDocsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DocumentReceiverTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-465

#532 Ria 3434 pay offline by card pa
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-later-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-fee-pay-now-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3252-EA-appeal-fee-pay-later.json
  src/functionalTest/resources/scenarios/RIA-3412-pay-and-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-3468-pa-appeal-type-pay-now.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePayAndSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentDisplayProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePayAndSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentDisplayProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-532

#533 Ria 3278 state payment pending
  src/functionalTest/resources/scenarios/RIA-3278-appeal-fee-pay-later-EA-change-state-to-payment-pending-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3278-appeal-fee-pay-later-EA-change-state-to-payment-pending-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3278-appeal-fee-pay-later-HU-change-state-to-payment-pending-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3278-appeal-fee-pay-later-PA-change-state-to-appeal-submitted-with-hearing.json
  src/functionalTest/resources/scenarios/RIA-3278-appeal-fee-pay-later-PA-change-state-to-appeal-submitted-without-hearing.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-533

#492 RIA-3447 updated labels
  src/functionalTest/resources/scenarios/RIA-2957-adjourn-without-a-date-confirmation.json
  src/functionalTest/resources/scenarios/RIA-362-edit-case-listing-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditCaseListingConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditCaseListingConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-492

#565 TAB-3103 Send notification when Request response amend
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-565

#510 RIA-3348 Rename case note subject
  .gitignore
  build.gradle
  lombok.config
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditDocsCaseNoteServiceTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/AuditDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsCaseNoteService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-510

#491 RIA-2903 Open Id implementation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/GenerateDecisionAndReasonsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/RecordAttendeesAndDurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/GivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/IaCaseApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/TestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/UserDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumCaseDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/CcdEventAuthorizorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/AuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/SpringAuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/SystemUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumCaseDataFixingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/SpringAuthorizedRolesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/SystemUserAccessTokenProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-491

#550 RIA-3473 mark appeal as paid for appeal types EA/HU/PA
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-3473-mark-hu-appeal-as-paid.json
  src/functionalTest/resources/scenarios/RIA-3473-mark-pa-appeal-as-paid.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealPaidConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidStateHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/PaymentStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealPaidConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-550

#560 Ria 3219 enable notification when appeal marked as paid
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-560

#559 RIA-3574 duplicate payment handling
  src/functionalTest/resources/scenarios/RIA-3574-pa-duplicate-payment-error.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-559

#562 RIA-3583 Updated the AppealReferenceNumberHandler dispatch priority to earliest
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-562

#548 Ria 3471 out of time
  src/functionalTest/resources/scenarios/RIA-3471-ea-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3471-hu-appeal-type-pay-now-ou-of-time.json
  src/functionalTest/resources/scenarios/RIA-3471-pa-appeal-type-pay-now-ou-of-time.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealPayAndSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealPayAndSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-548
