Repository hmcts/ia-case-api, pull requests merged in 2020-05, with the labels that each got.

#384 fix ccd url
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, rel:ia-case-api-pr-384

#393 Fixes CVE-2020-9488, CVE-2020-9488
  build.gradle
Labels: ns:ia, rel:ia-case-api-pr-393

#385 RIA-2864 Clarifying Questions
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-1845-upload-addendum-evidence-legal-rep-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2864-ConfirmClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-2864-HandleClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-2864-PrepairClarifyingQuestions.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ClarifyingQuestion.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Direction.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDirectionWithQuestionsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDirectionWithQuestionsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionAppenderTest.java
Labels: ns:ia, rel:ia-case-api-pr-385

#363 RIA-1742: Adding flags to cases
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-anonymity-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-complex-case-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-detained-immigration-appeal-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-foreign-national-offender-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-potentially-violent-person-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-unacceptable-customer-behaviour-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-unaccompanied-minor-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/FlagCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseFlagAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/FlagCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseFlagAppenderTest.java
Labels: ns:ia, rel:ia-case-api-pr-363

#383 Feature/ria 3079 minor flag
  src/functionalTest/resources/scenarios/RIA-3079-flag-minor-cases.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-383

#362 RIA-1897: Sending a notification to legal rep when case officer requests HO evidence
  src/functionalTest/resources/scenarios/RIA-893-RIA-1897-send-home-office-evidence-direction.json
Labels: ns:ia, rel:ia-case-api-pr-362

#366 RIA-2513: Removing flags
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag-preparer.json
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/RemoveFlagConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/RemoveFlagConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagPreparerTest.java
Labels: ns:ia, rel:ia-case-api-pr-366

#360 RIA-1898: Notification to legal representative on request respondent review event
  src/functionalTest/resources/scenarios/RIA-722-RIA-1898-send-respondent-review-direction.json
Labels: ns:ia, rel:ia-case-api-pr-360

#389 RIA-2964: Fixed issue of displaying old grounds of appeals under 'App…
  src/functionalTest/resources/scenarios/RIA-230-protection-grounds.json
  src/functionalTest/resources/scenarios/RIA-236-revocation-grounds.json
  src/functionalTest/resources/scenarios/RIA-2733-start-appeal-journey-update.json
  src/functionalTest/resources/scenarios/RIA-583-draft-appeal-reference.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatterTest.java
Labels: ns:ia, rel:ia-case-api-pr-389

#368 Ria 2878 update time extension due date
  src/functionalTest/resources/scenarios/RIA-2829-PrepairTimeExtension.json
  src/functionalTest/resources/scenarios/RIA-2829-ReviewTimeExtension.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/TimeExtension.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewTimeExtensionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DateAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewTimeExtensionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-368

#399 Ria 2301 view clarifying answers
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionsHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-399

#397 RIA-3017 TCW requests CMA requirements
  src/functionalTest/resources/scenarios/RIA-3017-ConfirmCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-3017-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-3017-PrepairCmaRequirements.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestCmaRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestCmaRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsPreparerTest.java
Labels: ns:ia, rel:ia-case-api-pr-397

#401 RIA-2873: time extension submission re-write
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-2829-PrepairTimeExtension.json
  src/functionalTest/resources/scenarios/RIA-2829-ReviewTimeExtension.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/TimeExtensionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/TimeExtensionAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/TimeExtensionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/TimeExtensionAppenderTest.java
Labels: ns:ia, rel:ia-case-api-pr-401

#343 RIA-2715 errors logging as traces
  src/functionalTest/resources/scenarios/RIA-2715-appeal-submitted-access-denied-exception.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/CcdEventAuthorizor.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseEventValidForJourneyTypeCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/util/LoggerUtil.java
Labels: ns:ia, rel:ia-case-api-pr-343

#406 RIA-2307: Request Clarifying Questions & Submit
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, rel:ia-case-api-pr-406

#412 Removing installCharts()
  Jenkinsfile_CNP
Labels: ns:ia, rel:ia-case-api-pr-412

#413 RIA-3171 failing nightly builds
  audit.json
Labels: ns:ia, rel:ia-case-api-pr-413

#414 nightly build fix: additional false positive fingerprints
  audit.json
Labels: ns:ia, rel:ia-case-api-pr-414

#411 RIA-3257 old appeal-grounds lost after edit
  build.gradle
  src/functionalTest/resources/scenarios/RIA-236-revocation-grounds.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatterTest.java
Labels: ns:ia, rel:ia-case-api-pr-411

#408 RIA-921 automatic direction
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-921-automatic-direction.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/Scheduler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceScheduler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/TimedEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/ServiceTokenGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceSchedulerTest.java
Labels: ns:ia, rel:ia-case-api-pr-408

#417 nightly build fix --securityrules config and additional parameters
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:ia, rel:ia-case-api-pr-417

#420 nightly-build-fix: script parameter fix
  audit.json
  security.sh
Labels: ns:ia, rel:ia-case-api-pr-420
