Repository hmcts/ia-case-api, pull requests merged in 2020-11, with the labels that each got.

#504 RIA-3495 health check for timed event service
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-504

#660 fix functional tests - add missing property
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-in-time-submit.json
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-out-of-time-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-in-time-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-in-time-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-homeoffice-pou-submit.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-660

#611 Ria 3555 new hearing requirements submitted
  src/functionalTest/resources/scenarios/RIA-3555-submit-new-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-3652-RIA-3555-request-new-hearing-requirements-case-officer.json
  src/functionalTest/resources/scenarios/RIA-3652-RIA-3555-request-new-hearing-requirements-judge.json
  src/functionalTest/resources/scenarios/RIA-3652-request-new-hearing-requirements-case-officer.json
  src/functionalTest/resources/scenarios/RIA-3652-request-new-hearing-requirements-judge.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearing.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PreviousHearingAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearingTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PreviousHearingAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-611

#625 Ria 3582 tcw review requirements
  src/functionalTest/resources/scenarios/RIA-3582-record-agreed-hearing-requirements-ftpa-reheard.json
  src/functionalTest/resources/scenarios/RIA-3582-record-agreed-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-3582-review-submit-hearing-adjustments-cleared-adjustments.json
  src/functionalTest/resources/scenarios/RIA-3582-review-submit-hearing-adjustments-current-adjustments-standard-appeal.json
  src/functionalTest/resources/scenarios/RIA-3582-review-submit-hearing-adjustments-current-adjustments.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearing.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearingTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-625

#640 Ria 3386 reheard hearing requirements not submitted
  src/functionalTest/resources/scenarios/RIA-3386-list-case-ftpa-reheard-without-hearing-requirements-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3386-list-case-without-hearing-requirements-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3386-list-case-without-hearing-requirements-flag-on.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingConductionOptions.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingConductionOptionsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-640

#662 RIA-3783: Home Office CID reference number zero padding changes
  src/functionalTest/resources/scenarios/RIA-3783-home-office-reference-cid-padding-edit-appeal.json
  src/functionalTest/resources/scenarios/RIA-3783-home-office-reference-cid-padding.json
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-662

#647 RIA-3129 Create case summary has part of reheard
  src/functionalTest/resources/scenarios/RIA-3129-create-case-summary-for-reheard.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-647

#658 Ria 3763 remove requests and requirements from previous hearings
  src/functionalTest/resources/scenarios/RIA-3555-RIA-3763-submit-new-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-3582-RIA-3763-review-submit-hearing-adjustments-cleared-adjustments.json
  src/functionalTest/resources/scenarios/RIA-3582-RIA-3763-review-submit-hearing-adjustments-current-adjustments-standard-appeal.json
  src/functionalTest/resources/scenarios/RIA-3582-RIA-3763-review-submit-hearing-adjustments-current-adjustments.json
  src/functionalTest/resources/scenarios/RIA-3763-list-case-without-hearing-requirements-no-requirements-exist-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3763-list-case-without-hearing-requirements-single-requirements-exist-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3763-submit-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-submit-reheard-hearing-requirements-multiple-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-submit-reheard-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-hearing-requirements-case-officer-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-reheard-hearing-requirements-multiple-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-reheard-hearing-requirements-single-requirements-exist.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearing.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PreviousRequirementsAndRequestsAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearingTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PreviousRequirementsAndRequestsAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-658

#667 Ria 3784 remove recordings from previous hearings
  src/functionalTest/resources/scenarios/RIA-3555-RIA-3763-RIA-3784-submit-new-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-3582-RIA-3763-RIA-3784-review-submit-hearing-adjustments-cleared-adjustments.json
  src/functionalTest/resources/scenarios/RIA-3582-RIA-3763-RIA-3784-review-submit-hearing-adjustments-current-adjustments-standard-appeal.json
  src/functionalTest/resources/scenarios/RIA-3582-RIA-3763-RIA-3784-review-submit-hearing-adjustments-current-adjustments.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearing.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearingTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-667

#643 Ria 3130 final bundling to pre hearing
  src/functionalTest/resources/scenarios/RIA-3130-customise-reheard-hearing-bundle-preparer.json
  src/functionalTest/resources/scenarios/RIA-3130-finalBundling-to-preHearing.json
  src/functionalTest/resources/scenarios/RIA-3130-generate-hearing-ready-bundle-stitching-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundlePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAdditionalEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAdditionalEvidenceHomeOfficeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundlePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAdditionalEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAdditionalEvidenceHomeOfficeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-643

#646 Ria 3131 pre hearing to decision
  src/functionalTest/resources/scenarios/RIA-3131-ftpa-reheard-prepare-decision-and-reasons-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3131-ftpa-reheard-start-decision-and-reasons-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3131-normal-case-prepare-decision-and-reasons-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3131-normal-case-start-decision-and-reasons-flag-on.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsGeneratedPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsGeneratedPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-646

#650 Ria 3132 decision to decided
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-appellant-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-respondent-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-send-decision-and-reasons-start.json
  src/functionalTest/resources/scenarios/RIA-3132-send-decision-and-reasons-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-650

#671 RIA-3130 restore addendum after reheard hearing generation
  src/functionalTest/resources/scenarios/RIA-3130-finalBundling-to-preHearing.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustomiseHearingBundleHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-671

#672 RIA-3683-RIA-3784 fix - clear pre-populated fields
  src/functionalTest/resources/scenarios/RIA-3683-list-case-start-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3683-list-reheard-case-start-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3683-list-reheard-case-start-flag-on.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-672

#648 RIA-3701 postgresql 11 and feature flag switch
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-648

#632 RIA-3516 RP and DC appeal types hearing options
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-632

#628 RIA-3088 LegalRep submits appeal with a remission
  src/functionalTest/resources/scenarios/RIA-3088-submit-appeal-with-remission.json
  src/functionalTest/resources/scenarios/RIA-515-lodge-appeal-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePayAndSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentDisplayProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePayAndSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentDisplayProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeePaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-628

#629 Ria 137 allocate a case to me
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RWA-137-Allocate-a-case-to-me.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/ActorIdType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/Classification.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/GrantType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RequestedRoles.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleRequest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AllocateTheCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AllocateTheCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DisableAllocateTheCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AllocateTheCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AllocateTheCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DisableAllocateTheCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-629

#684 Postgresql migration to version 11
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-684
