Repository hmcts/ia-case-api, pull requests merged in 2021-03, with the labels that each got.

#762 Ria 3861 ooc refuse
  src/functionalTest/resources/scenarios/RIA-3861-out-of-country-non-sponsor-client-left-country.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-762

#754 RIA-3851: Add sponsor for OOC
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-company-address-derive-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-no-company-address-default-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-sponsor-address-derive-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-3851-out-of-country-sponsor-start-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-754

#761 Ria 3954 ooc out of time
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-appellant-in-time-flag-off-submit-ooc.json
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-appellant-out-of-time-flag-on-submit-ooc.json
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-respondent-in-time-flag-set-homeoffice-generic-ooc.json
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-respondent-out-of-time-flag-set-homeoffice-generic-ooc.json
  src/functionalTest/resources/scenarios/RIA-3954-out-of-country-submission-in-time-for-refusal-of-human-rights.json
  src/functionalTest/resources/scenarios/RIA-3954-out-of-country-submission-out-of-time-for-refusal-of-human-rights.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfCountryDecisionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-761

#767 RIA-3878: Edit appeal for Out of country appeal
  src/functionalTest/resources/scenarios/RIA-3878-out-of-country-edit-appeal-to-in-country.json
  src/functionalTest/resources/scenarios/RIA-3878-out-of-country-edit-appeal-to-out-country.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-767

#809 Task/allocate the case fix
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerRefDataMock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerServiceTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/case-worker-ref-data-response.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/DisableHystrixFeignConfiguration.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-809

#733 RIA-3827_ooc_content
  src/functionalTest/resources/scenarios/RIA-3827-add_appeal-response-ooc-appeal.json
  src/functionalTest/resources/scenarios/RIA-3827-add_appeal-response-uk-appeal.json
  src/functionalTest/resources/scenarios/RIA-3827-request-response-review-ooc-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoLegalRepresentativeReviewDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoLegalRepresentativeReviewDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-733

#792 RIA-4056 Upgrade spring-boot to 2.3.5
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-792

#811 Task/adjust ref date response to snake case
  src/functionalTest/resources/scenarios/RWA-318-Allocate-a-case-to-caseworker-midevent.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerServiceTest.java
  src/integrationTest/resources/case-worker-ref-data-response.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/refdata/CaseWorkerProfile.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-811

#804 HMCTS java gradle plugin + removing suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-804

#790 RIA-4055 Upgrade apache.httpcomponents/httpclient to 4.5.13
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-790

#816 Rwa 391 role assignment
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/entities/AssignmentTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/ActorIdType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/Classification.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/GrantType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleType.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-816

#800 RIA-4054 Upgrade launchdarkly version to 5.2.2 and Guava to 30.0
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/LaunchDarklyFunctionalTestClient.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/FeatureToggleConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadSensitiveDocsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-800

#817 clear field from the case to reset values
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToMeHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToMeHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-817

#823 RIA-4121 Upgrade Tomcat version from 9.0.40 to 9.0.43
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-823

#788 RIA-4070 Upgrade guava version 30.0
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-decided.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PostSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/WelcomeController.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-788

#830 RIA-3305_ho_Stitching_complete_fix
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-decided.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-830

#803 RIA-3865: Added Section 94B - Out of Country as one of flag a case entry
  src/functionalTest/resources/scenarios/RIA-3865-flag-case-with-s94b-out-of-country-flag.json
  src/functionalTest/resources/scenarios/RIA-3865-remove-flag-s94b-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-803

#805 Ria 3761
  src/functionalTest/resources/scenarios/RIA-3761-no-appellant-address-default to legal-rep-address-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-805

#820 RIA-4094
  src/functionalTest/resources/scenarios/RIA-4094-out-of-country-edit-appeal-after-submit-to-out-country-respondent.json
  src/functionalTest/resources/scenarios/RIA-4094-out-of-country-edit-appeal-after-submit-to-out-country.json
  src/functionalTest/resources/scenarios/RIA-4094-out-of-country-edit-appeal-to-in-country-co.json
  src/functionalTest/resources/scenarios/RIA-4094-out-of-country-edit-appeal-to-in-country-judge.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-820

#779 Ria 3720
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-779

#838 Additional logs added for Out Of Country handlers for traceability
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-838

#822 Consumer contract tests
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/IdamConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/AssignCaseAccessConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdCaseAssignmentConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdCaseAssignmentProviderBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/idam/IdamConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/ProfessionalOrganisationConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/ProfessionalUsersConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/RefDataConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/RefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/logback-test.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignment.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-822
