Repository hmcts/ia-case-api, pull requests merged in 2021-08, with the labels that each got.

#839 RIA-4238 OoC - Update time period allowed for Request Hearing Reqs/Re…
  src/functionalTest/resources/scenarios/RIA-3827-RIA-4238-add_appeal-response-ooc-appeal.json
  src/functionalTest/resources/scenarios/RIA-3827-RIA-4238-request-response-review-ooc-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoLegalRepresentativeReviewDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoLegalRepresentativeReviewDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-839

#934 RIA-4557 Request HomeOffice data of the matching appellant details
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-send-home-office-evidence-direction.json
  src/functionalTest/resources/scenarios/RIA-892-RIA-2694-request-respondent-evidence-start.json
  src/functionalTest/resources/scenarios/RIA-892-request-respondent-evidence-confirmation.json
  src/functionalTest/resources/scenarios/RIA-892-request-respondent-evidence-submit.json
  src/functionalTest/resources/scenarios/RIA-893-RIA-1897-send-home-office-evidence-direction.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestHomeOfficeDataConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipEditAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeRequestHomeOfficeDataPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HomeOfficeApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HomeOfficeApiService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestHomeOfficeDataConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipEditAppealPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeRequestHomeOfficeDataPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HomeOfficeApiServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-934

#962 RIA-4556 Request Home Office data event retry
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeRequestHomeOfficeDataPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeRequestHomeOfficeDataPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-962

#966 add ingress host + suppress CVE
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-966

#920 RIA-3734-belfast Create different lists for designated hearing centre…
  src/functionalTest/resources/scenarios/RIA-3734-case-listing-belfast-hearing-venue.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinder.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-920

#968 RIA-3734 select GlasgowTribunals for Glasgow hearing centre
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/utils/StaffLocation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/utils/StaffLocationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-968
