Repository hmcts/ia-case-api, pull requests merged in 2021-11, with the labels that each got.

#999 fix: temp suppress cve-2021-22096
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-999

#1000 Ria 4911 ria 4774 integration
  src/functionalTest/resources/scenarios/RIA-4471-RIA-4774-RIA-4911-edit-payment-method-to-pay-by-card-eu-appeal.json
  src/functionalTest/resources/scenarios/RIA-4471-RIA-4774-RIA-4911-edit-payment-method-to-pay-by-card-hu-appeal.json
  src/functionalTest/resources/scenarios/RIA-4471-RIA-4774-RIA-4911-edit-payment-method-to-pay-by-card-pa-appeal.json
  src/functionalTest/resources/scenarios/RIA-4471-RIA-4774-RIA-4911-error-on-edit-payment-method-payment-paid.json
  src/functionalTest/resources/scenarios/RIA-4471-RIA-4774-RIA-4911-error-on-edit-payment-method-payment-pending.json
  src/functionalTest/resources/scenarios/RIA-4911-error-on-edit-payment-method-payment-failed-inflight-appeals-without-remissions.json
  src/functionalTest/resources/scenarios/RIA-4911-error-on-edit-payment-method-payment-pending-remission-approved.json
  src/functionalTest/resources/scenarios/RIA-4911-error-on-edit-payment-method-payment-pending-remission-part-approved.json
  src/functionalTest/resources/scenarios/RIA-4911-no-error-on-edit-payment-method-payment-pending-inflight-appeals-without-remissions.json
  src/functionalTest/resources/scenarios/RIA-4911-no-error-on-edit-payment-method-payment-pending-remission-rejected.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/EditPaymentMethodPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/RollbackPaymentPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/EditPaymentMethodPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/RollbackPaymentPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1000

#995 RIA-4801 AIP appeal fee lookup
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeesHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-995

#990 RIA-4798 New case flag for Appeal on hold
  src/functionalTest/resources/scenarios/RIA-3084-submit-appeal-with-help-with-fees.json
  src/functionalTest/resources/scenarios/RIA-4437-pay-and-submit-about-to-start.json
  src/functionalTest/resources/scenarios/RIA-4798-flag-case-with-appeal-on-hold.json
  src/functionalTest/resources/scenarios/RIA-4798-remove-case-flag-appeal-on-hold.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-990

#987 RIA-4747_link
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkEvidenceAsReviewedActionAvailableUpdater.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkEvidenceAsReviewedActionAvailableUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-987

#1006 RIA-4748 Place all notifications to caseworkers behind a feature flag
  src/functionalTest/resources/scenarios/RIA-2176-build-case-legal-rep-list-uploaded-files-about_to_start.json
  src/functionalTest/resources/scenarios/RIA-2558-RIA-2644-RIA-2739-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2957-RIA-2959-RIA-3712-adjourn-without-a-date.json
  src/functionalTest/resources/scenarios/RIA-365-notify-case-officers-of-submitted-appeal.json
  src/functionalTest/resources/scenarios/RIA-3683-list-case-submit-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3683-list-case-submit-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3683-list-reheard-case-submit.json
  src/functionalTest/resources/scenarios/RIA-3734-case-listing-belfast-hearing-venue.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-append-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-append-feature-enabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-confirmation-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-confirmation-feature-enabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-initial-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-initial-feature-enabled.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-case-stitching-save-and-continue-disabled.json
  src/functionalTest/resources/scenarios/RIA-517-case-submitted-confirmation-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-case-building-ready-for-submission.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1006

#983 RIA-4797 Update payment status as a system user
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-983

#1005 RIA-5088
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/payment/PayAndSubmitConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/PayAndSubmitConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1005
