Repository hmcts/ia-case-api, pull requests merged in 2021-04, with the labels that each got.

#836 RIA-3996
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumCaseCcdReferenceNumberHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumCaseCcdReferenceNumberHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-836

#818 RIA-4104 enable callback ccdSubmitted endpoint to ia-case-notificatio…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendPostNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PostNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PostSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCasePostNotificationApiSender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendPostNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PostSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCasePostNotificationApiSenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-818

#829 Ria 3731 remove representation
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdCaseAssignmentProviderBaseTest.java
  src/functionalTest/resources/scenarios/RIA-3731-remove-representation-cor.json
  src/functionalTest/resources/scenarios/RIA-3731-remove-representation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RemoveRepresentationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendPostNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PostSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignment.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RemoveRepresentationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PostSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCasePostNotificationApiSenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignmentTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-829

#833 Ria 3951 remove legal rep
  src/functionalTest/resources/scenarios/RIA-3951-remove-legal-representative-ao-cor.json
  src/functionalTest/resources/scenarios/RIA-3951-remove-legal-representative-ao.json
  src/functionalTest/resources/scenarios/RIA-3951-remove-legal-representative-tcw-cor.json
  src/functionalTest/resources/scenarios/RIA-3951-remove-legal-representative-tcw.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RemoveRepresentationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RemoveRepresentationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-833

#844 update role category to use LEGAL_OPERATIONS rather than STAFF
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RoleAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-844

#702 RIA-3218 Legal rep apply for a late remission
  .github/workflows/swagger.yml
  src/functionalTest/resources/scenarios/RIA-3218-apply-for-a-late-remission.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestFeeRemissionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestFeeRemissionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-702

#847 add more logging for issue 469
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RoleAssignmentService.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-847

#715 RIA-3830 Admin officer records remission decision for a late remission
  src/functionalTest/resources/scenarios/RIA-3830-record-remission-decision-for-late-remission.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-715

#843 TA-529: Disable RoleAssignmentApiConsumerTest
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-843

#724 RIA-3794 Manage fee update for fee remission changed
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkPaymentPaidPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-724

#852 Revert "add more logging for issue 469 (#847)"
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RoleAssignmentService.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-852

#845 RIA-4084 Notice of acting
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendPostNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendPostNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-845

#853 RIA-4235 remove NoC marker after Legal Rep update
  src/functionalTest/resources/scenarios/RIA-4235-update-legal-representatives-details-after-noc.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-853

#854 disable wa tests (non prod feature)
  src/functionalTest/resources/scenarios/RWA-137-Allocate-a-case-to-me.json
  src/functionalTest/resources/scenarios/RWA-318-Allocate-a-case-to-caseworker-confirmation-page.json
  src/functionalTest/resources/scenarios/RWA-318-Allocate-a-case-to-caseworker-midevent.json
  src/functionalTest/resources/scenarios/RWA-340-Allocate-a-case-to-caseworker-negative-scenario-midevent.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-854

#694 Ria 3799
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-694

#858 Bugfix/fix role assignment
  src/functionalTest/resources/scenarios/RWA-137-Allocate-a-case-to-me.json
  src/functionalTest/resources/scenarios/RWA-318-Allocate-a-case-to-caseworker-confirmation-page.json
  src/functionalTest/resources/scenarios/RWA-318-Allocate-a-case-to-caseworker-midevent.json
  src/functionalTest/resources/scenarios/RWA-340-Allocate-a-case-to-caseworker-negative-scenario-midevent.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/Assignment.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/AssignmentTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-858

#723 RIA-3813:Manage fee update refund instructed
  src/functionalTest/resources/scenarios/RIA-3813-manage-fee-update-of-refund-approved-not-required.json
  src/functionalTest/resources/scenarios/RIA-3813-manage-fee-update-of-refund-instructed.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ManageFeeUpdateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ManageFeeUpdateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-723

#729 RIA-3814:Manage fee update post refund instructed steps
  src/functionalTest/resources/scenarios/RIA-3814-manage-fee-update-post-refund-instructed-additional-fee.json
  src/functionalTest/resources/scenarios/RIA-3814-manage-fee-update-post-refund-instructed-not-required.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-729

#807 RIA-4081 Reverse the order of share-a-case calls and logging
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-807

#776 RIA-4000: Fixed start appeal flow for aip journey
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-776

#863 Added additional logging to track ooc applications on appeal submit
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-863

#732 RIA-3882 Admin officer journey chooses fee update not required after additional fee required
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-732

#736 RIA-3880:Manage fee update not allowed post fee update not required
  src/functionalTest/resources/scenarios/RIA-3880-manage-fee-update-after-fee-update-not-required.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-736

#867 Updated NoC error messages for remove representation
  src/functionalTest/resources/scenarios/RIA-3731-remove-representation.json
  src/functionalTest/resources/scenarios/RIA-3951-remove-legal-representative-ao.json
  src/functionalTest/resources/scenarios/RIA-3951-remove-legal-representative-tcw.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-867

#835 RIA-4114 TCW can't update an appeal detail using edit appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-835

#870 fix cve and upgrade charts
  build.gradle
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-870

#866 RWA-497: BaseLocation BugFix Newcastle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-866

#874 fix potential performance issue
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerRefDataMock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerServiceTest.java
  src/integrationTest/resources/case-worker-ref-data-response.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/refdata/CaseWorkerProfile.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-874

#873 Bugfix/rwa 497 base location
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario1.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario2.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario3.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-873

#802 RIA-3854 Notice of decision document made mandatory
  src/functionalTest/resources/scenarios/RIA-1925-upload-decision-letter.json
  src/functionalTest/resources/scenarios/RIA-236-revocation-grounds.json
  src/functionalTest/resources/scenarios/RIA-3079-flag-case-as-minor-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-3079-flag-case-as-no-minor-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-3271-3628-home-office-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3317-derive-hearing-center-from-postcode-newcastle.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-letter-plus-seven-digits.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-non-standard.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-without-slash.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter.json
  src/functionalTest/resources/scenarios/RIA-365-notify-case-officers-of-submitted-appeal.json
  src/functionalTest/resources/scenarios/RIA-3680-home-office-reference-formatter.json
  src/functionalTest/resources/scenarios/RIA-3761-no-appellant-address-default to legal-rep-address-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-company-address-derive-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-no-company-address-default-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-sponsor-address-derive-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-4026-appeal-submitted-with-belfast-postcode.json
  src/functionalTest/resources/scenarios/RIA-4116-ho-notification-eligible-flag-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-581-appeal-reference-number-generation.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-from-postcode.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-using-default.json
  src/functionalTest/resources/scenarios/RIA-602-change-direction-due-date-action-available.json
  src/functionalTest/resources/scenarios/RIA-610-user-details-added-to-case.json
  src/functionalTest/resources/scenarios/RIA-694-send-direction-action-available.json
  src/functionalTest/resources/scenarios/RIA-730-RIA-971-home-office-truncator.json
  src/functionalTest/resources/scenarios/RIA-769-appeal-submission-summary-docmosis-disabled.json
  src/functionalTest/resources/scenarios/RIA-769-appeal-submission-summary-docmosis-enabled.json
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-RIA-1360-current-case-state-example1.json
  src/functionalTest/resources/scenarios/RIA-910-RIA-911-RIA-912-appellant-name-formatted-for-display.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadDecisionLetterHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadDecisionLetterHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-802

#861 RIA-4252 Fix duplicate submitAppeal creation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/DbAppealReferenceNumberGenerator.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-861

#871 RIA-4272: Added last modified direction to changeDirectionDueDate event
  src/functionalTest/resources/scenarios/RIA-4272-change-direction-due-date-submit-co.json
  src/functionalTest/resources/scenarios/RIA-4272-change-direction-due-date-submit-judge.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-HandleClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-add-appeal-response.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-amend-response-for-respondent-review.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-force-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-request-case-edit-submit.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-request-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-request-new-hearing-requirements-case-officer.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-request-reasons-for-appeal.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-request-response-review.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-send-home-office-evidence-direction.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-send-non-standard-direction.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-send-respondent-review-direction.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-upload-respondent-evidence.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoBuildCaseDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoLegalRepresentativeReviewDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WaFieldsPublisher.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoBuildCaseDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoLegalRepresentativeReviewDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WaFieldsPublisherTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-871

#879 Fix regEx of appeal refrence
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-letter-plus-seven-digits.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-non-standard.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter-without-slash.json
  src/functionalTest/resources/scenarios/RIA-3389-home-office-reference-formatter.json
  src/functionalTest/resources/scenarios/RIA-3680-home-office-reference-formatter.json
  src/functionalTest/resources/scenarios/RIA-581-appeal-reference-number-generation.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-879
