Repository hmcts/ia-case-api, pull requests merged in 2021-01, with the labels that each got.

#710 RIA-3736:Add URI to health check exception log
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/health/ServiceHealthIndicator.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-710

#592 RIA-3308: Changes to trigger HomeOffice notifications for request-evidence-bundle event
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence-multiple-nationalities.json
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence-stateless.json
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-592

#608 Ria 3600 request review notification
  src/functionalTest/resources/scenarios/RIA-3600-home-office-notifications-for-request_respondent_review.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-608

#622 Ria 3306 hearing notification
  src/functionalTest/resources/scenarios/RIA-3306-home-office-notifications-for-case-listing.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-622

#624 Ria 3309 ho hearing
  src/functionalTest/resources/scenarios/RIA-3309-ho-notifications-for-edit-case-listing-decision.json
  src/functionalTest/resources/scenarios/RIA-3309-ho-notifications-for-edit-case-listing-finalbundling.json
  src/functionalTest/resources/scenarios/RIA-3309-ho-notifications-for-edit-case-listing-prehearing.json
  src/functionalTest/resources/scenarios/RIA-3309-ho-notifications-for-edit-case-listing-prepareforhearing.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-624

#633 Ria 3316 no hearing date
  src/functionalTest/resources/scenarios/RIA-3316-ho-notifications-for-edit-adjourn-no-date-decision.json
  src/functionalTest/resources/scenarios/RIA-3316-ho-notifications-for-edit-adjourn-no-date-finalbundling.json
  src/functionalTest/resources/scenarios/RIA-3316-ho-notifications-for-edit-adjourn-no-date-prehearing.json
  src/functionalTest/resources/scenarios/RIA-3316-ho-notifications-for-edit-adjourn-no-date-prepareforhearing.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-633

#635 Ria 3601 notifications retry
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditCaseListingConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestRespondentEvidenceConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestRespondentReviewConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EditCaseListingConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestRespondentEvidenceConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestRespondentReviewConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-635

#654 Ria 3314 decided notification
  src/functionalTest/resources/scenarios/RIA-3314-send-decision-reasons-failure-confirmation-adminofficer.json
  src/functionalTest/resources/scenarios/RIA-3314-send-decision-reasons-failure-confirmation-caseofficer.json
  src/functionalTest/resources/scenarios/RIA-3314-send-decision-reasons-failure-confirmation-judge.json
  src/functionalTest/resources/scenarios/RIA-3314-send-decision-reasons-success-confirmation-judge.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-654

#638 Ria 3305 hearing bundle ready
  src/functionalTest/resources/scenarios/RIA-3305-ho-notifications-for-async-stitching-complete.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-638

#655 Ria 3313 ftpa submitted notification
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-ftpa-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-655

#668 Ria 3307 ftpa decided notification
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-record-appellant-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-record-appellant-ftpa-decision-notification-failed-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-respondent-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification-remade-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-record-appellant-ftpa-decision-notification-failed-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification-remade-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-668

#651 Ria 3302 ho end appeal
  src/functionalTest/resources/scenarios/RIA-3302-end-appeal-failure-confirmation-admin.json
  src/functionalTest/resources/scenarios/RIA-3302-end-appeal-failure-confirmation-caseofficer.json
  src/functionalTest/resources/scenarios/RIA-3302-end-appeal-failure-confirmation-judge.json
  src/functionalTest/resources/scenarios/RIA-3302-end-appeal-success-confirmation-admin.json
  src/functionalTest/resources/scenarios/RIA-3302-end-appeal-success-confirmation-caseofficer.json
  src/functionalTest/resources/scenarios/RIA-3302-end-appeal-success-confirmation-judge.json
  src/functionalTest/resources/scenarios/RIA-3302-ho-notifications-for-end-appeal-with-appeal-submitted-co.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-651

#666 Ria 3961 ho amend bundle
  src/functionalTest/resources/scenarios/RIA-3691-home-office-notification-failure-send-direction-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3691-home-office-notification-success-send-direction-confirmation-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-3691-home-office-notification-success-send-direction-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3691-home-office-notifications-for-amend-bundle-send_direction.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDirectionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDirectionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-666

#675 Ria 3692 ho amend response
  src/functionalTest/resources/scenarios/RIA-3692-home-office-notification-amend-response-for-respondent-review.json
  src/functionalTest/resources/scenarios/RIA-3692-home-office-notification-failure-amend-response-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3692-home-office-notification-success-amend-response-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestResponseAmendConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RequestResponseAmendConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-675

#682 Ria 3693 ho direction due date
  src/functionalTest/resources/scenarios/RIA-3039-end-appeal-state-saved-for-reinstate.json
  src/functionalTest/resources/scenarios/RIA-3039-reinstate-ended-appeal-to-previous-state.json
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-change-direction-due-date-awaitingRespondentEvidence.json
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-change-direction-due-date-requestRespondentReview.json
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-failure-confirmation-change-direction-due-date-evidence.json
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-failure-confirmation-change-direction-due-date-review.json
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-success-confirmation-change-direction-due-date-evidence.json
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-success-confirmation-change-direction-due-date-review.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeDirectionDueDateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeDirectionDueDateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-682

#742 AC4: populate dynamic list with the list of caseworkers ids for now.
  src/functionalTest/resources/scenarios/RWA-318-Allocate-a-case-to-caseworker-about-to-submit.json
  src/functionalTest/resources/scenarios/RWA-318-Allocate-a-case-to-caseworker-midevent.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/Assignment.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/Attributes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/QueryRequest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RequestedRoles.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleName.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleRequest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdjournWithoutDateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-742

#748 RIA-3693: Fixed merge issues
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-748

#727 RIA-3815 cleanup reinstate and make an application feature flag
  src/functionalTest/resources/scenarios/RIA-3039-reinstate-ended-appeal-to-previous-state.json
  src/functionalTest/resources/scenarios/RIA-3039-reinstate-error-if-not-ended-appeal.json
  src/functionalTest/resources/scenarios/RIA-3451-case-officer-decide-an-application.json
  src/functionalTest/resources/scenarios/RIA-3451-judge-decide-an-application.json
  src/functionalTest/resources/scenarios/RIA-3457-legal-rep-make-an-application.json
  src/functionalTest/resources/scenarios/RIA-3457-respondent-make-an-application.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-727

#752 RWA-319 point role-assignment to ia-docker wiremock by default
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-752

#711 Ria 3855 court outcome
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-record-appellant-ftpa-decision-notification-failed-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-record-appellant-ftpa-decision-notification-failed-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3314-send-decision-reasons-failure-confirmation-adminofficer.json
  src/functionalTest/resources/scenarios/RIA-3314-send-decision-reasons-failure-confirmation-caseofficer.json
  src/functionalTest/resources/scenarios/RIA-3314-send-decision-reasons-failure-confirmation-judge.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-711

#689 RIA-3734 Create different lists for designated hearing centre and for…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/utils/StaffLocation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/utils/StaffLocationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-689

#664 RIA-3549 Provide legal representative details in the upload your bund…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/DataFixingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-2010-3628-add-stateless-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-230-protection-grounds.json
  src/functionalTest/resources/scenarios/RIA-236-revocation-grounds.json
  src/functionalTest/resources/scenarios/RIA-2733-start-appeal-journey-update.json
  src/functionalTest/resources/scenarios/RIA-3680-home-office-reference-mid-event.json
  src/functionalTest/resources/scenarios/RIA-3783-home-office-reference-cid-padding.json
  src/functionalTest/resources/scenarios/RIA-583-draft-appeal-reference.json
  src/functionalTest/resources/scenarios/RIA-815-appeal-saved-confirmation-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegRepAddressUk.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ref/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ref/OrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/ProfessionalOrganisationRetriever.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegRepAddressUkTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/ProfessionalOrganisationRetrieverTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-664

#699 RIA-3821_ooc_bundle_direction
  src/functionalTest/resources/scenarios/RIA-892-RIA-2694-request-respondent-evidence-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-699

#706 RIA-3837_ooc_legal_rep
  src/functionalTest/resources/scenarios/RIA-1379-RIA-2694-upload-respondent-evidence-direction-due-date-on-submission-date.json
  src/functionalTest/resources/scenarios/RIA-1789-RIA-2694-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-700-RIA-592-RIA-610-RIA-2694-upload-respondent-evidence-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoBuildCaseDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-706

#716 RIA-3836_ooc_content
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-716

#720 RIA-3838_ooc_content
  src/functionalTest/resources/scenarios/RIA-1794-RIA-2694-request-response-review.json
  src/functionalTest/resources/scenarios/RIA-697-RIA-237-RIA-985-RIA-2694-add-appeal-response-initial.json
  src/functionalTest/resources/scenarios/RIA-697-RIA-237-RIA-985-RIA-2694-add-appeal-response-replace.json
  src/functionalTest/resources/scenarios/RIA-837-RIA-2694-send-legal-rep-review-direction.json
  src/functionalTest/resources/scenarios/RIA-921-automatic-direction.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutoLegalRepresentativeReviewDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-720

#725 RIA-3839_ooc_content
  src/functionalTest/resources/scenarios/RIA-2047-RIA-2694-direction-to-request-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-2048-RIA-2694-request-hearing-requirements-legal-rep.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-725

#728 RIA-3840_ooc_content
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-728

#730 RIA-3841_ooc_content
  src/functionalTest/resources/scenarios/RIA-480-RIA-600-build-case-confirmation-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-517-case-submitted-confirmation-feature-disabled.json
  src/functionalTest/resources/scenarios/RIA-517-case-submitted-confirmation-feature-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CaseSubmittedConfirmation.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-730
