Repository hmcts/ia-case-api, pull requests merged in 2021-07, with the labels that each got.

#923 fix security test script and enable functional tests in nightly build
  Jenkinsfile_nightly
  security.sh
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-923

#925 fix nightly build test user credentials
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-925

#924 fix grounds optional tick
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CheckValues.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatter.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-924

#913 RIA-4473 Decision without hearing route
  src/functionalTest/resources/scenarios/RIA-4473-decision-without-hearing-changes.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionWithoutHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionWithoutHearingHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-913

#928 fix nightly build env variable
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-928

#891 Ria 4293 noc prompt to update details
  src/functionalTest/resources/scenarios/RIA-1358-RIA-4293-update-legal-representatives-details.json
  src/functionalTest/resources/scenarios/RIA-4234-RIA-4293-previous-representative-details-after-noc.json
  src/functionalTest/resources/scenarios/RIA-4234-RIA-4293-previous-representative-details-no-noc.json
  src/functionalTest/resources/scenarios/RIA-4235-RIA-4293-update-legal-representatives-details-after-noc.json
  src/functionalTest/resources/scenarios/RIA-4293-cleared-fields-update-representative-details.json
  src/functionalTest/resources/scenarios/RIA-4293-company-name-ref-data-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-4293-persisted-fields-update-representative-details.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousRepresentation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CompanyNameProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PreviousRepresentationAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignment.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousRepresentationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CompanyNameProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PreviousRepresentationAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-891

#880 RIA-4336: Integrate aip flow and citizen role for make an application event
  src/functionalTest/resources/scenarios/RIA-4336-appellant-make-an-application.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRoleTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-880

#932 https://tools.hmcts.net/jira/browse/RWA-640
  src/main/resources/application-local.yaml
  src/main/resources/application-wa-local.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-932

#939 fix CVE-2021-27568
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-939

#941 temporary disable AIP test - to fix in RIA-4456
  src/functionalTest/resources/scenarios/RWA-584-add-case-management-category-start-appeal-appellant.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-941

#940 Task/add back am pact tests
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-940

#875 RIA-4253
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-875

#949 remove maven repo url
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-949

#937 RIA-4456: Fixed aip appeal issue when Fee and Pay is enabled
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeesHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-937

#927 RIA-4546: Disabling and showing error message on edit appeal action for AIP appeals
  src/functionalTest/resources/scenarios/RIA-4546-edit-appeal-aip-errors.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipEditAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipEditAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-927

#936 RIA-4510: Changes to use common collection for legalRep and appellant documents
  src/functionalTest/resources/scenarios/RIA-3144-SetupAppellantDocuments.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/JourneyType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddAppellantDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddAppellantDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-936

#952 revert changes and leave only the few changes I need
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-952

#950 Ria 4675: AIP states added for make an application
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-950

#955 Bugfix/rwa 677 2
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-955

#948 RIA-4659 missing decision document
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadDecisionLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DocumentsAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadDecisionLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DocumentsAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-948
