Repository hmcts/ia-case-api, pull requests merged in 2021-09, with the labels that each got.

#960 RIA-4719 Call back error, While selecting Decision without hearing on…
  src/functionalTest/resources/scenarios/RIA-4719-edit-list-case-mid-event.json
  src/functionalTest/resources/scenarios/RIA-4719-list-case-mid-event.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-960

#964 RIA-4711
  src/functionalTest/resources/scenarios/RIA-4711-add-stateless-edit-appeal-after-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StatelessHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StatelessHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-964

#978 RIA-4833 appealOutOfCountry field for old cases
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-978

#973 Remove the adminCaseUpdate event from the ia ccd def
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-973

#974 RIA-4747
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-974
