Repository hmcts/ia-case-api, pull requests merged in 2021-05, with the labels that each got.

#826 RIA-4042 Case officer record out of time decision
  src/functionalTest/resources/scenarios/RIA-4042-record-out-of-time-decision.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfTimeDecisionDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfTimeDecisionType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordOutOfTimeDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/OutOfTimeDecisionDetailsAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfTimeDecisionDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfTimeDecisionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordOutOfTimeDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-826

#857 RIA-4037 Notification of record out of time decision
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-857

#883 RIA-4315 additional locations
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-883

#887 RIA-4369 initialize appealOutOfCountry case-field for the older appeals
  src/functionalTest/resources/scenarios/RIA-3555-RIA-3763-RIA-3784-submit-new-hearing-requirements.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-887

#890 fix Security scan
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-890

#898 RIA-4113 review update hearing requirements and adjustments
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewUpdateHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-898
