Repository hmcts/ia-case-api, pull requests merged in 2021-02, with the labels that each got.

#755 RIA-3961 Investigate suppressed CVE checks
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-755

#772 RIA-3845 missing AAC url and chart bump
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-772

#773 RIA-3848 Org Policy check for old cases
  src/functionalTest/resources/scenarios/RIA-3848-share-case-org-policy-validation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ShareACaseUserListPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ShareACaseUserListPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-773

#775 fix Ref Data issue + adding more logs
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegRepAddressUk.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ref/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/ProfessionalOrganisationRetriever.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-775

#777 Ref Data fix removal of dxAddress
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegRepAddressUk.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegRepAddressUkTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-777

#782 add mutation tests
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/AssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RequestedRolesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleNameTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleRequestTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-782

#770 RIA-3710 Migrate to Helm charts v2
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-770

#783 Additional id logging for different PRD endpoints
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ref/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/ProfessionalOrganisationRetriever.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-783

#774 RIA-4029 TCW can't change a direction due date
  src/functionalTest/resources/scenarios/RIA-2240-change-direction-due-date-submit-judge.json
  src/functionalTest/resources/scenarios/RIA-602-RIA-723-change-direction-due-date-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-774

#784 Ria 3749 direction
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewAmendDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewAmendDirectionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-784

#786 RIA-4054 Upgrade launchdarkly version to 5.2.2 and Guava to 30.0
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/LaunchDarklyFunctionalTestClient.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/FeatureToggleConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadSensitiveDocsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-786

#785 Case id logging for CCD and AAC api calls
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignment.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignmentTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-785

#787 Revert "RIA-4054 Upgrade launchdarkly version to 5.2.2 and Guava to 3…
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/LaunchDarklyFunctionalTestClient.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/FeatureToggleConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadSensitiveDocsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-787

#674 RIA-3792 Case-officer and Admin-officer manage fee update
  src/functionalTest/resources/scenarios/RIA-3792-manage-fee-update-of-fee-update-recorded.json
  src/functionalTest/resources/scenarios/RIA-3792-manage-fee-update-of-refund-approved.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ManageFeeUpdateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ManageFeeUpdateConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-674

#688 RIA-3790 Manage fee update with option feeUpdateRecorded
  src/functionalTest/resources/scenarios/RIA-3792-manage-fee-update-of-fee-update-recorded.json
  src/functionalTest/resources/scenarios/RIA-3792-manage-fee-update-of-refund-approved.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-688

#693 RIA-3793 Manage fee update for the type appeal not valid
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FeeUpdateReason.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FeeUpdateReasonTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdateMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-693

#793 RIA-3710 Migrate to Helm charts v2
  charts/ia-case-api/requirements.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-793

#751 Feature/rwa 340 404 error handling
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/scenarios/RWA-340-Allocate-a-case-to-caseworker-negative-scenario-midevent.json
  src/functionalTest/resources/scenarios/RWA-340-Allocate-a-case-to-caseworker-negative-scenario2-midevent.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/CaseWorkerName.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/refdata/HystrixRefDataCaseWorkerFallback.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/refdata/RefDataCaseWorkerApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/roleassignment/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/DisableHystrixFeignConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseToCaseWorkerMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/refdata/HystrixRefDataCaseWorkerFallbackTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-751

#750 RIA-3950 resolve issues with idam-api pact test
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/IdamConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-750

#801 fix nightly build - Timestamp unix disclosure
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-801

#781 RIA-3810 Belfast hearing centre added
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/resources/application-postcodes.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-781

#791 RIA-4026 Belfast postcodes defaulted to Glasgow hearing centre
  src/functionalTest/resources/scenarios/RIA-4026-appeal-submitted-with-belfast-postcode.json
  src/main/resources/application-postcodes.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-791

#739 RIA-3876:Add out of country screen in start appeal
  src/functionalTest/resources/scenarios/RIA-3876-out-of-country-screening-no-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-3876-out-of-country-screening-start-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-739

#746 Ria 2110
  src/functionalTest/resources/scenarios/RIA-2110-out-of-country-non-sponsor-no-address.json
  src/functionalTest/resources/scenarios/RIA-2110-out-of-country-non-sponsor-with-address.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfCountryDecisionType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfCountryDecisionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-746

#753 Ria 3877
  src/functionalTest/resources/scenarios/RIA-3877-out-of-country-non-sponsor-removal-of-client.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-753
