Repository hmcts/ia-case-api, pull requests merged in 2022-12, with the labels that each got.

#1173 RIA-6548: Fix import bug after rebase
  src/functionalTest/resources/scenarios/RIA-2010-3628-add-stateless-edit-appeal.json
  src/functionalTest/resources/scenarios/RIA-2010-3628-add-stateless-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-3680-home-office-reference-mid-event.json
  src/functionalTest/resources/scenarios/RIA-3680-home-office-reference-mid-event_edit_appeal.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-company-address-derive-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-no-company-address-default-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-sponsor-address-derive-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-515-lodge-appeal-confirmation.json
  src/functionalTest/resources/scenarios/RIA-6428-age-assessment-appellant-dob-validation-fail.json
  src/functionalTest/resources/scenarios/RIA-6455-submit-accelerated-detained-appeal.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1173

#1174 RIA-6550 Skip appeal type handler if AIP
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1174

#1176 RIA-6527: List the case Event - ADA
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-list-case-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1176

#1180 RIA-6547: Enabled the functional tests
  src/functionalTest/resources/scenarios/RIA-3680-home-office-reference-mid-event.json
  src/functionalTest/resources/scenarios/RIA-3680-home-office-reference-mid-event_edit_appeal.json
  src/functionalTest/resources/scenarios/RIA-515-lodge-appeal-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1180

#1181 RIA-6550 letter sent or received handler non aip
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1181

#1182 RIA-6518 Updated hearing type handler to handle start appeal journey
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1182

#1186 RIA-6437: Save & submit Age Assessment appeal - part 3
  src/functionalTest/resources/scenarios/RIA-6437-add-stateless-age-assessment-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-6437-add-stateless-age-assessment-submit-appeal-in-time.json
  src/functionalTest/resources/templates/minimal-age-assessment-appeal-started.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1186

#1179 RIA-6526 Set flags for listCase for accelerated detained appeals
  src/functionalTest/resources/scenarios/RIA-6526-list-case-ada-start.json
  src/functionalTest/resources/scenarios/RIA-6526-request-respondent-evidence-ada-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidenceHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1179

#1184 RIA-6528 Hearing&Appointment tab for ADA
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1184

#1188 RIA-6433 Adjusted handlers to handle edit appeal journey for non deta…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionLetterDateValidator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionLetterDateValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1188

#1192 Ria-6482 admin edit appeal post submit
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1192

#1189 Modified conditional logic for START_APPEAL hearing type so that fee …
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1189

#1193 RIA-6530 - Updating confirmation page message for ADA submit hearing …
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SubmitHearingRequirementsConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SubmitHearingRequirementsConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1193

#1197 Updates to fix sonar issue around decision date checker
  src/functionalTest/resources/scenarios/RIA-1308-upload-respondent-evidence-amend-homeoffice-generic-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1197

#1199 RIA-6501 Make new application types exclusive to LR role
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1199

#1195 RIA-6491: Handle Edit appeal after submisstion for non-detained AAA a…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1195

#1155 Ria 6074 link cases notification
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1155

#1200 RIA-6420 - Added functional tests for ADA out of time.
  src/functionalTest/resources/scenarios/RIA-6420-submit-accelerated-detained-appeal-out-of-time.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1200

#1194 RIA-6581 Updates to fix edit appeal issue
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparer.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1194

#1207 RIA-6495 fixed default Yarlswood date
  src/main/resources/application-postcodes.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1207

#1209 RIA-6563: Fix the state for appeal after submit
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealTypeForDisplay.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealTypeForDisplayTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeesHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1209

#1206 updates to add "mark appeal as paid" event for caseofficer
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1206

#1208 RIA-6495 Yarlswood mismatched error
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/utils/StaffLocation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/utils/StaffLocationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1208

#1210 Updates to fix test failure
  src/functionalTest/resources/scenarios/RIA-3298-remove-deport-flag.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1210

#1190 RIA-6533 List ADA Case direction
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolver.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolverTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1190

#1183 RIA-6532: Review hearing requirements event - ADA
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1183

#1205 RIA-6501 Make new text for Judge Review show up for all appeal types …
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1205

#1203 RIA-6532 - Adding flag to make submit hearing requirements not re-sub…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1203
