Repository hmcts/ia-case-api, pull requests merged in 2022-09, with the labels that each got.

#1090 Ria-5725 qa fix notifications
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HasServiceRequestAlreadyValueHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HasServiceRequestAlreadyValueHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1090

#1087 RIA-5964 LR to access Appellant's case details
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1087

#1093 RIA-6093 - Populating case name for global search
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1093

#1094 RIA-5587 Add EU appealType
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealType.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1094

#1084 AIP Other Features release - Master <- Dev - Do Not Merge
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHomeOfficeAdminOfficerHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHomeOfficeAdminOfficerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1084

#1097 RIA-6169 service requests and remissions
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1097

#1095 Ria 5895 out of country
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfCountryDecisionType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfCountryDecisionTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1095

#1092 RIA-6106 PiP generation to allow access to case
  Dockerfile
  audit.json
  build.gradle
  config/owasp/suppressions.xml
  security.sh
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PinInPostDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NoticeOfChangeSetOrganisationToRemove.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AccessCodeGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NoticeOfChangeSetOrganisationToRemoveTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AccessCodeGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1092

#1091 RIA-6143 party-name and role-on-case supplementary data
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryProviderBaseTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/payment/PayAndSubmitConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/PayAndSubmitConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1091

#1100 RIA-6161 PostSubmit classes, and callback to payment-api
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/GenerateServiceRequestMakeAPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordRemissionDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HasServiceRequestAlreadyValueHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumCasePostFeePaymentService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PostFeePayment.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/GenerateServiceRequestMakeAPaymentConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordRemissionDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HasServiceRequestAlreadyValueHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1100

#1104 Ria-6223 ea hu end appeal automatically
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AutomaticEndAppealForNonPaymentEaHuTrigger.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AutomaticEndAppealForNonPaymentEaHuTriggerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1104

#1101 RIA-6233 move state to appealSubmitted when Pa-payNow submits appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MoveToSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MoveToSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1101

#1107 RIA-6269 Conform paAppealTypePaymentOption "payOffline" to "payLater"
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1107

#1111 RIA-6049 Appellant views appeal details
  src/functionalTest/resources/scenarios/RIA-6049-pipActivated-event-adds-subscription-data.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivated.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivatedTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1111

#1110 RIA-6050 Appellant views Skeleton Argument/Evidence
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-6049-pipActivated-event-adds-subscription-data.json
  src/functionalTest/resources/scenarios/RIA-6050-transform-LR-case-data-to-AIP-case-data.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivated.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivatedTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1110
