Repository hmcts/ia-case-api, pull requests merged in 2022-10, with the labels that each got.

#1112 Ria 6281 wa3 case data fix
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/payment/PayAndSubmitConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1112

#1114 RIA-6229 Add PayOfflineMigrationHandler
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PayOfflineMigrationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PayOfflineMigrationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1114

#1116 RIA-6229 RecordRemissionDecision to populate paymentStatus if empty
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1116

#1117 RIA-6290 New flag as condition for service request generation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/PostSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1117

#1121 Ria 6326
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AutomaticEndAppealForRemissionRejectedTrigger.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AutomaticEndAppealForRemissionRejectedTriggerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1121

#1124 Ria 6172 ways2 pay integration for eu
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/RollbackPaymentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseCategoryFixer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/RollbackPaymentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseCategoryFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1124

#1123 RIA-6335 Something went wrong page Page Displayed for LR
  src/functionalTest/resources/scenarios/RIA-6335-change-state-to-caseUnderReview.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1123

#1125 RIA-6336 Case not appearing in case list when LR completes NOC
  src/functionalTest/resources/scenarios/RIA-6336-change-state-to-caseBuilding.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1125

#1120 RIA-6183: Revoke Appellant's Access when LR completes NoC process
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-6049-pipActivated-event-adds-subscription-data.json
  src/functionalTest/resources/scenarios/RIA-6050-transform-LR-case-data-to-AIP-case-data.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/Attributes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleName.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/payment/PayAndSubmitConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipEditAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberCcdHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionRequestingHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivated.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateCaseStateToPreClarifyingStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/roleassignment/RoleAssignmentApi.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberCcdHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantNameForDisplayFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementCategoryAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateCaseStateToPreClarifyingStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1120

#1126 RIA-6337 LR unable to access case due to Awaiting clarifying questions
  src/functionalTest/resources/scenarios/RIA-6337-noc-complete-clarifying-questions.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1126

#1127 RIA-6356 LR to AIP Case states for NOC
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivated.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivatedTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1127

#1129 RIA-6319: Notifications sent when Appellant takes over case
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/scenarios/RIA-6049-pipActivated-event-adds-subscription-data.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivated.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivatedTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1129

#1132 RIA-6232 Suspend TTL clock
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-6232-stop-the-ttl-clock-when-leadership-judge-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-6232-stop-the-ttl-clock-when-reistating-case.json
  src/functionalTest/resources/scenarios/RIA-6232-stop-the-ttl-clock-when-resident-judge-ftpa-decision.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDataContent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StartEventDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/SubmitEventDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/TTL.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReinstateAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RemoveAppealFromOnlineConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CurrentCaseStateUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ccddataservice/CcdDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ccddataservice/TimeToLiveDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdDataApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDataContentTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StartEventDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/SubmitEventDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/TtlTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReinstateAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RemoveAppealFromOnlineConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDecisionAndReasonsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CurrentCaseStateUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ccddataservice/TimeToLiveDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1132

#1136 Appellant Notification when LR comes off record after NOC
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1136

#1134 RIA-6366 - fix to stop incorrect value update for NOC request
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1134

#1138 Revert "RIA-6366 - fix to stop incorrect value update for NOC request"
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1138

#1130 Ria 6294 WA R3 Feature flag
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryProviderBaseTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/AsylumCaseDataConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1130
