Repository hmcts/ia-case-api, pull requests merged in 2022-07, with the labels that each got.

#1055 Changed to fix message in case of remission
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1055

#1059 Removal of link appeal events
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3291-RIA-3295-RIA-3329-unlink-appeal.json
  src/functionalTest/resources/scenarios/RIA-3291-RIA-3295-unlink-appeal.json
  src/functionalTest/resources/scenarios/RIA-3291-link-appeal-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3291-unlink-appeal-confirmation.json
  src/functionalTest/resources/scenarios/RIA-3291-unlink-appeal-preparer.json
  src/functionalTest/resources/scenarios/RIA-3291-unlink-appeal.json
  src/functionalTest/resources/scenarios/RIA-3295-RIA-3329-link-appeal.json
  src/functionalTest/resources/scenarios/RIA-3295-link-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReasonForLinkAppealOptions.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/LinkAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/UnlinkAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealPreparerHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/LinkAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/linkappeal/UnlinkAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/unlinkappeal/UnlinkAppealPreparerHandlerTest.java
Labels: S&L

#1060 Removed Flag Events
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-anonymity-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-complex-case-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-deport-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-detained-immigration-appeal-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-foreign-national-offender-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-potentially-violent-person-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-unacceptable-customer-behaviour-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-unaccompanied-minor-flag.json
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag-preparer.json
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag.json
  src/functionalTest/resources/scenarios/RIA-3298-remove-deport-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-flag-case-with-ftpa-flag.json
  src/functionalTest/resources/scenarios/RIA-3865-flag-case-with-s94b-out-of-country-flag.json
  src/functionalTest/resources/scenarios/RIA-3865-remove-flag-s94b-ooc.json
  src/functionalTest/resources/scenarios/RIA-4798-flag-case-with-appeal-on-hold.json
  src/functionalTest/resources/scenarios/RIA-4798-remove-case-flag-appeal-on-hold.json
  src/functionalTest/resources/scenarios/RIA-4973-RIA-5303-set-case-name.json
  src/functionalTest/resources/scenarios/RIA-4973-RIA-5303-set-incorrect-case-name.json
  src/functionalTest/resources/scenarios/RIA-5153-set-case-category.json
  src/functionalTest/resources/scenarios/RIA-5153-set-incorrect-case-category.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario1.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario2.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario3.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/FlagCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/RemoveFlagConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/FlagCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/flagcase/RemoveFlagConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagPreparerTest.java
Labels: ns:ia, prd:ia, S&L, rel:ia-case-api-pr-1060

#1062 Charts java update aip
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1062

#1065 Charts java update aip
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1065
