Repository hmcts/ia-case-api, pull requests merged in 2022-03, with the labels that each got.

#1030 RIA-4965 AIP OOC
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Subscriber.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SubscriberType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SubscriberTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SubscriberTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1030

#989 RIA-4927 logging for AIP appealReferenceNumber
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberCcdHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberCcdHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-989

#1032 Revert "RIA-4965 new case field for aip journey"
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1032

#1039 Revert "Ria 5126"
  src/functionalTest/resources/scenarios/RIA-1845-upload-addendum-evidence-legal-rep-submit.json
  src/functionalTest/resources/scenarios/RIA-4857-upload-addendum-evidence-legal-rep-submit.json
  src/functionalTest/resources/scenarios/RIA-4973-RIA-5303-set-case-name.json
  src/functionalTest/resources/scenarios/RIA-4973-set-case-name.json
  src/functionalTest/resources/scenarios/RIA-4973-set-incorrect-case-name.json
  src/functionalTest/resources/scenarios/RIA-5153-set-case-category.json
  src/functionalTest/resources/scenarios/RIA-5292-add-payment-request-sent-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-5303-add-case-note-to-tcw.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/GenerateDecisionAndReasonsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/RecordAttendeesAndDurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkPaymentRequestSentConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddPaymentRequestCaseNoteHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkEvidenceAsReviewedActionAvailableUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceActionAvailableUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseCategoryFixer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WaFieldsPublisher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/AsylumCaseDataConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddPaymentRequestCaseNoteHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkEvidenceAsReviewedActionAvailableUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceActionAvailableUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseCategoryFixerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldCaseNameFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1039
