Repository hmcts/ia-case-api, pull requests merged in 2022-02, with the labels that each got.

#967 RIA-4540: Added unique ID and direction type fields for Direction
  src/functionalTest/resources/scenarios/RIA-1379-RIA-2694-upload-respondent-evidence-direction-due-date-on-submission-date.json
  src/functionalTest/resources/scenarios/RIA-1789-RIA-2694-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
  src/functionalTest/resources/scenarios/RIA-2829-PrepairTimeExtension.json
  src/functionalTest/resources/scenarios/RIA-2829-ReviewTimeExtension-clarifying-questions.json
  src/functionalTest/resources/scenarios/RIA-2829-ReviewTimeExtension-cma-requirements.json
  src/functionalTest/resources/scenarios/RIA-2829-ReviewTimeExtension-reasons-for-appeal.json
  src/functionalTest/resources/scenarios/RIA-2829-ReviewTimeExtension.json
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence-multiple-nationalities.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-HandleClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-request-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-request-reasons-for-appeal.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-send-non-standard-direction.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-send-respondent-review-direction.json
  src/functionalTest/resources/scenarios/RIA-4540-direction-publish-on-request-hearing-requirements-AIP.json
  src/functionalTest/resources/scenarios/RIA-4540-direction-publish-on-request-respondent-evidence-direction-AIP.json
  src/functionalTest/resources/scenarios/RIA-4540-direction-publish-on-send-respondent-review-direction-AIP.json
  src/functionalTest/resources/scenarios/RIA-4540-direction-uniqueid-publish-on-send-home-office-evidence-direction-LR.json
  src/functionalTest/resources/scenarios/RWA-340-Allocate-a-case-to-caseworker-negative-scenario-midevent.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Direction.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewTimeExtensionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WaFieldsPublisher.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewTimeExtensionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/SendDirectionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDatePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCmaRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewTimeExtensionsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WaFieldsPublisherTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-967

#969 Ria 4593
  src/functionalTest/resources/scenarios/RIA-1789-RIA-2694-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-3017-ConfirmCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-3017-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-3017-PrepairCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-3144-SetupAppellantDocuments.json
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence-multiple-nationalities.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ClarifyingQuestionAnswer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddAppellantDocumentsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-969

#984 RIA-4722 Process to enable correct state to be set when clarifying questions is completed
  src/functionalTest/resources/scenarios/RIA-3144-SetupAppellantDocuments.json
  src/functionalTest/resources/scenarios/RIA-4722-complete-clarifying-questions.json
  src/functionalTest/resources/scenarios/RIA-4722-direction-request-clarifying-questions.json
  src/functionalTest/resources/scenarios/RIA-4722-reinstate-preclarifying-state.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateCaseStateToPreClarifyingStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionWithQuestionsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateCaseStateToPreClarifyingStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-984

#1021 Revert "RIA-4542 set Newport as the default Hearing Center"
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-disabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-enabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-disabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-enabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-no-company-address-default-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-4437-pay-and-submit-about-to-submit.json
  src/functionalTest/resources/scenarios/RIA-4719-edit-list-case-mid-event.json
  src/functionalTest/resources/scenarios/RIA-4719-list-case-mid-event.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-using-default.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario2.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearingTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1021

#1025 RIA-5471: Update dependencies & address vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1025

#1027 RIA-5503: Upgrade base helm charts to latest
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1027

#1023 RIA-5445: Provide a way to pass through a dummy postcode field for WA…
  src/functionalTest/resources/scenarios/RIA-5445-derive-hearing-center-from-wa-dummy-postcode.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1023
