Repository hmcts/ia-case-api, pull requests merged in 2022-01, with the labels that each got.

#1013 RIA-4863: allow draftHearingRequirements event for citizen role
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1013

#1011 RIA-4925 Bundling: Appeal reasons document template set up
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1011

#1012 RIA-4928 Bundling: Clarifying questions document template set up
  src/functionalTest/resources/scenarios/RIA-3144-SetupAppellantDocuments.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1012

#998 RIA-4938
  src/functionalTest/resources/scenarios/RIA-4938-case-officer-decide-an-application.json
  src/functionalTest/resources/scenarios/RIA-4938-lastModifiedApplication-created-legal-rep-make-an-application.json
  src/functionalTest/resources/scenarios/RIA-706-upload-additional-evidence-action-available.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRoleLabel.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WaFieldsPublisher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsHelper.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UserRoleLabelTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WaFieldsPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-998
