Repository hmcts/ia-case-api, pull requests merged in 2022-08, with the labels that each got.

#1064 RIA-5798: Changed for new event EndAppealAutomatically
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AutomaticEndAppealForRemissionRejectedTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealAutomaticallyConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AutomaticEndAppealForRemissionRejectedTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealAutomaticallyConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1064

#1067 RIA-5777 Add END_APPEAL_AUTOMATICALLY event to SendNotificationHandler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1067

#1068 RIA-5778 Adding end appeal automatically document to generate handler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1068

#1069 RIA-5727: Added functional tests
  src/functionalTest/resources/scenarios/RIA-5727-end-appeal-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1069

#1075 RIA-5725 successful payment LR HO notification
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1075

#1076 Ria 6109 create service request when submitting appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1076

#1077 RIA-6038: Changed content in appeal saved confirmation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1077

#1081 Ria 6096 gs supplementary data lr
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryProviderBaseTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/payment/PayAndSubmitConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/PayAndSubmitConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1081

#1083 RIA-6089: Fix issue with application types Dynamic list when in 'Reas…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1083

#1085 RIA-6141 - State set to pendingPayment for PA pay now cases
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1085

#1047 RIA-5679-Resolving-Vulnarabilities-For-case-api
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/DataFixingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/UserDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/config/OpenApiPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousDates.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/Callback.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/PostSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatecase/AllocateTheCaseService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventMessageConverterCustomizer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/refdata/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PostSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventMessageConverterCustomizerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1047

#1086 Add backstage configuration file
  catalog-info.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1086

#1088 Misc updates to fix nightly build issues - FotifyScan, SecurityScan and Mutation tests
  Dockerfile
  audit.json
  build.gradle
  security.sh
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1088
