Repository hmcts/ia-case-api, pull requests merged in 2023-05, with the labels that each got.

#1364 RIA-7031 submitAppeal unrepped/internal notifications
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1364

#1367 RIA-7032 - Adding end appeal event notification for internal cases
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1367

#1369 RIA-7068 LR appeal saved confirmation screen content change
  src/functionalTest/resources/scenarios/RIA-635-appeal-saved-confirmation-edit.json
  src/functionalTest/resources/scenarios/RIA-815-appeal-saved-confirmation-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1369

#1202 Case Linking Release -> Master
  bin/variables/load-preview-environment-variables.sh
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: DO_NOT_MERGE, ns:ia, prd:ia, rel:ia-case-api-pr-1202

#1370 RIA-7009 - QA fix - updating confirmation screen images
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1370

#1348 RIA-6975 - Tech Release Branch
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1348

#1373 RIA-7070 update radio button options for resident judge
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1373

#1377 RIA-7052 Skip BE handling of supplementary data if citizen in AIP journey
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1377

#1378 RIA-6624 - Enabling update hearing adjustments notification for inter…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1378

#1384 RIA-7052 Skip supplementary data setting form BE if startAppeal + citizen
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1384

#1383 RIA-6987 Fix integration tests execution order
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/TestClassOrderer.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/wiremock/WireMockITExtension.java
  src/integrationTest/resources/junit-platform.properties
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1383

#1379 RIA-7105: Enable Non Standard Directions to the Appellant
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-respondent-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-respondent-aip.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1379

#1385 RIA-7040 Additional logic for out of country and non-detained appeals
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1385

#1303 Updates to address CVEs
  Dockerfile
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/GenerateDecisionAndReasonsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/NewShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/RecordAttendeesAndDurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1303

#1380 RIA-7043: Added handlers for validating appeal reference and instruct…
  charts/ia-case-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-7043-mark-appeal-as-ready-for-UT-transfer-.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAsReadyForUtTransferConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAsReadyForUtTransferHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UtAppealReferenceChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsReadyForUtTransferConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAsReadyForUtTransferHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UtAppealReferenceCheckerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1380

#1105 Ria 4542 2
  bin/variables/load-preview-environment-variables.sh
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-disabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-enabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-disabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-enabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-no-company-address-default-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-4719-edit-list-case-mid-event.json
  src/functionalTest/resources/scenarios/RIA-4719-list-case-mid-event.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-using-default.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario2.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearingTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1105

#1390 RIA-7002
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Parties.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PartiesTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1390

#1391 RIA-7044 Mark as ready transfer to UR event to notification handler
  charts/ia-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1391

#1397 RIA-7105: Enable Non Standard Directions for AIP Applications
  src/functionalTest/resources/scenarios/RIA-2864-HandleClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-3017-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-3144-SetupAppellantDocuments.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-HandleClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-4722-complete-clarifying-questions.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateActionAvailableUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionActionAvailableUpdater.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateActionAvailableUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionActionAvailableUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1397

#1398 RIA-7040 Fixing code smell issues for pipeline build
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1398

#1395 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1395

#1393 RIA-7046 Reinstate appeal changes after Transfer to UT
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAsReadyForUtTransferHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAsReadyForUtTransferHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1393

#1403 RIA-7171 Improved logging to diagnose an issue
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HomeOfficeApiService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1403

#1404 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1404

#1405 RIA-7171: added basic necessary logging to all asylum callback reques…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegator.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1405

#1399 Rebase Master changes to NABA branches
  Dockerfile
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-disabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-enabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-disabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-2323-hearing-notice-docmosis-enabled-coventry.json
  src/functionalTest/resources/scenarios/RIA-3851-ooc-no-sponsor-no-company-address-default-hearing-center.json
  src/functionalTest/resources/scenarios/RIA-4719-edit-list-case-mid-event.json
  src/functionalTest/resources/scenarios/RIA-4719-list-case-mid-event.json
  src/functionalTest/resources/scenarios/RIA-588-derive-hearing-center-using-default.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario2.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/GenerateDecisionAndReasonsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/NewShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/RecordAttendeesAndDurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PreviousHearingTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1399

#1406 This is to merge AIP FTPA changes
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-2122-decision-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-4473-decision-without-hearing-changes.json
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-respondent-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-respondent-aip.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1406
