Repository hmcts/ia-case-api, pull requests merged in 2023-09, with the labels that each got.

#1598 RIA-7326 Added applyForFTPAAppellant event to GenerateDocumentHandler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1598

#1608 RIA-7698 Added send notification for internal transfer out of ADA event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1608

#1613 RIA-TASK - Merge Master Changes to NABA case-api
  Jenkinsfile_CNP
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1613

#1614 RIA-7329 Enabling notification generation for residentJudgeFtpaDecision event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1614

#1617 RIA-7751 - Fix null pointer when witness details is read from asylumCase
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesPartyIdAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesPartyIdAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1617

#1615 RIA-7752 party ID generation AIP journey
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3763-RIA-submit-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-submit-reheard-hearing-requirements-multiple-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-submit-reheard-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-436-RIA-2087-submit-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-587-hearing-requirements-request-docmosis-enabled.json
  src/functionalTest/resources/scenarios/RIA-7507-submit-hearing-requirements-with-interpreter-sign-language.json
  src/functionalTest/resources/scenarios/RIA-7507-submit-hearing-requirements-with-interpreter-spoken-language.json
  src/functionalTest/resources/scenarios/RIA-7752-aip-party-id-generation-edit-appeal-out-of-country-with-sponsor.json
  src/functionalTest/resources/scenarios/RIA-7752-aip-party-id-generation-edit-appeal.json
  src/functionalTest/resources/scenarios/RIA-7752-aip-party-id-generation-start-appeal-out-of-country-with-sponsor.json
  src/functionalTest/resources/scenarios/RIA-7752-aip-party-id-generation-start-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PartyIdHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealAipHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PartyIdHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1615

#1599 RIA-7338 Sign language interpreter flag for appellant
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7338-review-sign-language-appellant-flag.json
  src/functionalTest/resources/scenarios/RIA-7338-update-sign-language-appellant-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SignLanguageForAppellantCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SignLanguageForAppellantCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1599

#1622 RIA-TASK - Updated Bundling DB details for Preview
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1622

#1626 RIA-7814 added ia-preview resource group and service bus
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1626

#1628 RIA-7321 RIA-7689 Adding internal event for notification
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1628

#1627 RIA-7699 - Fix incorect tab url
  src/functionalTest/resources/scenarios/RIA-7635-Update-interpreter-details-confirmation.json
  src/functionalTest/resources/scenarios/RIA-7699-Update-interpreter-booking-status-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1627

#1625 RIA-7436 Enable notifications for 'Send Direction' event for interna…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1625

#1621 RIA-7875 Updates to resolve conflicts and spin up preview
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  docker-compose.yml
  lombok.config
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/ConfigValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/config/DocumentUploadClientApiConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/fixtures/documents/CDAMDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/fixtures/documents/DMDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/fixtures/documents/DocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyTestFeatureToggler.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/CDAMSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/DMSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/SystemDocumentManagementUploader.java
  src/functionalTest/resources/scenarios/RIA-5184-RIA-7335-set-anonymity-flag-by-default-for-RP-appeal.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/TestClassOrderer.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/WithReferenceDataStub.java
  src/integrationTest/resources/junit-platform.properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegacyCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/JacksonConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegacyCaseFlagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1621

#1623 RIA-7869 Allow unique identifying of flags based off witnesses
  src/functionalTest/resources/scenarios/RIA-7480-review-add-in-private-flag.json
  src/functionalTest/resources/scenarios/RIA-7483-7579-appellant-witness-case-level-case-flags.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PartyFlagIdValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EvidenceInPrivateCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingRequirementsAppellantCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EvidenceInPrivateCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingRequirementsAppellantCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1623

#1632 RIA-7378 unlink_appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1632

#1635 RIA-7514 Adding start appeal to mid event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1635

#1633 RIA-7839 edit post submit detention handler changes
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionFacilityEditAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionFacilityEditAppealHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1633

#1636 RIA-7579 Address reliability issues flagged by Sonarcloud
  src/functionalTest/resources/scenarios/RIA-7635-Update-interpreter-details-about-to-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterLanguageRefData.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SignLanguageForAppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForAppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1636

#1638 RIA-7427 Adding events for doc generation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1638

#1637 RIA-7377 unlink_appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1637

#1427 RIA-6088 Strategic case flags STEP 2
  config/owasp/suppressions.xml
  src/contractTest/resources/application.properties
  src/functionalTest/resources/scenarios/RIA-5184-RIA-7335-set-anonymity-flag-by-default-for-PA-appeal.json
  src/functionalTest/resources/scenarios/RIA-5184-RIA-7335-set-anonymity-flag-by-default-for-RP-appeal.json
  src/functionalTest/resources/scenarios/RIA-5184-set-anonymity-flag-by-default-for-PA-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/S94bStatusHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/S94bStatusHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1427

#1639 RIA-7412 fixed issue of appellant sign language set to no
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SignLanguageForAppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForAppellantCaseFlagsHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1639

#1644 RIA-7903 Resolve conflicts and rebase with master
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegacyCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/S94bStatusHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1644

#1643 RIA-7888 Set HomeOfficeReferenceNumber to GWFReferenceNumber when appellant selects refusalOfHumanRights or RefusePermit
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1643

#1642 RIA-7376 link_case
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1642

#1648 RIA-7279 Enabled requestResponseAmend document generation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1648

#1618 RIA-7814 init commit
  Jenkinsfile_CNP
  bin/add-org-roles-to-users.sh
  bin/import-bpmn-diagram.sh
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  bin/utils/idam-lease-service-token.sh
  bin/utils/idam-user-id.sh
  bin/utils/idam-user-token.sh
  bin/utils/organisational-role-assignment.sh
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1618

#1650 RIA-7426 RIA-7692 Enabling notification for upload additional evidence
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1650

#1651 DIAC-14 nightly fix
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_nightly
  audit.json
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  security.sh
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/AssignCaseAccessConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/ProfessionalOrganisationConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/ProfessionalUsersConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/RefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivatedTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadHomeOfficeAppealResponseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignmentTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1651

#1654 RIA-7278 RIA-7706 Enable internal notification for requestResponseAmend event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1654

#1655 RIA-7437 updating send direction roles
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1655

#1662 RIA-7691 RIA-7693 Enabling notification for upload addendum evidence AO
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1662

#1647 RIA-7657 Added spoken language flag for witness
  src/functionalTest/resources/scenarios/RIA-7657-review-add-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7657-update-witness-interpreter.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForWitnessCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForWitnessCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1647

#1663 RIA-111 renovate json patch
  .github/renovate.json
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1663

#1640 RIA-7432 Enable notifications when LO changes hearing centre
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1640

#1665 RIA-7657 Incorrectly removing all interpreter flags when no witness
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForWitnessCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1665

#1671 RIA-7657 incorrect order of param's
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForWitnessCaseFlagsHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1671

#1666 RIA-7907 Removed 'Update appeal details' type for HO users in decided…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1666

#1670 RIA-7692 RIA-7693 adding latest dispatch to handler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHomeOfficeAdminOfficerHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAddendumEvidenceLegalRepHomeOfficeAdminOfficerHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1670

#1658 RIA-7879 map epims ids to ccd hearing locations
  src/functionalTest/resources/scenarios/RIA-3734-RIA-7879-case-listing-belfast-hearing-venue.json
  src/functionalTest/resources/scenarios/RIA-7879-case-listing-harmondsworth-hearing-venue.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinder.java
  src/main/resources/application-postcodes.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1658

#1660 RIA-7418 Appeal edited - ADA & Non ADA (Letter)
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1660

#1656 RIA-7417 RIA-7707 appeal_edited
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1656

#1676 RIA-7814 Added 3 more WA user roles for preview
  Jenkinsfile_CNP
  bin/add-org-roles-to-users.sh
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1676

#1629 RIA-TASK - Preview environment improvements
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1629

#1672 RIA-7370 Enabled doc generation for HO upload additional/addendum evidence and LO upload addendum evidence
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1672
