Repository hmcts/ia-case-api, pull requests merged in 2023-02, with the labels that each got.

#1254 RIA-6688 - Allowing admins access to startAppeal event and adding a f…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealUserRoleAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealUserRoleAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1254

#1187 RIA-5683 priority key update in HO notify handler
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/DispatchPriority.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/DispatchPriorityTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1187

#1255 To upgrade java chart version
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1255

#1257 RIA-6586 Transfer out of ada event
  src/functionalTest/resources/scenarios/RIA-6586-transfer-out-of-ada-in-appeal-submitted-state.json
  src/functionalTest/resources/scenarios/RIA-6604-ada-suitability-confirmation-unsuitable.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdaSuitabilityReviewConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/TransferOutOfAdaConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/TransferOutOfAdaHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AdaSuitabilityReviewConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/TransferOutOfAdaConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/TransferOutOfAdaHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1257

#1263 To revise chart version
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1263

#1256 RIA-6618 Add ProgressBarAdaSuffixAppender
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ProgressBarAdaSuffixAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ProgressBarAdaSuffixAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1256

#1253 RIA-6622 Changes to Make an application dropdown for ADA cases
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1253

#1260 Rebase of Prod releases onto Naba branch
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3298-remove-deport-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/DispatchPriority.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForRemissionRejectedTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/DispatchPriorityTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForRemissionRejectedTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1260

#1262 RIA-6647 Dynamic FTPA application deadline
  charts/ia-case-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-out-of-time-flag-on-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-in-time-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-flag-set-homeoffice-generic.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-flag-set-homeoffice-pou.json
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-appellant-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-respondent-flag-on.json
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-appellant-in-time-flag-off-submit-ooc.json
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-appellant-out-of-time-flag-on-submit-ooc.json
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-respondent-in-time-flag-set-homeoffice-generic-ooc.json
  src/functionalTest/resources/scenarios/RIA-3954-ftpa-respondent-out-of-time-flag-set-homeoffice-generic-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1262

#1264 Ria 6692 internal case creation
  src/functionalTest/resources/scenarios/RIA-6692-internal-case-creation-ada-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-6692-internal-case-creation-add-isAdmin-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/InternalCaseCreationContactDetailsAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAppealFormHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/InternalCaseCreationContactDetailsAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAppealFormHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1264

#1265 RIA-6588 Transfer out of ada notifications
  src/functionalTest/resources/scenarios/RIA-6586-transfer-out-of-ada-in-appeal-submitted-state.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1265

#1261 Ria 6593 due date for ada
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1261

#1266 RIA-6592: Update the direction due date for 'Request Respondent Evide…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1266

#1272 To resolve merge conflicts
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTriggerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1272

#1274 Update to fix code quality issue
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAppealFormHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1274

#1275 To fix sonar quality gate issues
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadAppealFormHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1275

#1276 RIA-6692 - Removing endpoint to assign legal rep organisation details…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1276

#1277 RIA-6585: Mark appeal as ADA event
  src/functionalTest/resources/scenarios/RIA-6585-mark-appeal-as-ada-in-appeal-submitted-state-admin.json
  src/functionalTest/resources/scenarios/RIA-6585-mark-appeal-as-ada-in-appeal-submitted-state-tcw.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsAdaConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsAdaHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ProgressBarAdaSuffixAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsAdaConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsAdaHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1277

#1278 Ria 6647 ftpa in flight rework
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-appellant-in-flight-cases-ooc-in-time-submission.json
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-appellant-in-flight-cases-ooc-out-of-time-submission.json
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-appellant-in-flight-cases-uk-in-time-submission.json
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-appellant-in-flight-cases-uk-out-of-time-submission.json
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-respondent-in-flight-cases-ooc-in-time-submission.json
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-respondent-in-flight-cases-ooc-out-of-time-submission.json
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-respondent-in-flight-cases-uk-in-time-submission.json
  src/functionalTest/resources/scenarios/RIA-6647-ftpa-respondent-in-flight-cases-uk-out-of-time-submission.json
  src/functionalTest/resources/templates/minimal-appeal-submitted-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1278

#1268 Ria 6694 admin submit appeal
  src/functionalTest/resources/scenarios/RIA-6694-submit-appeal-by-admin.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsHandler.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1268

#1282 RIA-6585: Ensure decision letter received date is set after marking a…
  src/functionalTest/resources/scenarios/RIA-6585-mark-appeal-as-ada-in-appeal-submitted-state-admin.json
  src/functionalTest/resources/scenarios/RIA-6585-mark-appeal-as-ada-in-appeal-submitted-state-tcw.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsAdaHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsAdaHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1282

#1238 master <- AIP Payment rebased (DO NOT MERGE)
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/functionalTest/resources/scenarios/RIA-6542-aip-dc-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-6542-aip-ea-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-6542-aip-pa-payLater-submit-appeal.json
  src/functionalTest/resources/scenarios/RIA-6542-aip-pa-payNow-submit-appeal.json
  src/functionalTest/resources/templates/minimal-aip-appeal-started.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesAndStatusCheckPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdSupplementaryUpdaterTest.java
Labels: DO_NOT_MERGE, ns:ia, prd:ia, rel:ia-case-api-pr-1238

#1283 Updates to fix terraform warnings
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1283

#1285 Updates to rebase and fix unit tests
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTrigger.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FeesHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1285

#1279 RIA-6586 Setting 'adaHearingRequirementsSubmitted' flag
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1279

#1280 Ria 6700 internal case creation edit before submit
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/InternalCaseCreationContactDetailsAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/InternalCaseCreationContactDetailsAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1280

#1271 RIA-6655 case list filters backend changes
  src/functionalTest/resources/scenarios/RIA-6655-detention-status-set-correctly-ada.json
  src/functionalTest/resources/scenarios/RIA-6655-detention-status-set-correctly-detained-non-ada.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1271

#1286 RIA-6702 - Internal case creation adding access to the following even…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1286

#1288 RIA-6733: Make 'Mark appeal as paid' event available for internal cases
  src/functionalTest/resources/scenarios/RIA-6733-mark-hu-appeal-as-paid-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-6733-mark-pa-appeal-as-paid-case-officer.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1288

#1290 RIA-6862 - Updating supplementary data handler to not be called for e…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1290

#1289 RIA-6662 Changes necessary for progress bar conversion to non-ADA
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ProgressBarAdaSuffixAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/TransferOutOfAdaHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ProgressBarAdaSuffixAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/TransferOutOfAdaHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1289

#1291 RIA-6854 Detained ADA appeals ending Automatically
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForRemissionRejectedTrigger.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForRemissionRejectedTriggerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1291

#1293 RIA-6735 -
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealUserRoleAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealUserRoleAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1293

#1287 Ria 6698 appeal tab changes
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1287
