Repository hmcts/ia-case-api, pull requests merged in 2023-12, with the labels that each got.

#1841 DIAC-123 suppression update 04/12/23
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1841

#1850 DIAC-123 dependency 07/12/23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1850

#1853 DIAC-113 Remove ia-case-api postgres flexible server in AAT
  config/owasp/suppressions.xml
  infrastructure/main.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1853

#1854 DIAC-113 Add ia-case-api postgres flexible server terraform module
  infrastructure/main.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1854

#1844 DIAC-113 - add force trigger for roles
  infrastructure/main.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1844

#1852 RIA-7781 - New Application type Change hearing type
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7781-legal-rep-make-a-change-hearing-type-application.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1852

#1857 RIA-7715 add_evidence
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/AdditionalEvidenceForCostsHandler.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1857

#1855 RIA-7799 Update cancellation reasons to use ref-data
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1855

#1861 RIA-7836 Rename hearings cancellation/update reasons
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsStateHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1861

#1865 RIA-7715 add_evidence_patch
  src/functionalTest/resources/scenarios/RIA-7715_ho_adds_evidence_to_costs.json
  src/functionalTest/resources/scenarios/RIA-7715_legalrep_adds_evidence_to_costs.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/AdditionalEvidenceForCostsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/RespondToCostsHandler.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1865

#1831 DIAC-78 Exclude caseData from error response logs
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/ErrorResponseLogger.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/ErrorResponseLoggerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1831

#1863 RIA-7803 apply_for_costs_oot
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1863

#1860 RIA-7771 Fix hearingChannel initialization and confirmation message error
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingChannelsDynamicListUpdater.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingChannelsDynamicListUpdaterTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1860

#1871 DIAC-184 build fix 18-12-23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1871

#1805 DIAC-113 Switch to Postgres database v15
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1805

#1872 RIA-7482 remind Legal Officer to add case flags after reviewing hearing requirements
  charts/ia-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmationTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1872

#1870 RIA-8180 Use a correct case state after adjourn a case.
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsStateHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1870

#1856 RIA-7780 Auto-cancel hearing if change hearing application granted
  src/functionalTest/resources/scenarios/RIA-7780-decide-an-application-change-hearing-type-error.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1856

#1874 RIA-7323 adjourn_hearing
  charts/ia-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1874

#1873 RIA-8346 Auto hearing request feature toggle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AutoHearingRequestService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AutoHearingRequestServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1873

#1877 RIA-8346 Enable auto hearing request only for locations set in launc…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegratedHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegrationPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationBasedFeatureToggler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegratedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegrationPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationBasedFeatureTogglerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1877
