Repository hmcts/ia-case-api, pull requests merged in 2023-10, with the labels that each got.

#1673 RIA-7466 RIA-7710 RIA-7369 RIA-7709 Enable HO uploads additional/addendum evidences event for internal notifications
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1673

#1675 RIA-7443 RIA-7711 Enabled uploadAddendumEvidence notifications for internal cases
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1675

#1674 RIA-7703 create and remove interpreter case flags
  src/functionalTest/resources/scenarios/RIA-7703-map-interpreter-to-interpreter-case-flags.json
  src/functionalTest/resources/scenarios/RIA-7703-remove-interpreter-flags.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveCaseFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveCaseFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1674

#1680 RIA-7439 ho_change_direction_due_date
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1680

#1684 RIA-TASK - Updated Stitching Service
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1684

#1681 RIA-7470 Enable 'change direction due date' notifications
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1681

#1685 RIA-1234 replacing renovate.json with basic config
  .github/renovate.json
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1685

#1678 RIA-7881 List the case automatically
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1678

#1690 RIA-7617 - Assign language name and code to the correct fields in inte…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForAppellantCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SpokenLanguageForWitnessCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1690

#1697 RIA-7429 Document generation for reinstate appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1697

#1698 RIA-7410 source of appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfAppeal.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfAppealTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1698

#1700 RIA-7703 update callback stage
  src/functionalTest/resources/scenarios/RIA-7703-map-interpreter-to-interpreter-case-flags.json
  src/functionalTest/resources/scenarios/RIA-7703-remove-interpreter-flags.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveCaseFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveCaseFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1700

#1707 RIA-7703 change of event for interpreter flags
  src/functionalTest/resources/scenarios/RIA-7703-map-interpreter-to-interpreter-case-flags.json
  src/functionalTest/resources/scenarios/RIA-7703-remove-interpreter-flags.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveCaseFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveCaseFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1707

#1701 RIA-7842 Editing granting application success page.
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1701

#1691 RIA-7911 hearing requirements changed
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1691

#1715 RIA-1234 preview.vaues update
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1715

#1716 RIA-7814 testing branch for preview
  Jenkinsfile_CNP
  bin/add-org-roles-to-users.sh
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1716

#1713 RIA-7793 Trigger event for Hmc exception to make WA task
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1713

#1721 RIA-7819 update isIntegrated when event triggered
  src/functionalTest/resources/scenarios/RIA-7819-update-isIntegrated-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHmcResponseEventHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHmcResponseEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1721

#1717 RIA-7925 - updated es and logstash configuration
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1717

#1724 RIA-7922 Maintanance for witness fields
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1724

#1726 DIAC-000 Dependency fix
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1726

#1696 RIA-7823 Create UpdateHearingRequest flow
  charts/ia-case-api/values.yaml
  docker-compose.yml
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestSubmit.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1696

#1727 RIA-7951 Refactoring Service Hearing Values payload generation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/StrategicCaseFlagService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/StrategicCaseFlagServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1727

#1723 RIA-7537 EJP LO additional events
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1723

#1728 RIA-7842 Fix for new text to only show on list assist hearings
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideAnApplicationConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1728

#1731 RIA-7792 Add logs temporarily for demo investigation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveWitnessCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguageFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesDraftMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1731

#1739 RIA-7771 Record adjournment details for List Assist hearing - next hearing
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-changes-appeal-status-to-adjourn.json
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-confirmation.json
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-does-not-change-appeal-status-to-adjourn.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingAdjournmentDay.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingChannelsDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingChannelsDynamicListUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1739

#1734 RIA-7882 Trigger edit case listing event
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1734

#1741 RIA-7617 Fix issue with interpreter language flag name format
  src/functionalTest/resources/scenarios/RIA-7338-review-sign-language-appellant-flag.json
  src/functionalTest/resources/scenarios/RIA-7338-update-sign-language-appellant-flag.json
  src/functionalTest/resources/scenarios/RIA-7412-review-interpreter-language-flag.json
  src/functionalTest/resources/scenarios/RIA-7412-update-interpreter-language-flag.json
  src/functionalTest/resources/scenarios/RIA-7657-review-add-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7657-update-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7658-review-add-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7658-update-witness-interpreter.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/StrategicCaseFlagService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInterpreterLanguageFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguageFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/StrategicCaseFlagServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1741

#1745 RIA-7904 - Inform user if hearing cannot be auto updated + refactor end appeal event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/EndAppealConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1745

#1736 RIA-7444 ejp part 2 start appeal
  src/functionalTest/resources/scenarios/RIA-7444-start-appeal-internal-detained-ejp-case.json
  src/functionalTest/resources/scenarios/RIA-7444-start-appeal-internal-detained-paper-form-case-not-ejp.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/IsEjpHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/IsEjpHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LetterSentOrReceivedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1736

#1746 RIA-7961 - remove hardcoded credentials
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1746

#1733 RIA-7713 apply_for_costs
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7713_ho_apply_for_costs.json
  src/functionalTest/resources/scenarios/RIA-7713_legalrep_apply_for_costs.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/TypesOfAppliedCosts.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/applyforcosts/ApplyForCostsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplyForCostsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/applyForCosts/ApplyForCostsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppenderTest.java
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1733

#1750 RIA-7792 Refactor of logic around witness related fields
  src/functionalTest/resources/scenarios/RIA-7509-submit-hearing-requirements-with-witness-interpreters.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/WitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguagesDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesDraftMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/WitnessesService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveWitnessCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguageFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguagesDynamicListUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesDraftMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1750

#1747 RIA-7978 Prevent edit case listing direction appending
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1747

#1754 RIA-7713 apply_for_costs: Add_generic_home_office_role
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsMidEvent.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1754

#1749 RIA-7830 trigger hearings api on record adjournment details event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1749

#1761 RIA-7792 clear witness list element fields
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1761
