Repository hmcts/ia-case-api, pull requests merged in 2023-08, with the labels that each got.

#1524 RIA-7677 Update CaseFlagValue, include created date and modified date
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingRequirementsAppellantCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingRequirementsAppellantCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1524

#1521 RIA-7552_appeal_can_proceed: Add Record out of time decision event to…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1521

#1528 RIA-7677 Ignore unknown CaseFlagValue properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1528

#1527 RIA-7554_directed_to_upload_bundle: Add an event REQUEST_RESPONDENT_E…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1527

#1532 RIA-7721 Solve vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1532

#1535 RIA-7475 OOC edit after submit flow
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1535

#1533 RIA-7642 Update hearing reqs witnesses languages
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/WitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/InterpreterLanguagesDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesDraftMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/InterpreterLanguagesDynamicListUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesDraftMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1533

#1539 RIA-7585 Suppress vulnerability on NABA branch
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1539

#1538 RIA-7545 non payment end appeal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1538

#1545 RIA-7544 Added Mark Appeal Paid event to document generator and notif…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1545

#1543 RIA-7585 - Change the confirmation body for the event 'Mark Appeal As …
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealPaidConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealPaidConfirmationTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1543

#1547 RIA-7618 Adding record remission decision event to doc and notif gene…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1547

#1548 RIA-7509 Move logic to different classes
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInterpreterLanguagesDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/InterpreterLanguagesDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguagesDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInterpreterLanguagesDynamicListUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguagesDynamicListUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1548

#1544 RIA-7556 internal_det_ho_review_maintaned: Add new event to GenerateD…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1544

#1550 RIA-7558 Added listCase event to send notification for internal detai…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1550

#1551 RIA-7480 - updated event to requirements
  src/functionalTest/resources/scenarios/RIA-3763-update-hearing-requirements-case-officer-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-reheard-hearing-requirements-multiple-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-reheard-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-RIA-2031-update-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-RIA-7507-update-hearing-requirements-with-sign-language-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-RIA-7507-update-hearing-requirements-with-spoken-language-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-update-hearing-requirements-deactivate-hearing-loop-flags.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-update-hearing-requirements-deactivate-wheelchair-access-flags.json
  src/functionalTest/resources/scenarios/RIA-7480-update-add-in-private-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EvidenceInPrivateCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EvidenceInPrivateCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1551

#1554 RIA-7560 added requestHearingRequirementsFeature event to internal de…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1554

#1423 RIA-6614 Case flags migration STEP 1
  .gitignore
  config/owasp/suppressions.xml
  lombok.config
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-anonymity-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-complex-case-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-deport-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-detained-immigration-appeal-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-foreign-national-offender-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-potentially-violent-person-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-unacceptable-customer-behaviour-flag.json
  src/functionalTest/resources/scenarios/RIA-1742-flag-case-with-unaccompanied-minor-flag.json
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag-preparer.json
  src/functionalTest/resources/scenarios/RIA-2513-remove-flag.json
  src/functionalTest/resources/scenarios/RIA-3298-remove-deport-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-flag-case-with-ftpa-flag.json
  src/functionalTest/resources/scenarios/RIA-3865-flag-case-with-s94b-out-of-country-flag.json
  src/functionalTest/resources/scenarios/RIA-3865-remove-flag-s94b-ooc.json
  src/functionalTest/resources/scenarios/RIA-4798-flag-case-with-appeal-on-hold.json
  src/functionalTest/resources/scenarios/RIA-4798-remove-case-flag-appeal-on-hold.json
  src/functionalTest/resources/scenarios/RIA-4973-RIA-5303-set-case-name.json
  src/functionalTest/resources/scenarios/RIA-4973-RIA-5303-set-incorrect-case-name.json
  src/functionalTest/resources/scenarios/RIA-5153-set-case-category.json
  src/functionalTest/resources/scenarios/RIA-5153-set-incorrect-case-category.json
  src/functionalTest/resources/scenarios/RIA-5184-set-anonymity-flag-by-default-for-PA-appeal.json
  src/functionalTest/resources/scenarios/RIA-5184-set-anonymity-flag-by-default-for-RP-appeal.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario1.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario2.json
  src/functionalTest/resources/scenarios/RWA-497-case-base-location-data-fix-scenario3.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegacyCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseFlagAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/LegacyCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/FlagCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/flagcase/RemoveFlagPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseFlagAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1423

#1558 RIA-7561 Added requestHearingRequirementsFeature to events to handle for doc generation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1558

#1425 RIA-5804 Document Management using feature flag
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/checkstyle/checkstyle.xml
  docker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/ConfigValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/config/DocumentUploadClientApiConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/fixtures/documents/CDAMDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/fixtures/documents/DMDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/fixtures/documents/DocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyTestFeatureToggler.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/CDAMSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/DMSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/SystemDocumentManagementUploader.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/TestClassOrderer.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/WithReferenceDataStub.java
  src/integrationTest/resources/junit-platform.properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/JacksonConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1425

#1552 RIA-7699 - Manage interpreter booking status
  charts/ia-case-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-7699-Update-interpreter-booking-status-about-to-start.json
  src/functionalTest/resources/scenarios/RIA-7699-Update-interpreter-booking-status-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterBookingStatus.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1552

#1568 RIA-7567 Make Witness<N>InterpreterLanguage persist
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguagesDynamicListUpdater.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1568

#1570 RIA-7374 mark_appeal_as_ada
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1570

#1579 RIA-7280 added edit case listing event to send notification handler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1579

#1584 RIA-7364 Added decideAnApplication event to GenerateDocumentHandler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1584

#1583 RIA-7480 Change of requirements to update hearing adjustments
  src/functionalTest/resources/scenarios/RIA-7480-update-add-in-private-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EvidenceInPrivateCaseFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EvidenceInPrivateCaseFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1583

#1585 RIA-7614 fixed supplementary data handler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1585

#1577 RIA-7635 -Manage interpreter details
  src/functionalTest/resources/scenarios/RIA-7635-Update-interpreter-details-about-to-submit.json
  src/functionalTest/resources/scenarios/RIA-7635-Update-interpreter-details-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterLanguageRd.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1577

#1586 RIA-7804 Fix problem with adding flags past the first one
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1586

#1589 RIA-7521 RIA-7527 Handle suitability field clearing
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1589

#1592 RIA-7328 ho_ftpa_submitted_v2
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1592

#1590 RIA-TASK - Updated Bundling dependencies for Master
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1590

#1593 RIA-7701 Added transfer out of ADA event to document generation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1593

#1596 RIA-7816 retrofit bug fixes to case flags branch
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1596

#1604 RIA-7330 appellant ftpa decided granted document
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1604

#1602 RIA-7699 - Fix for empty fields being present after Review Hearing req…
  charts/ia-case-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-7699-Update-interpreter-booking-status-about-to-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1602

#1606 RIA-7166 adding required document env variable for upload
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1606

#1565 RIA-7777 Add useful links to PR deployments to GitHub
  Jenkinsfile_CNP
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1565
