Repository hmcts/ia-case-api, pull requests merged in 2023-04, with the labels that each got.

#1339 RIA-6954: Updated the available application types for internal ADA ca…
  src/functionalTest/resources/scenarios/RIA-6856-application-types-available-ada-internal-case-after-hearing-req.json
  src/functionalTest/resources/scenarios/RIA-6856-application-types-available-ada-internal-case-before-hearing-req.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1339

#1332 Ria 6906 mark appeal as detained
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-6906-mark-appeal-as-detained.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PrisonNomsNumber.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsDetainedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/BailApplicationNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustodialDateValidator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionStatusHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsDetainedHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsDetainedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/BailApplicationNumberHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustodialDateValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionStatusHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsDetainedHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1332

#1346 Revert "RIA-6975 - Adding NABA feature flag & defaulting in detention to "No""
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1346

#1345 Update Dockerfile
  Dockerfile
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1345

#1343 RIA-6939: Enable notifications for 'Remove Detention Status' & 'Mark …
  src/functionalTest/resources/scenarios/RIA-6906-mark-appeal-as-detained.json
  src/functionalTest/resources/scenarios/RIA-6907-remove-detained-status.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1343

#1342 RIA-6132: Appellant Submits FTPA Application - In Time
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1342

#1350 RIA-6990 Fix CustodialDateValidator
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustodialDateValidator.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CustodialDateValidatorTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1350

#1347 RIA-6112 RIA-6133 Enable/Disable ftpa notification with feature flag
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1347

#1352 RIA-6586 Fixing typo in confirmation text
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/TransferOutOfAdaConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/TransferOutOfAdaConfirmationTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1352

#1349 RIA-6115 FTPA submitted by HO (AIP journey)
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1349

#1353 RIA-7003 unrep start appeal confirmation content change
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSavedConfirmationTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1353

#1355 RIA-7009 - Adding internal case confirmation screen message for submi…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1355

#1351 RIA-6560 - Functional tests improvements
  build.gradle
  src/functionalTest/resources/scenarios/RIA-2783-edit-documents.json
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1351

#1361 RIA-7030 add reinstate appeal event to internalEventsToHandle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1361

#1360 RIA-7039: Not setting HAS_SERVICE_REQUEST_ALREADY field during Remiss…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1360

#1365 RIA-7029 Handler to set isAdmin to Yes when stop representing a client
  bin/variables/load-preview-environment-variables.sh
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1365
