Repository hmcts/ia-case-api, pull requests merged in 2023-11, with the labels that each got.

#1760 RIA-7769 prepopulate record adjournment details
  src/functionalTest/resources/scenarios/RIA-7769-prepopulate-record-adjournment-details.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1760

#1757 RIA-7731 apply_for_costs_feature_toggle
  src/functionalTest/resources/scenarios/RIA-7713_ho_apply_for_costs.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppenderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1757

#1764 RIA-8888 Added CVE-2023-31582 suppression
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1764

#1738 DIAC-113 - add terraform module for postgres 15 upgrade
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1738

#1768 RIA-7731 apply_for_costs_feature_toggle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1768

#1762 RIA-7775 Details of adjournment are visible on Hearing & Appointments tab
  src/functionalTest/resources/scenarios/RIA-7769-prepopulate-record-adjournment-details.json
  src/functionalTest/resources/scenarios/RIA-7775-record-adjournment-details-preserve-current-adjournment-detail-and-previous-adjournment-details-history.json
  src/functionalTest/resources/scenarios/RIA-7775-record-adjournment-details-preserve-current-adjournment-detail.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AdjournmentDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1762

#1770 RIA-7450 added handler to handle ejp case creation documents
  src/functionalTest/resources/scenarios/RIA-7450-submit-ejp-transfer-down-appeal-by-admin-documents.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadEjpDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadEjpDocumentsHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1770

#1775 DIAC-113 - add postgres 15 terraform module
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1775

#1776 RIA-7837 Update witness flags when language manual
  src/functionalTest/resources/scenarios/RIA-7338-review-sign-language-appellant-flag.json
  src/functionalTest/resources/scenarios/RIA-7338-update-sign-language-appellant-flag.json
  src/functionalTest/resources/scenarios/RIA-7658-review-add-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7658-update-witness-interpreter.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInterpreterLanguageFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguageFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInterpreterLanguageFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguageFlagsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1776

#1778 RIA-7803 apply_for_costs_oot
  charts/ia-case-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-7803_oot_apply_for_costs_end_appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/applyforcosts/ApplyForCostsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplyForCostsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/applyForCosts/ApplyForCostsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppenderTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1778

#1781 RIA-7668 - Update field
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1781

#1779 RIA-7445 QA fixes - new handlers to fix address and contact pref screens
  src/functionalTest/resources/scenarios/RIA-7444-start-appeal-internal-detained-ejp-case.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ContactPreferenceUnrep.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpAppellantLegalPracticeAddressMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ContactPreferenceUnrepTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpAppellantLegalPracticeAddressMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1779

#1777 RIA-7791 Notice is sent when hearing is adjourned with no future hearing date
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1777

#1783 RIA-7450 Updated EJP file name
  src/functionalTest/resources/scenarios/RIA-7450-submit-ejp-transfer-down-appeal-by-admin-documents.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadEjpDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadEjpDocumentsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1783

#1782 RIA-7478 Updated edit document event handler to write ejp document fi…
  src/functionalTest/resources/scenarios/RIA-7450-submit-ejp-transfer-down-appeal-by-admin-documents.json
  src/functionalTest/resources/scenarios/RIA-7478-edit-ejp-transfer-down-documents.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadEjpDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadEjpDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1782

#1786 RIA-7837 Sanitize appellant language complex types
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1786

#1788 RIA-7734 apply_for_costs_respondent_notification_v2
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1788

#1732 DIAC-116 adding smoke, unit, integration testing and easy access reports to nightly build
  Jenkinsfile_nightly
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1732

#1789 RIA-7481 add multimedia evidence flag if granted by legal officer
  src/functionalTest/resources/scenarios/RIA-7481-review-add-audio-video-flag.json
  src/functionalTest/resources/scenarios/RIA-7481-update-add-audio-video-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingRequirementsAppellantFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingRequirementsAppellantFlagsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1789

#1794 RIA-7478 Added ignore 'document_hash' property for Document.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/Document.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1794

#1795 RIA-7714 Added new event 'Respond to costs'
  src/functionalTest/resources/scenarios/RIA-7714_ho_respond_to_costs.json
  src/functionalTest/resources/scenarios/RIA-7714_lr_respond_to_costs.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplyForCosts.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RespondToCostsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RespondToCostsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/RespondToCostsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ApplyForCostsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/applyForCosts/RespondToCostsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RespondToCostsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/RespondToCostsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/ApplyForCostsProviderTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1795

#1796 RIA-7661 Appeal transferred to the First-tier Tribunal - HO notification
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1796

#1799 RIA-7929 Decision without a hearing - Existing HO notification
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1799

#1791 RIA-7963 Update HMC when interpreter details event is triggered
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1791

#1800 RIA-7837 Update caseflags for manual languages updated with manual languages
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/StrategicCaseFlagService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/StrategicCaseFlagServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1800

#1766 DIAC-002 Updating renovate config
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1766

#1797 RIA-7966 Update HMC when Update interpreter booking status is triggered
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1797

#1801 RIA-7796 respond_to_costs_applicant
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1801

#1803 DIAC-113 - remove postgres 15 terraform module
  infrastructure/main.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1803

#1793 RIA-7977 - Create functional tests for ia-case-api delegator to ia-hearings-api
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/HearingsUpdateHearingRequestFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsPreparerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsStateHandlerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/IdamAuthProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1793

#1802 RIA-7979 location list assist integrated
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyTestFeatureToggler.java
  src/functionalTest/resources/scenarios/RIA-7979-list-assist-integrated-location.json
  src/functionalTest/resources/scenarios/RIA-7979-list-assist-unintegrated-location.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegratedHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegratedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1802

#1807 RIA-8081 - Remove RIA-7819
  src/functionalTest/resources/scenarios/RIA-7819-update-isIntegrated-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHmcResponseEventHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHmcResponseEventHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1807

#1809 RIA-7942 Force case to SHR
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1809

#1557 RIA-5739 Force case event for Case Building to Case Under Review
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ForceCaseProgressionToCaseUnderReviewConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ForceCaseProgressionToCaseUnderReviewConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1557, enable_keep_helm

#1813 DIAC-113 delete ia-case-api postgres flexible server
  infrastructure/main.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1813

#1812 RIA-7803 oot_fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/applyforcosts/ApplyForCostsFeatureTogglerPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1812

#1814 DIAC-113 delete ia-case-api postgres flexible server in ITHC
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1814

#1816 DIAC-113 Add ia-case-api postgres flexible server in Demo
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1816

#1817 DIAC-113 Add ia-case-api postgres flexible server in ITHC
  infrastructure/main.tf
Labels: add-or-update

#1811 RIA-7994 - Show meaningful error when attempting to update hearing wi…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1811

#1810 RIA-7769 Fix HearingChannel and HearingLocation prepopulate.
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1810

#1792 RIA-TASK - Merge master changes to NABA - ia-case-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_nightly
  audit.json
  bin/add-roles.sh
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  security.sh
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/AssignCaseAccessConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/ProfessionalOrganisationConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/ProfessionalUsersConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/RefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/contractTest/resources/application.properties
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-5184-RIA-7335-set-anonymity-flag-by-default-for-PA-appeal.json
  src/functionalTest/resources/scenarios/RIA-5184-RIA-7335-set-anonymity-flag-by-default-for-RP-appeal.json
  src/functionalTest/resources/scenarios/RIA-5184-set-anonymity-flag-by-default-for-PA-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/S94bStatusHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealGroundsForDisplayFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivatedTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/S94bStatusHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UploadHomeOfficeAppealResponseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignmentTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1792

#1824 RIA-8090 make_an_app
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1824

#1826 DIAC-002 updating renovate JSON to exclude pact versions
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1826

#1828 RIA-7768 change HEARING_CENTER to LIST_CASE_HEARING_CENTRE when adjournment a hearing
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1828

#1829 RIA-7980 listAssistIntegration event should update isIntegrated field
  src/functionalTest/resources/scenarios/RIA-7980-list-assist-integration-confirmation-no.json
  src/functionalTest/resources/scenarios/RIA-7980-list-assist-integration-confirmation-yes.json
  src/functionalTest/resources/scenarios/RIA-7980-list-assist-integration-preparer.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListAssistIntegrationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegrationPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListAssistIntegrationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegrationPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1829

#1830 RIA-8045 legalrep_company_data
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeCompanyNamePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeCompanyNamePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1830

#1616 SNI-4584 Fix duplicate endAppealAutomatically case events
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1616

#1836 DIAC-173 dependency fixes
  .github/workflows/pr-title-validation.yml
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1836

#1832 RIA-7950 REMOVE_APPEAL_FROM_ONLINE
  charts/ia-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseCallbackApiDelegatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1832
