Repository hmcts/ia-case-api, pull requests merged in 2023-06, with the labels that each got.

#1410 To enable decision without hearing
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1410

#1413 AIP FTPA Read Only -> Master
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1413

#1415 To fix quality gate failure
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1415

#1419 RIA-7254_roles_update: add ia_caselinks_profile
  bin/add-roles.sh
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1419

#1376 SNI-3541: code fix applied and unit tests passed
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1376

#1374 AIP FTPA -> Master (DO NOT MERGE)
  src/functionalTest/resources/scenarios/RIA-2864-HandleClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-3017-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-3144-SetupAppellantDocuments.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-HandleClarifyingQuestions.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-HandleCmaRequirements.json
  src/functionalTest/resources/scenarios/RIA-4722-complete-clarifying-questions.json
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-respondent-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-respondent-aip.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Parties.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateActionAvailableUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionActionAvailableUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/PartiesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeDirectionDueDateActionAvailableUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDirectionActionAvailableUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1374

#1414 RIA-7030 Update reinstateAppeal decisionMaker from TCW to LO
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1414

#1428 To fix quality gate failure
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1428

#1430 RIA-7116 Set appeal type length by default for hearing requirements
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1430

#1420 RIA-7158 Added requestCaseBuilding event to GenerateDocumentHandler
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1420

#1396 OOC decision type added
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1396

#1416 RIA-7254 - Added checks for Naba flag
  src/functionalTest/resources/templates/minimal-age-assessment-appeal-started.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ProgressBarAdaSuffixAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ProgressBarAdaSuffixAppenderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1416

#1434 RIA-7120: Automatically add case note on completion of event 'Update …
  src/functionalTest/resources/scenarios/RIA-7120-update-detention-location.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OtherDetentionFacilityName.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionFacilityEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateDetentionLocationCaseNoteHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateDetentionLocationCaseNoteHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1434

#1424 RIA-7524 - Merge master to naba branch
  bin/add-roles.sh
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-2122-decision-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-4473-decision-without-hearing-changes.json
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-case-officer-sends-non-standard-direction-to-respondent-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-appellant-aip.json
  src/functionalTest/resources/scenarios/RIA-7105-judge-sends-non-standard-direction-to-respondent-aip.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/fixtures/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AsylumSupplementaryDataFixingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/eventvalidation/AsylumCaseSendDirectionEventValidForJourneyTypeCheckerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1424

#1438 RIA-7244-Ref-Data-Api
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/CommonRefDataApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/CommonRefDataConsumerTest.java
  src/contractTest/resources/commonrefdata/CommonRefData.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DynamicListElement.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RefDataUserService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CommonDataRefApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/dto/hearingdetails/CategorySubValues.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/dto/hearingdetails/CategoryValues.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/dto/hearingdetails/CommonDataResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/utils/ResourceLoader.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1438

#1436 RIA-7397 markAsReadyForUtTransfer -> reinstateAppeal -> endAppeal incorrect content
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1436

#1368 changes for endAppealAutomatically
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1368

#1447 RIA-7397 moving clearing of UtAppealReferenceNumber to end appeal handler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReinstateAppealStateHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1447

#1442 RIA-7220 set appeal type length by default for list without req
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1442

#1455 RIA-7397
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1455

#1459 RIA-7117: Fix Sonar warning
  src/functionalTest/resources/scenarios/RIA-610-user-details-added-to-case.json
  src/functionalTest/resources/templates/minimal-ada-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-submitted-ooc.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateDetentionLocationCaseNoteHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1459

#1461 RIA-7117: Fix Sonar warning
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MinorTagHandler.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1461

#1453 RIA-7187 Updated direction due date for request case building
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1453

#1457 RIA-7239 Add OOC decision type check when handling ADA appeals
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1457

#1465 RIA-7385 Remove pendantic checkstyle rules
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1465

#1468 RIA-7384 Enforce conventions on commit messages and branches
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/pr-title-validation.yml
  README.md
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1468
