Repository hmcts/ia-case-api, pull requests merged in 2024-05, with the labels that each got.

#2096 RIA-1111 add_ima_roles
  bin/add-roles.sh
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2096

#2113 RIA-TASK - Deploy bails to preview
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2113

#2114 RIA-8901 Updated Application under rule 31 or rule 32 value
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2114

#2115 RIA-8782 Maintain listingLocation aligned with listCaseHearingCentre
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2115

#2117 RIA-8783 Refactor "Edit case listing" to use location reference data
  src/functionalTest/resources/scenarios/RIA-8782-list-case-about-to-start-listing-location-from-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8782-list-case-submit-with-listing-location-from-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8783-edit-case-listing-about-to-start-listing-location-from-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8783-edit-case-listing-submit-with-listing-location-from-ref-data.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditCaseListingPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditCaseListingPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2117

#2089 DIAC-369 Handle EU appeal type in SubmitAppealHandler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2089

#2116 RIA-8270 Added WA services to Internal preview
  Jenkinsfile_CNP
  bin/add-org-roles-to-users.sh
  bin/add-roles.sh
  bin/import-bpmn-diagram.sh
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  bin/utils/idam-lease-service-token.sh
  bin/utils/idam-user-id.sh
  bin/utils/idam-user-token-aat.sh
  bin/utils/idam-user-token.sh
  bin/utils/organisational-role-assignment.sh
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2116

#2122 RIA-8934 Update configuration files with master values
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  bin/utils/idam-user-token-aat.sh
  bin/utils/python_scripts/prep_import_data.py
  bin/utils/python_scripts/redact_info_from_json.py
  bin/utils/python_scripts/tests.py
  build.gradle
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2122

#2127 DIAC-112 third batch
  src/main/resources/caseIdForRetrigger.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2127

#2131 RIA-TASK update preview env with up to date service PRs.
  Jenkinsfile_CNP
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2131

#2133 RIA-TASK update remitted branch for master release
  .github/workflows/pr-title-validation.yml
  bin/utils/idam-user-token-aat.sh
  bin/utils/python_scripts/prep_import_data.py
  bin/utils/python_scripts/redact_info_from_json.py
  bin/utils/python_scripts/tests.py
  build.gradle
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8291-generate-reheard-hearing-bundle-remitted.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2133

#2134 RIA-8936 auto update hearing request failure screen
  charts/ia-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2134

#2012 RIA-TASK - DLRM - REMITTED -> Master
  .github/renovate.json
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-3129-create-case-summary-for-reheard.json
  src/functionalTest/resources/scenarios/RIA-8253-mark-appeal-as-remitted.json
  src/functionalTest/resources/scenarios/RIA-8256-clear-mark-appeal-as-remitted-about-to-start.json
  src/functionalTest/resources/scenarios/RIA-8291-generate-reheard-hearing-bundle-remitted.json
  src/functionalTest/resources/scenarios/RIA-8772-create-case-summary-for-reheard-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReheardHearingDocuments.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemittalDocument.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReheardHearingDocumentsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: DO_NOT_MERGE, ns:ia, prd:ia, destroy, enable_keep_helm, aat/destroy, rel:ia-case-api-pr-2012, prod/destroy

#2135 RIA-8377 test_coverage
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2135

#2136 RIA-8377 fixed_address_for_legalrep_validation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2136

#2138 RIA-8377 test_coverage_fix
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2138

#2141 RIA-8286 Updated refund branch for WA DMNs
  Jenkinsfile_CNP
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2141

#2140 RIA-TASK - Update values.preview.template.yaml
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2140

#2146 RIA-TASK - Fix timed-event-service on preview
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2146

#2151 RIA-9107 ooc_journey_fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfCountryCircumstances.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/OutOfCountryDecisionType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateChecker.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncator.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeReferenceNumberTruncatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2151

#2150 RIA-TASK Merge master to internal
  .github/renovate.json
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-3129-create-case-summary-for-reheard.json
  src/functionalTest/resources/scenarios/RIA-8253-mark-appeal-as-remitted.json
  src/functionalTest/resources/scenarios/RIA-8256-clear-mark-appeal-as-remitted-about-to-start.json
  src/functionalTest/resources/scenarios/RIA-8291-generate-reheard-hearing-bundle-remitted.json
  src/functionalTest/resources/scenarios/RIA-8772-create-case-summary-for-reheard-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReheardHearingDocuments.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemittalDocument.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReheardHearingDocumentsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2150

#2147 RIA-8856 appeals notice of hearing displays the correct location information
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2147
