Repository hmcts/ia-case-api, pull requests merged in 2024-03, with the labels that each got.

#1992 RIA-8612 Fix issue with 'nextHearingFormat' field during 'recordAdjournmentDetails' event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingChannelsDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CommonRefDataDynamicListProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RefDataUserService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingChannelsDynamicListUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/CommonRefDataDynamicListProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1992

#1993 DIAC-219 Added additional fields to redact
  bin/utils/python_scripts/filepath_settings.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1993

#1995 RIA-1111 fix_image_name
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1995

#1963 DIAC-112 for re triggering WA tasks
  charts/ia-case-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RetriggerWaTasksConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RetriggerWaTasksForFixedCaseIdHandler.java
  src/main/resources/application.yaml
  src/main/resources/caseIdForRetrigger.json
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RetriggerWaTasksConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RetriggerWaTasksForFixedCaseIdHandlerTest.java
  src/test/resources/readJsonEmptyList.json
  src/test/resources/readJsonList.json
  src/test/resources/readJsonNonArray.json
  src/test/resources/retriggerWaTasksCaseList.json
  src/test/resources/retriggerWaTasksEmptyCaseList.json
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1963

#1998 DIAC-112 updating caseIdRetrigger json for aat bulk checking
  src/main/resources/caseIdForRetrigger.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1998

#1997 RIA-1112 chart_update_for_aip_refund_preview
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1997

#1994 RIA-8243 Update Tribunal Decision R31 Notification
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1994

#1996 RIA-8050 modify appeal status when dlrmFeeRemission is activated and appeal has remission
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HelpWithFeesOption.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionOption.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1996

#2004 RIA-1113 remove_refund_configuration
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2004

#2006 RIA-8731 Workaround applied
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-appellant-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-respondent-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8158-updateTribunalDecision-rule-32.json
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2006

#2000 RIA-8253 Added handler to rename the uploaded remittal decision document
  src/functionalTest/resources/scenarios/RIA-8253-mark-appeal-as-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2000

#2001 RIA-8239 Added rule 31 updated decisions
  src/functionalTest/resources/scenarios/RIA-8239-updateTribunalDecision-rule-31-list.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DecisionAndReasons.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DecisionAndReasonsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31Test.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2001

#2008 RIA-8253 Merge DLRM branch to DLRM-Remitted branch.
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-appellant-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-respondent-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8158-updateTribunalDecision-rule-32.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HelpWithFeesOption.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionOption.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2008

#2011 RIA-TASK - Update chart
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-2011

#2007 RIA-8157 Update tribunal decision fix
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-updateDecisionAllowed.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-updatedDecisionDismissed.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31Test.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEventTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2007

#2009 DIAC-281 fixing CcdScenarioRunnerTest
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-2208-add-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-5292-add-payment-request-sent-case-note-to-admin-officer.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2009

#2013 Revert "RIA-8253 Merge DLRM branch to DLRM-Remitted branch."
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-appellant-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-respondent-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8158-updateTribunalDecision-rule-32.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HelpWithFeesOption.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionOption.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2013

#2016 RIA-8742 Prepopulate location from hmc value if local epims id empty
  charts/ia-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2016

#2017 RIA-8740 Ensure 'NextHearingFormat' drop-down is populated during 'r…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2017

#2018 RIA-8157 Update tribunal decision data clear
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31Test.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2018

#2015 RIA-8677 AIP Record remission decision enabled
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-error-validation-when-no-remission-present.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-record-remission-decision-approved.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-record-remission-decision-partially-approved.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-record-remission-decision-rejected.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2015

#2014 DIAC-219 adding extra fields to be redacted
  bin/utils/python_scripts/filepath_settings.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2014

#2019 RIA-8220 Update tribunal decision R32 Documents tab
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8220-update-tribunal-decision-rule32.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2019

#2020 DIAC-298 adding logging statements for remissions details appender
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppender.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2020

#2023 RIA-8257 Updated field id for remitted functional test
  src/functionalTest/resources/scenarios/RIA-8253-mark-appeal-as-remitted.json
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2023

#2026 RIA-8253 Fix minor text changes for the confirmation body
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MarkAppealAsRemittedConfirmationTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2026

#2028 RIA-8257 Added remitted case note
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-8253-mark-appeal-as-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfRemittal.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2028

#2030 RIA-0314 preview_env
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8110-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-appellant-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-decide-ftpa-application-record-respondent-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-appellant-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8116-migration-decideFtpaApplication-respondent-with-legacy-started-and-older-decision-reheardRule35.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-updateDecisionAllowed.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-updatedDecisionDismissed.json
  src/functionalTest/resources/scenarios/RIA-8158-updateTribunalDecision-rule-32.json
  src/functionalTest/resources/scenarios/RIA-8220-update-tribunal-decision-rule32.json
  src/functionalTest/resources/scenarios/RIA-8239-updateTribunalDecision-rule-31-list.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-error-validation-when-no-remission-present.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-record-remission-decision-approved.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-record-remission-decision-partially-approved.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-record-remission-decision-rejected.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DecisionAndReasons.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DecisionAndReasonsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31Test.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEventTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2030

#2036 RIA-8257 Updated Court of Appeal enum value
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfRemittal.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2036

#2027 RIA-8219 update tribunal decision rule32 overview tab post event
  src/functionalTest/resources/scenarios/RIA-8158-8219-updateTribunalDecision-rule-32.json
  src/functionalTest/resources/scenarios/RIA-8220-8219-update-tribunal-decision-rule32.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2027

#2037 RIA-8254 Added state 'remitted'
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2037

#2035 RIA-8763 Added reheard internal flag to unlock rule32 path
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8158-8219-updateTribunalDecision-rule-32.json
  src/functionalTest/resources/scenarios/RIA-8220-8219-update-tribunal-decision-rule32.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
Labels: DO_NOT_MERGE, ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2035

#2032 RIA-8210 update tribunal decision docuement tab
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8239-updateTribunalDecision-rule-31-list.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2032

#2038 RIA-1111 merge_dlrm
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8158-8219-updateTribunalDecision-rule-32.json
  src/functionalTest/resources/scenarios/RIA-8220-8219-update-tribunal-decision-rule32.json
  src/functionalTest/resources/scenarios/RIA-8239-updateTribunalDecision-rule-31-list.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2038

#2039 RIA-8210 Update tribunal decision Rule31- Documents tab post event - …
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2039

#2043 RIA-8069_RIA-8070 ask_for_fee_remission
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2043

#2045 RIA-8778 Allow user to apply FTPA again
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecisionDocument-rule-31-normal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2045

#2021 RIA-8758 CcdScenarioRunnerTest fixes from master
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-out-of-time-submit.json
  src/functionalTest/resources/scenarios/RIA-2208-add-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-2527-decide-ftpa-application-record-respondent-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-appellant-ftpa-decision-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-appellant-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-respondent-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-in-time-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification-remade-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification-remade-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-appellant-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-respondent-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-5292-add-payment-request-sent-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-8102-decide-ftpa-application-appellant-reheard-rule35-mid-event.json
  src/functionalTest/resources/scenarios/RIA-8102-decide-ftpa-application-respondent-reheard-rule35-mid-event.json
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2021

#2044 RIA-8062 Update Mark appeal as paid logic to handle appeals with aip fee remission
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2044

#2046 RIA-1122 add_preview_payments_image_link
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2046

#2048 RIA-TASK - Update preview definition store api to use older image
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-2048

#2047 RIA-8070 add_clear_fields
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2047

#2053 RIA-8678 Suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2053

#2052 RIA-8290 - Reheard appeal - event refactor
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-2052

#2054 RIA-TASK - Update memory settings for preview services
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-2054
