Repository hmcts/ia-case-api, pull requests merged in 2024-04, with the labels that each got.

#2055 RIA-TASK OOC Feature toggle field
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealTypePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealTypePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-2055

#2058 DIAC-352 dependency fix
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2058

#2059 RIA-8256 Append the new Remittal Object (containing decision & other remittal documents) to the existing collection.
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8253-mark-appeal-as-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemittalDocument.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2059

#2061 RIA-8772 Added remitted reheard document complex collections
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3129-create-case-summary-for-reheard.json
  src/functionalTest/resources/scenarios/RIA-8772-create-case-summary-for-reheard-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReheardHearingDocuments.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ReheardHearingDocumentsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedUploadDecisionHandlerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2061

#2065 RIA-8077 refund requested notification aip
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2065

#2068 RIA-TASK - Upgrade xui chart version
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, aat/add-or-update, rel:ia-case-api-pr-2068

#2070 RIA-TASK Disable snl functional tests
  src/functionalTest/resources/scenarios/RIA-2239-judge-end-appeal.json
  src/functionalTest/resources/scenarios/RIA-3039-end-appeal-state-saved-for-reinstate.json
  src/functionalTest/resources/scenarios/RIA-3302-ho-notifications-for-end-appeal-with-appeal-submitted-co.json
  src/functionalTest/resources/scenarios/RIA-3763-update-hearing-requirements-case-officer-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-reheard-hearing-requirements-multiple-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-3763-update-reheard-hearing-requirements-single-requirements-exist.json
  src/functionalTest/resources/scenarios/RIA-4293-persisted-fields-update-representative-details.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-RIA-2031-update-hearing-requirements.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-RIA-7507-update-hearing-requirements-with-sign-language-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-RIA-7507-update-hearing-requirements-with-spoken-language-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7337-RIA-7340-review-hearing-requirements-create-hearing-loop-and-wheelchair-access-flags.json
  src/functionalTest/resources/scenarios/RIA-7635-Update-interpreter-details-confirmation.json
  src/functionalTest/resources/scenarios/RIA-7699-Update-interpreter-booking-status-confirmation.json
  src/functionalTest/resources/scenarios/RIA-7744-end-appeal-requires-manual-hearing-cancellation-confirmation.json
  src/functionalTest/resources/scenarios/RIA-7769-prepopulate-record-adjournment-details.json
  src/functionalTest/resources/scenarios/RIA-7813-remove-witness-flags.json
  src/functionalTest/resources/scenarios/RIA-7979-list-assist-integrated-location.json
  src/functionalTest/resources/scenarios/RIA-7979-list-assist-unintegrated-location.json
  src/functionalTest/resources/scenarios/RIA-7983-review-hearing-requirements-about-to-start-event-auto-hearing-request-enabled.json
  src/functionalTest/resources/scenarios/RIA-7984-list-case-without-hearing-hequirements-about-to-start-event-auto-hearing-request-enabled.json
  src/functionalTest/resources/scenarios/RIA-7986-list-case-without-hearing-requirements-automatically-failed.json
  src/functionalTest/resources/scenarios/RIA-7986-list-case-without-hearing-requirements-automatically-succeeded.json
  src/functionalTest/resources/scenarios/RIA-7987-RIA-7988-review-hearing-requirements-auto-request-hearing-failed.json
  src/functionalTest/resources/scenarios/RIA-7987-RIA-7988-review-hearing-requirements-auto-request-hearing-succeeded.json
  src/functionalTest/resources/scenarios/RIA-8014-record-adjournment-details-auto-hearing-request-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8115-set-float-suitability-on-case-when-adjourning-on-day-of-hearing.json
  src/functionalTest/resources/scenarios/RIA-823-end-appeal.json
  src/functionalTest/resources/scenarios/RIA-8449-restore-state-from-adjourn-auto-request-hearing-failed.json
  src/functionalTest/resources/scenarios/RIA-8449-restore-state-from-adjourn-auto-request-hearing-succeeded.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2070

#2073 RIA-8259 Updating image PR for ia-aip-frontend
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2073

#1909 DIAC-123 cdam download change fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1909

#2075 RIA-8825 update_appeal_types
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2075

#2076 RIA-8888 Updated payment preview env PR
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2076

#2077 RIA-8888 Updated payment preview env PR
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2077

#2071 RIA-8256 Clear remitted data
  src/functionalTest/resources/scenarios/RIA-8256-clear-mark-appeal-as-remitted-about-to-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsRemittedPreparerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2071

#2079 RIA-1111 update_preview_env_links
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2079

#2072 RIA-8086 rename localAuthorityLetter to match ccd definitions
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionAipPreparerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2072

#2060 RIA-8811 listingLength field
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/HoursMinutes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/HoursMinutesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2060

#2082 RIA-8230 Manage Fee Update confirmation screen updates
  src/functionalTest/resources/scenarios/RIA-8230-dlrm-manage-fee-additional-payment-tribunal-action-confirmation-screen.json
  src/functionalTest/resources/scenarios/RIA-8230-dlrm-manage-fee-no-action-tribunal-action-confirmation-screen.json
  src/functionalTest/resources/scenarios/RIA-8230-dlrm-manage-fee-refund-tribunal-action-confirmation-screen.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FeeTribunalAction.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FeeUpdateReason.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ManageFeeUpdateConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ManageFeeUpdatePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FeeTribunalActionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FeeUpdateReasonTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ManageFeeUpdateConfirmationTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2082

#2042 DIAC-323 Added previous remission details to asylumCase
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-asylum-support.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-exceptional-circumstances.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-help-with-fees.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-home-office-fee-waiver.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-legal-aid.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-section-17.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-section-20.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-asylum-support.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-exceptional-circustances.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-help-with-fees.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-home-office-fee-waiver.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-legal-aid.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-section-17.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-section-20.json
  src/functionalTest/resources/scenarios/RIA-3218-apply-for-a-late-remission.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppenderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2042

#2087 DIAC-112 first batch
  src/main/resources/application.yaml
  src/main/resources/caseIdForRetrigger.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2087

#2080 RIA-8376 start_appeal_internal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfAppeal.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealUserRoleAppender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealUserRoleAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2080

#2085 DIAC-394 expanding python scripts
  bin/utils/python_scripts/create_jsons_from_event_csv.py
  bin/utils/python_scripts/prep_import_data.py
  bin/utils/python_scripts/redact_info_from_json.py
  bin/utils/python_scripts/tests.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2085

#2086 RIA-8624 Merge from ia-case-api-dlrm branch
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-1293-ftpa-appellant-out-of-time-submit.json
  src/functionalTest/resources/scenarios/RIA-2208-add-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-2527-decide-ftpa-application-record-respondent-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-appellant-ftpa-decision-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-appellant-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-respondent-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-in-time-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-2581-ftpa-respondent-out-of-time-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification-remade-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification-remade-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-appellant-notification-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-generic-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-ftpa-respondent-notification-homeoffice-pou-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-appellant-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-respondent-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-5292-add-payment-request-sent-case-note-to-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-8070-ask-for-fee-remission-aip-without-previous-remission.json
  src/functionalTest/resources/scenarios/RIA-8070-ask-for-fee-remission-aip.json
  src/functionalTest/resources/scenarios/RIA-8102-decide-ftpa-application-appellant-reheard-rule35-mid-event.json
  src/functionalTest/resources/scenarios/RIA-8102-decide-ftpa-application-respondent-reheard-rule35-mid-event.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecisionDocument-rule-31-normal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2086

#2097 RIA-TASK - Cherry picked from be765a2b 18/04/2024 to 4429a632 19/04/2024
  bin/utils/python_scripts/create_jsons_from_event_csv.py
  bin/utils/python_scripts/prep_import_data.py
  bin/utils/python_scripts/redact_info_from_json.py
  bin/utils/python_scripts/tests.py
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-asylum-support.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-exceptional-circumstances.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-help-with-fees.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-home-office-fee-waiver.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-legal-aid.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-section-17.json
  src/functionalTest/resources/scenarios/DIAC-323-appeal-submitted-section-20.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-asylum-support.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-exceptional-circustances.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-help-with-fees.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-home-office-fee-waiver.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-legal-aid.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-section-17.json
  src/functionalTest/resources/scenarios/DIAC-323-request-fee-remission-section-20.json
  src/functionalTest/resources/scenarios/RIA-3218-apply-for-a-late-remission.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/RemissionDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppender.java
  src/main/resources/application.yaml
  src/main/resources/caseIdForRetrigger.json
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestFeeRemissionPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SubmitAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RemissionDetailsAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2097

#2099 RIA-TASK - Remove duplicated annotation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/Document.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2099

#2091 RIA-8841 Filter locations
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2091

#2098 RIA-8376 start_appeal_internal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/SourceOfAppeal.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2098

#2103 RIA-1122 change_link_for_aip
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2103

#2095 RIA-8807 Make an application event in the Remitted state
  charts/ia-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2095

#2108 RIA-8860 merge_master
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2108

#2106 RIA-8867 - Fix isOutOfCountryEnabled field missing on AIP cases
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2106

#2102 DIAC-112 second batch of case IDs to retrigger null role_category tasks
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/resources/caseIdForRetrigger.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2102

#2104 RIA-8064 - Telephony Payment - Payment reminder - Remission LR
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticPaymentReminderRemissionLegalRepTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CancelAutomaticPaymentReminderRemissionLegalRepTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticPaymentReminderRemissionLegalRepTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CancelAutomaticPaymentReminderRemissionLegalRepTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, aat/destroy, rel:ia-case-api-pr-2104

#2110 RIA-8851 Set isLocationUsingRefData when starting case
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LocationRefDataEnabler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LocationRefDataEnablerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2110

#2111 RIA-8782 Add listingLocation to ListCase
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCasePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2111

#2112 RIA-8782 listing location alignment with list case hearing centre
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2112
