Repository hmcts/ia-case-api, pull requests merged in 2024-12, with the labels that each got.

#2421 DIAC-546 Revert "DIAC-546 Revert "DIAC-546 new event to pull notification data given a notification ID""
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StoredNotification.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/GovNotifyConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StoredNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSenderTest.java
Labels: ns:ia, prd:ia, stale, enable_timed_event_service, rel:ia-case-api-pr-2421

#2433 DIAC-546 - Revert DIAC-546 new event to pull notification data given a notification ID"
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StoredNotification.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSender.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/GovNotifyConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StoredNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSenderTest.java
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2433

#2434 DIAC-546 - remove duplicate envvars
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2434

#2437 DIAC-692 Fix fortify issue in script
  Jenkinsfile_CNP
  bin/utils/idam-user-token-aat.sh
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2437

#2441 DIAC-706 - add feature flag for triggering timedeventservice on savin…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSender.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSenderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2441

#2442 DIAC-706 - feature flag the save notification code
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandlerTest.java
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2442

#2325 DIAC-86 new update hearing bundle event
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-about-to-start-adjourned.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-about-to-start-decision.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-about-to-start-preHearing.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-adjourned.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-appealTakenOffline.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-confirmation-adjourned.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-confirmation-appealTakenOffline.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-confirmation-decision.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-confirmation-preHearing.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-decision.json
  src/functionalTest/resources/scenarios/DIAC-86-update-hearing-bundle-preHearing.json
  src/functionalTest/resources/scenarios/DIAC-86-updated-hearing-bundle-about-to-start-appealTakenOffline.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecisionDocument-rule-31-normal.json
  src/functionalTest/resources/scenarios/RIA-8239-updateTribunalDecision-rule-31-list.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/GenerateUpdatedHearingBundleConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateUpdatedHearingBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateUpdatedHearingBundlePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionDocumentUploadRule31MidEvent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/GenerateUpdatedHearingBundleConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateUpdatedHearingBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateUpdatedHearingBundlePreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2325

#2446 RIA-9634 Update to remove hardcoded secret from script
  bin/utils/idam-user-token-aat.sh
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2446

#2429 DIAC-662 Add revoke case access event for Legal representatives
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleName.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RevokeCaseAccessConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RevokeCaseAccessHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignment.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/roleassignment/RoleNameTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RevokeCaseAccessConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RevokeCaseAccessHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/CcdCaseAssignmentTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/RoleAssignmentServiceTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2429

#2445 DIAC-000 Upgrade charts
  build.gradle
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2445

#2447 DIAC-000 Revert build.gradle changes
  build.gradle
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2447
