Repository hmcts/ia-case-api, pull requests merged in 2024-07, with the labels that each got.

#2204 DIAC-123 adding in script to create user for aip service in higher environments
  README.md
  bin/utils/aip_scripts/create-test-user.zsh
  bin/utils/aip_scripts/get_idam_token.zsh
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2204

#2187 DIAC-505 - will remove close connection header from AM pact test
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2187

#2168 DIAC-483 Enhancing python scripts
  bin/utils/python_scripts/convert_json_to_txt.py
  bin/utils/python_scripts/filepath_settings.py
  bin/utils/python_scripts/helpers.py
  bin/utils/python_scripts/prep_import_data.py
  bin/utils/python_scripts/redact_info_from_json.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2168

#2208 DIAC-507 - DTSSE-5078 - Add stale bot
  .github/workflows/stale.yml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2208

#2207 RIA-8306 late appeal can proceed letter
  bin/import-dmn-diagram.sh
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordOutOfTimeDecisionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2207

#2212 DIAC-123 for fixing pipeline PRs
  bin/import-bpmn-diagram.sh
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/utils/organisational-role-assignment.sh
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2212

#2202 RIA-8335 Fixed the application types in dynamic list when the admin c…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2202

#2182 DIAC-498 Remove validation to fix Case Officer access for "Make Appeal Paid" event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-case-api-pr-2182

#2214 RIA-9196 - store epimsid of case management location in case submission
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseManagementLocationRefData.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationBasedFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationBasedFeatureTogglerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2214

#2209 RIA-8921 Set next hearing date
  src/functionalTest/resources/scenarios/RIA-8921-set-next-hearing-date-on-list-case-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8922-set-next-hearing-date-on-edit-case-listing-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-edit-case-listing-event-non-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-list-case-event-non-integrated.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/NextHearingDateService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/NextHearingDateServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2209

#2184 DIAC-454 switching direction party to appellant
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolver.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolverTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2184

#2220 RIA-9208 - fix test
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AddBaseLocationFromHearingCentreForOldCasesFixHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2220

#2201 RIA-8786 - Refactor 'Change hearing centre' to use reference data
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2201

#2196 RIA-9188 - Populate new fields when hearing requirements are submitted or updated
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterLanguageCategory.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterLanguageRefData.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/InterpreterLanguageRefDataTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2196

#2227 RIA-9199 add_migrated_state
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateMigratedCasePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2227

#2224 RIA-9211 - Fix for Interpreter language stored incorrectly
  src/functionalTest/resources/scenarios/RIA-7507-submit-hearing-requirements-with-interpreter-sign-language.json
  src/functionalTest/resources/scenarios/RIA-7507-submit-hearing-requirements-with-interpreter-spoken-language.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2224

#2229 RIA-9152 Added ariaCreateCase event handler
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-9152-aria-create-case-about-to-submit.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AriaCreateCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateMigratedCasePreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AriaCreateCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2229

#2231 RIA-8969 add_progress_migrated_case
  src/functionalTest/resources/scenarios/RIA-8969-progress-migrated-case-desired-state-correct-selected-no.json
  src/functionalTest/resources/scenarios/RIA-8969-progress-migrated-case-desired-state-correct-selected-yes.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AriaCreateCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/CreateMigratedCasePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AriaCreateCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2231

#2213 RIA-8334 Enable notifications for Internal cases for 'Update Tribunal…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2213

#2230 RIA-8786 - Add court location filter
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2230

#2236 RIA-8969 state_progress_persisting
  src/functionalTest/resources/scenarios/RIA-8969-progress-migrated-case-desired-state-correct-selected-no.json
  src/functionalTest/resources/scenarios/RIA-8969-progress-migrated-case-desired-state-correct-selected-yes.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/AriaCreateCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AriaCreateCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2236

#2238 RIA-8969 changed_callbackStage_to_submit
  src/functionalTest/resources/scenarios/RIA-8969-progress-migrated-case-desired-state.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2238

#2217 RIA-8345 set interval to 1 minute for QA testing
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, stale, rel:ia-case-api-pr-2217

#2247 RIA-8345 Adding env var to preview for time interval 1 min
  charts/ia-case-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2247

#2245 RIA-9201 - fix npe when hearing requirement is submitted
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
  src/functionalTest/resources/scenarios/RIA-8921-set-next-hearing-date-on-list-case-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8922-set-next-hearing-date-on-edit-case-listing-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-edit-case-listing-event-non-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-list-case-event-non-integrated.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/InterpreterLanguagesUtils.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2245

#2240 DIAC-000 - Fix pact tests
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2240

#2241 RIA-8975 Added handler to set isAriaMigrated for StartAppeal event
  src/functionalTest/resources/scenarios/RIA-8975-add-is-aria-migrated-no.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/AriaCreateCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/CreateMigratedCasePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/StartAppealCreateCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/AriaCreateCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/StartAppealCreateCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2241

#2239 RIA-9193 Add migrate aria documents screen
  src/functionalTest/resources/scenarios/RIA-9193-progress-migrated-case-HMC-mid-event.json
  src/functionalTest/resources/scenarios/RIA-9193-progress-migrated-case-MoveIt-mid-event.json
  src/functionalTest/resources/scenarios/RIA-9193-progress-migrated-case-VHH-mid-event.json
  src/functionalTest/resources/scenarios/RIA-9193-progress-migrated-case-VHHToCCD-mid-event.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MigrateAriaCasesDocumentUploaderConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MigrateAriaCasesDocumentUploaderMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MigrateAriaCasesDocumentUploaderConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MigrateAriaCasesDocumentUploaderMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2239

#2254 RIA-9242 Fix callback error on createCaseSummary event
  charts/ia-case-api/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2254

#2257 RIA-9244 Refactor Auto Interpreter language flag creation/update
  src/functionalTest/resources/scenarios/RIA-7657-review-add-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7657-update-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7658-review-add-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7658-update-witness-interpreter.json
  src/functionalTest/resources/scenarios/RIA-7813-remove-witness-flags.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveWitnessCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguageFlagsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveWitnessCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessInterpreterLanguageFlagsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2257

#2256 RIA-9193 sonar cloud fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MigrateAriaCasesDocumentUploaderConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MigrateAriaCasesDocumentUploaderMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/MigrateAriaCasesDocumentUploaderConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MigrateAriaCasesDocumentUploaderMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2256

#2255 RIA-9197 add check to paymentStateHandler to change state
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2255

#2258 RIA-9130 Make Update Tribunal decision event available to LO
  charts/ia-case-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2258

#2244 DIAC-540 - deprecated config - properties-volume-spring-boot-starter
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/roleassignment/RoleAssignmentQueryConsumerTest.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2244

#2232 RIA-8919 Set next hearing date event - integrated
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-8919-set-next-hearing-date-integrated.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NextHearingDateHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NextHearingDateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2232

#2273 DIAC-000 Revert service request value changes
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2273

#2270 RIA-8798 - Case list can be filtered on the case management location
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2270

#2274 RIA-9260 - fix glasgow no email
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2274

#2248 RIA-8970 - Substantive hearings can be manually marked as cancelled
  src/functionalTest/resources/scenarios/RIA-8970-substantive-hearings-can-be-manually-marked-as-cancelled-integrated.json
  src/functionalTest/resources/scenarios/RIA-8970-substantive-hearings-can-be-manually-marked-as-cancelled-non-integrated.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingCancelledConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingCancelledHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingCancelledConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingCancelledHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2248

#2263 RIA-9193 Add case notes to the correspondent field
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseNoteMigration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/CaseNoteMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/ProgressMigratedCaseHandlerTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2263

#2277 RIA-9262 Update eventid of 'Set next hearing date'
  src/functionalTest/resources/scenarios/RIA-8919-set-next-hearing-date-integrated.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NextHearingDateHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NextHearingDateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2277

#2280 RIA-9265 - Fix for Change hearing centre event Locations list not matching after listing
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2280

#2262 RIA-8980 Set next hearing date event - non-integrated
  src/functionalTest/resources/scenarios/RIA-8980-set-next-hearing-date-non-integrated.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NextHearingDateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NextHearingDateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2262

#2246 RIA-8366 Timed event for event Send Payment Reminder
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticInternalSendPaymentReminderTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticInternalSendPaymentReminderTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2246

#2279 DIAC-557 CVE Fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2279
