Repository hmcts/ia-case-api, pull requests merged in 2024-06, with the labels that each got.

#2157 RIA-8061 updating minutes for testing on preview
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2157

#2158 RIA-9111 fixed_address
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2158

#2155 RIA-8276 Added rule 31 decision check updated
  src/functionalTest/resources/scenarios/RIA-8721-updateTribunalDecision-rule-31-updated-decision-allowed.json
  src/functionalTest/resources/scenarios/RIA-8721-updateTribunalDecision-rule-31-updated-decision-dismissed.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2155

#2159 RIA-8787 Fix issue with attempt to set hearingCentre with invalid va…
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8782-list-case-submit-with-listing-location-from-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8783-edit-case-listing-submit-with-listing-location-from-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8787-derive-hearing-center-from-postcode-ref-data-enabled.json
  src/functionalTest/resources/scenarios/RIA-8787-derive-hearing-center-using-default-ref-data-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2159

#2162 RIA-8061 - Preview testing completed - reverting time to match AC
  charts/ia-case-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2162

#2109 DIAC-401 - update charts
  charts/ia-case-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2109

#2165 DIAC-401 update charts
  infrastructure/state.tf
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2165

#2156 RIA-TASK rebase snl branch from master
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  infrastructure/state.tf
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseWithoutHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseWithoutHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewUpdateHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2156

#2166 RIA-9118 Handle possile exception when cancelling hearing during 'en…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2166

#2167 RIA-9118 Some refactoring for error handling in 'End appeal' handler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2167

#2169 RIA-TASK - Deploy timed-event-service on preview
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2169

#2170 RIA-8320 letter notification internal update fee
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2170

#2174 RIA-8931 add_supporting_documents
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealWasNotSubmittedSupportingDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealWasNotSubmittedSupportingDocumentsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2174

#2177 RIA-8326 Allow edit after submit for OOC appeals
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2177

#2178 RIA-9114 change_oot_image_link
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/AppealSubmittedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2178

#2181 RIA-8931 duplication_removal
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealWasNotSubmittedSupportingDocumentsHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2181

#2172 DIAC-489 Revert hasServiceRequestAlready changes in RecordRemissionDecisionStateHandler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordRemissionDecisionStateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2172

#2185 DIAC-489 - ignore functionals to deploy change
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2185

#2186 Revert "DIAC-489 - ignore functionals to deploy change"
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2186

#2179 RIA-8983 Send meaningful meaningful feedback to user when hearing update fails
  charts/ia-case-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-1794-RIA-2694-request-response-review.json
  src/functionalTest/resources/scenarios/RIA-3275-fixing-duplicate-directions.json
  src/functionalTest/resources/scenarios/RIA-3827-RIA-4238-add_appeal-response-ooc-appeal.json
  src/functionalTest/resources/scenarios/RIA-3827-RIA-4238-request-response-review-ooc-appeal.json
  src/functionalTest/resources/scenarios/RIA-3827-add_appeal-response-uk-appeal.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-add-appeal-response.json
  src/functionalTest/resources/scenarios/RIA-4272-direction-publish-on-request-response-review.json
  src/functionalTest/resources/scenarios/RIA-697-RIA-237-RIA-985-RIA-2694-add-appeal-response-initial.json
  src/functionalTest/resources/scenarios/RIA-697-RIA-237-RIA-985-RIA-2694-add-appeal-response-replace.json
  src/functionalTest/resources/scenarios/RIA-837-RIA-2694-send-legal-rep-review-direction.json
  src/functionalTest/resources/scenarios/RIA-8677-aip-remission-record-remission-decision-rejected.json
  src/functionalTest/resources/scenarios/RIA-8983-Hearings-update-hearing-request-confirmation-update-hearing-failed.json
  src/functionalTest/resources/scenarios/RIA-8983-Update-interpreter-booking-status-confirmation_update_hearing_failed.json
  src/functionalTest/resources/scenarios/RIA-8983-Update-interpreter-details-confirmation-update-hearing-failed.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AutoRequestHearingService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IaHearingsApiService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingsUpdateHearingRequestConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterBookingStatusHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AutoRequestHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IaHearingsApiServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2179

#2180 RIA-9156 Clear 'additional instruction' in relevant events when not required
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdditionalInstructionsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdditionalInstructionsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2180

#2152 DIAC-419 fixing aip pay later bug
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2152

#2193 RIA-8344 - Appeal remitted from the UT/CoA
  src/functionalTest/resources/scenarios/RIA-2957-RIA-2959-RIA-3712-adjourn-without-a-date.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2193

#2197 RIA-8333 add_decide_ftpa_application
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2197
