Repository hmcts/ia-case-api, pull requests merged in 2024-01, with the labels that each got.

#1883 RIA-8397 Take state for deletion condition from case instead of application
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7780-decide-an-application-change-hearing-type-error.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1883

#1876 RIA-7812 consider_costs_order
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1876

#1875 RIA-8106 amend messaging for update interpreter information events
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmationTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1875

#1878 RIA-7983 Set hearing location when reviewing hearing requirements
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/LocationRefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/RefDataConsumerApplication.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AutoHearingRequestService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/refdata/CourtLocationCategory.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/refdata/LocationRefDataApi.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AutoHearingRequestServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1878

#1880 RIA-7986 Enable automatic handling of hearing request and disable whe…
  src/functionalTest/resources/scenarios/RIA-7986-list-case-without-hearing-requirements-automatically-failed.json
  src/functionalTest/resources/scenarios/RIA-7986-list-case-without-hearing-requirements-automatically-succeeded.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/RecordAttendeesAndDurationTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseWithoutHearingRequirementsAutomaticallyConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseWithoutHearingRequirementsAutomaticallyConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1880

#1594 RIA-7055 and RIA-7757 - deleting of scheduled tasks
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/Scheduler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceScheduler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceSchedulerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1594, enable_keep_helm

#1881 RIA-7810 decide a costs new
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1881

#1884 RIA-7984 Set hearing location when listing without requirements
  src/functionalTest/resources/scenarios/RIA-7983-review-hearing-requirements-about-to-start-event-auto-hearing-request-enabled.json
  src/functionalTest/resources/scenarios/RIA-7983-review-hearing-requirements-auto-hearing-request-enabled.json
  src/functionalTest/resources/scenarios/RIA-7984-list-case-without-hearing-hequirements-about-to-start-event-auto-hearing-request-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1884

#1891 RIA-8432 RIA-8433 Tweak legalRepPartyId(s)
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivated.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PartyIdService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PartyIdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/PinInPostActivatedTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1891

#1890 RIA-7985 list the case work allocation task is not created for List Assist hearing requests
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsStartedPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsStartedPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1890

#1889 DIAC-107 turning fortify on
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  bin/utils/idam-user-token-aat.sh
  build.gradle
  config/fortify-client.properties
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1889

#1894 DIAC-196 python script for redacting info
  bin/utils/python_scripts/convert-json-to-txt.py
  bin/utils/python_scripts/redact_info_from_json.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1894

#1895 RIA-8419 Decision without hearing listed
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1895

#1898 DIAC-196 updating python scripts
  bin/utils/python_scripts/convert-json-to-txt.py
  bin/utils/python_scripts/redact_info_from_json.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1898

#1893 RIA-7988 Allow LO to decide whether to automatically request a hearing
  src/functionalTest/resources/scenarios/RIA-7987-RIA-7988-review-hearing-requirements-auto-request-hearing-failed.json
  src/functionalTest/resources/scenarios/RIA-7987-RIA-7988-review-hearing-requirements-auto-request-hearing-succeeded.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ReviewHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1893

#1905 RIA-8496 Add change hearing type option to final bundling event for makeAnApplication
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1905

#1906 RIA-8028 - Auto create HMC hearing request when Start decision and re…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecisionAndReasonsStartedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsStartedSubStateProgression.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecisionAndReasonsStartedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecisionAndReasonsStartedSubStateProgressionTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1906

#1910 RIA-8013 - Allow override of Auto-list flag before auto requesting he…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsPreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1910

#1916 RIA-1111 doc-fix
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1916

#1912 RIA-8102 Create new events and rework FTPA resident event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FtpaResidentJudgeDecisionOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpperTribunalBundlePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpperTribunalBundlePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1912

#1914 DIAC-219 added CSV redactor
  bin/utils/python_scripts/redact_info_from_json.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1914

#1918 RIA-8549 setup preview env for DLRM
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  bin/add-org-roles-to-users.sh
  bin/add-roles.sh
  bin/import-bpmn-diagram.sh
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  bin/utils/idam-lease-service-token.sh
  bin/utils/idam-user-id.sh
  bin/utils/idam-user-token-aat.sh
  bin/utils/idam-user-token.sh
  bin/utils/organisational-role-assignment.sh
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1918

#1921 DIAC-219 updating python script for redacting data from CSV to now ac…
  bin/utils/python_scripts/redact_info_from_json.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1921

#1901 DIAC-211 Updating parties class
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/Parties.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1901

#1920 RIA-7833 Edit appeal utTransferReference validation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1920

#1915 RIA-8101 DLRM judge refactor
  build.gradle
  src/functionalTest/resources/scenarios/RIA-1434-leadership-judge-record-appellant-ftpa-decision-confirmation.json
  src/functionalTest/resources/scenarios/RIA-1434-leadership-judge-record-appellant-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-1434-leadership-judge-record-respondent-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-appellant-ftpa-decision-confirmation.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-appellant-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2527-resident-judge-record-respondent-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-record-appellant-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-respondent-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification-remade-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification-remade-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-appellant-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-leadership-judge-respondent-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-appellant-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-resident-judge-respondent-reheard35-case-flag.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DecideFtpaApplicationType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideFtpaApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideFtpaApplicationDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppealDecisionStateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpperTribunalBundlePreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/DecideFtpaApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/LeadershipJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideFtpaApplicationDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppealDecisionStateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaDecisionMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpperTribunalBundlePreparerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1915

#1358 RIA-6987 Changes to add cache
  bin/add-roles.sh
  charts/ia-case-api/values.preview.template.yaml
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/GenerateDecisionAndReasonsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/NewShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/RecordAttendeesAndDurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/TestClassOrderer.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/WithUserDetailsStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/config/OpenApiPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticDirectionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditDocsCaseNoteServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/allocatethecase/CaseWorkerServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/entities/AssignmentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/DbAppealReferenceNumberGeneratorIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/UserDetailsRequestScopeTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1358, enable_keep_helm

#1925 RIA-8074 Standard direction party appellant for EJP scenario
  src/functionalTest/resources/scenarios/RIA-8074-internal-ejp-case-request-case-edit-direction.json
  src/functionalTest/resources/scenarios/RIA-8074-internal-ejp-force-request-case-building-direction.json
  src/functionalTest/resources/scenarios/RIA-8074-internal-ejp-request-case-building-direction.json
  src/functionalTest/resources/scenarios/RIA-8074-internal-ejp-request-new-hearing-requirements-direction.json
  src/functionalTest/resources/scenarios/RIA-8074-internal-ejp-request-response-review-direction.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseEditPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolver.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseEditPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestHearingRequirementsDirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestResponseReviewHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DirectionPartiesResolverTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1925

#1919 RIA-8014 Auto create HMC hearing request when 'Record adjournment de…
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-changes-appeal-status-to-adjourn.json
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-confirmation.json
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-does-not-change-appeal-status-to-adjourn.json
  src/functionalTest/resources/scenarios/RIA-8014-record-adjournment-details-auto-hearing-request-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8014-record-adjournment-details-hearing-cancellation-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8014-record-adjournment-details-hearing-update-confirmation.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseWithoutHearingRequirementsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ListCaseWithoutHearingRequirementsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RecordAdjournmentDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsStateHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1919

#1930 RIA-7983 Fix service code parameter name
  src/contractTest/java/uk/gov/hmcts/reform/iacaseapi/consumer/refdata/LocationRefDataConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/refdata/LocationRefDataApi.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1930

#1904 RIA-TASK - Merge master changes to NABA - ia-case-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  bin/add-roles.sh
  bin/utils/idam-user-token-aat.sh
  bin/utils/python_scripts/convert-json-to-txt.py
  bin/utils/python_scripts/redact_info_from_json.py
  build.gradle
  charts/ia-case-api/values.yaml
  config/fortify-client.properties
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/ShareACaseCcdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/component/testutils/SpringBootIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ForceCaseProgressionToCaseUnderReviewConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/Scheduler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceScheduler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/ErrorResponseLogger.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/CancelAutomaticEndAppealPaidConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ForceCaseProgressionToCaseUnderReviewConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EndAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendDecisionAndReasonsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/TimedEventServiceSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/advice/ErrorResponseLoggerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1904
