Repository hmcts/ia-case-api, pull requests merged in 2024-02, with the labels that each got.

#1938 DIAC-228 dependency and fortify fixes
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
  docker-pactbroker-compose.yml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1938

#1935 RIA-8597 Allow autorequesting among other conditions if autoRequestHe…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ReviewDraftHearingRequirementsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1935

#1913 DIAC-212 changing edit documents error message to be more clear
  src/functionalTest/resources/scenarios/RIA-3341-edit-documents-mid-event-error.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1913

#1946 RIA-7456 EJP Edit appeal handling Part 2 - detained
  src/functionalTest/resources/scenarios/RIA-7456-edit-appeal-detained-ejp-case.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/IsEjpHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/IsEjpHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1946

#1945 RIA-8044 - Fix for EJP Non-DE appeals(RP/PA) calling HO Integration api while submitting
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeCaseValidatePreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1945

#1940 RIA-8116 FTPA tab content update
  Jenkinsfile_CNP
  src/functionalTest/resources/scenarios/RIA-8116-ftpa-appellant-in-time-submit-ftpa-list.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FtpaApplications.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/FtpaDecisionCheckValues.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaMigrateLegacyDataHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaMigrateLegacyDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1940

#1926 RIA-8104 Create Rule32 and 31
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1926

#1937 DIAC-211 fixed CSV redactor to properly redact all rows in CSV not ju…
  bin/utils/python_scripts/redact_info_from_json.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1937

#1950 RIA-8601 change hearing location fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1950

#1951 RIA-8184 ftpa_rule_31_32
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1951

#1948 DIAC-158 - decommission postgress v11
  infrastructure/main.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1948

#1897 DIAC-193 trying to add FTPA stuff to edit documents
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/editdocs/EditDocsAuditLogServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/editdocs/EditDocsServiceTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1897

#1953 RIA-8104 Add new ftpaDecisionRemadeRule32TextArea field and show conditions
  src/functionalTest/resources/scenarios/RIA-8104-decide-ftpa-application-appellant-reheard-rule31-mid-event.json
  src/functionalTest/resources/scenarios/RIA-8104-decide-ftpa-application-appellant-reheard-rule32-mid-event.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FtpaApplications.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1953

#1917 DIAC-197 AiP NOC event - fix clarifyingQuestionsAnswers duplicate id
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CompleteClarifyingQuestionsHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1917

#1955 RIA-8160 Added DLRM set aside feature flag
  src/functionalTest/resources/scenarios/RIA-8116-ftpa-appellant-in-time-submit-ftpa-list.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1955

#1957 RIA-1111 aip_preview_link
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1957

#1958 RIA-8228 make an application set aside
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/MakeAnApplicationTypesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MakeAnApplicationMidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1958

#1952 RIA-7925 - Updated preview env configuration
  charts/ia-case-api/values.preview.template.yaml
  infrastructure/main.tf
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-api-pr-1952

#1956 RIA-8592 Update functional test with new document
  src/functionalTest/resources/scenarios/RIA-2527-decide-ftpa-application-record-appellant-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-2527-decide-ftpa-application-record-respondent-ftpa-decision.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-ftpa-decision-ho-notification-remade-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-ftpa-decision-ho-notification-remade-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-ftpa-decision-ho-notification.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-appellant-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-appellant-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-appellant-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-appellant-reheard35-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-respondent-reheard32-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-respondent-reheard32-case-flag.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-respondent-reheard35-case-flag-off.json
  src/functionalTest/resources/scenarios/RIA-3651-decide-ftpa-application-respondent-reheard35-case-flag.json
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1956

#1959 RIA-8503 Rule 35 screens
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideFtpaApplicationMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ResidentJudgeFtpaDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideFtpaApplicationMidEventTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1959

#1960 RIA-8605 Ensure 'updateHearingRequest' event journey displays correc…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1960

#1962 RIA-2222 preview_aip_link
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1962

#1886 DIAC-27 - Deploy payments-api PR-291
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/PaymentStatus.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1886

#1954 DIAC-232 python scripts
  bin/utils/python_scripts/convert-json-to-txt.py
  bin/utils/python_scripts/convert_json_to_txt.py
  bin/utils/python_scripts/create_jsons_from_event_csv.py
  bin/utils/python_scripts/filepath_settings.py
  bin/utils/python_scripts/init.py
  bin/utils/python_scripts/input_csv_files/dummy.txt
  bin/utils/python_scripts/output_csv_files/dummy.txt
  bin/utils/python_scripts/output_jsons/dummy.txt
  bin/utils/python_scripts/prep_import_data.py
  bin/utils/python_scripts/redact_info_from_json.py
  bin/utils/python_scripts/tests.py
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1954

#1929 DIAC-195 PaymentStatus update fix
  charts/ia-case-api/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-1929

#1961 RIA-7457 EJP Edit appeal part 3 - non detained handlers
  src/functionalTest/resources/scenarios/RIA-7457-edit-appeal-non-detained-ejp-case.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpAppellantLegalPracticeAddressMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpEditAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpAppellantLegalPracticeAddressMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpContactPreferenceFieldsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EjpEditAppealHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1961

#1964 RIA-8612 change hearing location to ref data in record adjournment details event
  src/functionalTest/resources/scenarios/RIA-7769-prepopulate-record-adjournment-details.json
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-changes-appeal-status-to-adjourn.json
  src/functionalTest/resources/scenarios/RIA-7771-record-adjournment-details-does-not-change-appeal-status-to-adjourn.json
  src/functionalTest/resources/scenarios/RIA-7775-record-adjournment-details-preserve-current-adjournment-detail-and-previous-adjournment-details-history.json
  src/functionalTest/resources/scenarios/RIA-7775-record-adjournment-details-preserve-current-adjournment-detail.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AdjournmentDetail.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1964

#1965 RIA-8109 Added rule 35 data to ftpaList
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FtpaApplications.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1965

#1967 RIA-8109 Added additional fields for rule 35
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1967

#1966 RIA-8107 FTPA decided Rule 35 Overview tab
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ResidentJudgeFtpaDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FtpaDisplayServiceTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1966

#1968 DIAC-236 splitting tests into separate stages
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1968

#1972 RIA-8622 Removed AIP reheardRule35 and remadeRule32 validation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideFtpaApplicationMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DecideFtpaApplicationMidEventTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1972

#1970 RIA-7458 EJP Edit appeal after submit
  src/functionalTest/resources/scenarios/RIA-7458-edit-appeal-after-submit-detained-ejp-case.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1970

#1977 RIA-8199 Added environment var to show event history on AIP
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1977

#1975 RIA-8053 add DLRM fee remission feature flag
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1975

#1981 RIA-8659 Add error to midEvent if date range selected but both start/end empty
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1981

#1980 RIA-8157 update tribunal decision
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-error.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/Callback.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateTribunalDecisionConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionDocumentUploadRule31MidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEvent.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/callback/CallbackTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/UpdateTribunalDecisionConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionDocumentUploadRule31MidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1980

#1984 RIA-8661 Fix legalRepFamilyName if needed in ListAssistIntegrationHandler
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegrationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldLegalRepNameFixer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListAssistIntegrationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AsylumFieldLegalRepNameFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1984

#1985 RIA-8714 Fix issue with hearings dynamic list on start 'update heari…
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/HearingsUpdateHearingRequestFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1985

#1987 RIA-8158 Added functional test for underRule32 scenario on updateTrib…
  src/functionalTest/resources/scenarios/RIA-8158-updateTribunalDecision-rule-32.json
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1987

#1990 RIA-8157 fix the code smell problem v2
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecisionDocument-rule-31-error.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecisionDocument-rule-31-normal.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionDocumentUploadRule31MidEvent.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1990

#1983 RIA-8612 Update on prepopulating hearing details during 'recordAdjou…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RecordAdjournmentDetailsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-1983

#1989 RIA-7892 Added handlers to use the feature toggle for ADA screens
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/NabaFeatureTogglePreparerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-api-pr-1989

#1991 RIA-8721 Generate AMENDED cover letter
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-allowed.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31-dismissed.json
  src/functionalTest/resources/scenarios/RIA-8157-updateTribunalDecision-rule-31.json
  src/functionalTest/resources/scenarios/RIA-8721-updateTribunalDecision-rule-31-updated-decision-allowed.json
  src/functionalTest/resources/scenarios/RIA-8721-updateTribunalDecision-rule-31-updated-decision-dismissed.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UpdateTribunalRules.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/UpdatedTribunalRulesTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalAppealDecisionRule31Test.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpdateTribunalDecisionRule31MidEventTest.java
Labels: ns:ia, prd:ia, destroy, rel:ia-case-api-pr-1991
