Repository hmcts/ia-case-api, pull requests merged in 2024-09, with the labels that each got.

#2344 DIAC-123 fixing WA issue
  Jenkinsfile_CNP
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2344

#2346 RIA-9552 Removed AIP check for generate service request
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, enable_timed_event_service, rel:ia-case-api-pr-9552, rel:ia-case-api-pr-2346

#2353 RIA-9554 Make generate service request available for additional payment
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateServiceRequestPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateServiceRequestPreparerTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2353

#2356 RIA-9452 commit_revert
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestNewHearingRequirementsDirectionHandlerTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2356

#2357 DIAC-123 fixing enable_tes config
  Jenkinsfile_CNP
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2357

#2361 RIA-9554 Revert RIA-9554 Make generate service request available for addition…
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateServiceRequestPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateServiceRequestPreparerTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2361

#2359 DIAC-123 adding TES to charts
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2359

#2360 RIA-8366 change_time_for_QA
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2360

#2363 RIA-9472 Added 2 new countries
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Nationality.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/NationalityTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2363

#2365 RIA-9654 bug_fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHelper.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/FeesHelperTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2365

#2369 DIAC-000 Disable functional tests to fix master pipeline
  src/functionalTest/resources/scenarios/RIA-3271-3628-home-office-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3332-home-office-integration-flag-set-mark-appeal-paid.json
  src/functionalTest/resources/scenarios/RIA-3332-home-office-response-for-appeal-submitted-mark-appeal-paid.json
  src/functionalTest/resources/scenarios/RIA-3390-home-office-integration-flag-set.json
  src/functionalTest/resources/scenarios/RIA-4116-ho-notification-eligible-flag-appeal-submitted.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2369

#2349 DIAC-580 Display FTPA appellant grounds on fTPA tab
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/FtpaApplications.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/FtpaAppellantHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2349

#2355 DIAC-545 Update Recipient When UT Bundle Failure
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/UpperTribunalStitchingCallbackHandler.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-api-pr-2355

#2293 DIAC-542 adding document tags and updating functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-1654-RIA-2851-edit-case-listing-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-2323-edit-case-listing-docmosis-enabled-nottingham.json
  src/functionalTest/resources/scenarios/RIA-362-RIA-1673-edit-case-listing-docmosis-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentWithMetadata.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/DocumentWithMetadataTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-case-api-pr-2293

#2375 RIA-9573 fix FT for hearings
  src/functionalTest/resources/scenarios/RIA-8921-set-next-hearing-date-on-list-case-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8922-set-next-hearing-date-on-edit-case-listing-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-edit-case-listing-event-non-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-list-case-event-non-integrated.json
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2375

#2374 RIA-2222 Remove disabled annotation from FT
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/HearingsUpdateHearingRequestFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsPreparerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsStateHandlerFunctionalTest.java
  src/functionalTest/resources/scenarios/RIA-8921-set-next-hearing-date-on-list-case-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8922-set-next-hearing-date-on-edit-case-listing-event-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-edit-case-listing-event-non-integrated.json
  src/functionalTest/resources/scenarios/RIA-8958-set-next-hearing-date-on-list-case-event-non-integrated.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2374

#2376 RIA-2222 add_appellant_in_uk
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2376

#2373 RIA-1111 ft_test
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/HearingsUpdateHearingRequestFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsPreparerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsStateHandlerFunctionalTest.java
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2373
