Repository hmcts/ia-case-api, pull requests merged in 2024-10, with the labels that each got.

#2345 RIA-9239 Added preventer handler to stop NOC request for ARIA migrate…
  src/functionalTest/resources/scenarios/RIA-9239-aria-notice-of-change-error.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AriaNoticeOfChangePreventer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AriaNoticeOfChangePreventerTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-api-pr-2345

#2383 RIA-9581 Removing temporary ARIA case creation
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/AriaCreateCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/CreateMigratedCasePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/AriaCreateCaseHandlerTest.java
Labels: ns:ia, prd:ia, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2383

#2384 RIA-9583 no_remission_path
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
Labels: ns:ia, prd:ia, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2384

#2292 DIAC-547 remove legal rep details on notice of change
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealTypeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2292

#2387 DIAC-528 fixing bail image values
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2387

#2392 DIAC-528 Updating Location Ref Data url
  charts/ia-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2392

#2403 RIA-TASK Fix sonar maintainability issues
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealWasNotSubmittedSupportingDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/StartAppealCreateCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
Labels: ns:ia, prd:ia, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2403

#2406 RIA-1234 ft_issues
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/HearingsUpdateHearingRequestFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsPreparerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsStateHandlerFunctionalTest.java
Labels: ns:ia, prd:ia, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2406

#2410 RIA-4567 fix_v4
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/CcdCaseCreationTest.java
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2410

#2411 RIA-4567 ft_fix_v5
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2411

#2412 RIA-1234 disabling FT test
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/HearingsUpdateHearingRequestFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsPreparerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/RecordAdjournmentDetailsStateHandlerFunctionalTest.java
Labels: ns:ia, prd:ia, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2412
