Repository hmcts/ia-case-api, pull requests merged in 2025-04, with the labels that each got.

#2502 DIAC-970 PA appeals state
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2502

#2493 DIAC-936 - add START_APPEAL and EDIT_APPEAL to trigger notifications
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2493

#2510 DIAC-1057 Fix AiP HU EA EU appeals state
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_CNP
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/PaymentStateHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2510

#2524 DIAC-000 - dependency-suppressions
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2524

#2515 DIAC-898 Detained Appeal Tab - LR Journey
  src/functionalTest/resources/scenarios/DIAC-898-edit-appeal-from-detained-to-out-of-country.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2515

#2511 DIAC-864 Enable HMC integeration in preview
  Jenkinsfile_CNP
  bin/add-org-roles-to-users.sh
  bin/utils/organisational-role-assignment.sh
  bin/utils/system-user-role-assignment.sh
  bin/variables/load-dev-user-preview-environment-variables.sh
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  charts/ia-case-api/values.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2511

#2526 DIAC-1100 Detained appeals DE reference
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/DbAppealReferenceNumberGeneratorIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/AriaCreateCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/AppealReferenceNumberGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/DbAppealReferenceNumberGenerator.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealReferenceNumberHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/migratedcase/AriaCreateCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/DbAppealReferenceNumberGeneratorTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2526

#2533 DIAC-688 - fix pipeline
  infrastructure/main.tf
Labels: ns:ia, prd:ia, enable_keep_helm, aat/add-or-update, prod/add-or-update, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2533
