Repository hmcts/ia-case-api, pull requests merged in 2025-09, with the labels that each got.

#2733 DIAC-1440 fix to enable mark as detained event for manual appeals
  src/functionalTest/resources/scenarios/DIAC-1531-update-case-mark-detained-lr-manual.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2733

#2736 DIAC-1441 Update Detention Location Name Correction
  src/main/resources/application-hc-mapping.yaml
  src/main/resources/detention-facilities.csv
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2736

#2752 DIAC-1425 updates to stop clearing LR details as part of remove representation
  src/functionalTest/resources/scenarios/DIAC-1160-update-case-appellant-in-person-manual-case-officer.json
  src/functionalTest/resources/scenarios/DIAC-1160-update-case-appellant-in-person-manual.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInPersonManualHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/EditAppealAfterSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SetCaseAsUnrepresentedHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2752

#2751 DIAC-1341 Cancellation of Production Notice Detained 5
  src/functionalTest/resources/scenarios/RIA-8970-substantive-hearings-can-be-manually-marked-as-cancelled-integrated.json
  src/functionalTest/resources/scenarios/RIA-8970-substantive-hearings-can-be-manually-marked-as-cancelled-non-integrated.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingCancelledConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/HearingCancelledConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2751
