Repository hmcts/ia-case-api, pull requests merged in 2025-08, with the labels that each got.

#2663 DIAC-1413 Clear Custodial Sentence for Bail Page
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEvent.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/StartAppealMidEventTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2663

#2637 DIAC-1160 AiP Manual New Event Non Detained on master branch - First …
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/DIAC-1160-update-case-appellant-in-person-manual-case-officer.json
  src/functionalTest/resources/scenarios/DIAC-1160-update-case-appellant-in-person-manual-has-rep-details-error.json
  src/functionalTest/resources/scenarios/DIAC-1160-update-case-appellant-in-person-manual-is-admin-error.json
  src/functionalTest/resources/scenarios/DIAC-1160-update-case-appellant-in-person-manual.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInPersonManualHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInPersonManualPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInPersonManualHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppellantInPersonManualPreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2637

#2678 DIAC-1312 fixing data clearing on edit appeal
  src/functionalTest/resources/scenarios/DIAC-1141-set-detained-individual-flag-by-when-detained-appeal-marked-as-detained.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetainedEditAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsDetainedHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetainedEditAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/MarkAppealAsDetainedHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2678

#2685 DIAC-1451 CVE fix
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/HoursMinutes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HearingsUpdateHearingRequestMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PartyIdService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/BundleRequestExecutorTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2685

#2688 DIAC-1352 ia-case-api bugs to resolve - Case 3
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/RetriggerWaTasksForFixedCaseIdHandler.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2688

#2604 DIAC-1149 Add VR changes (in-progress)
  bin/add-roles.sh
  bin/utils/python_scripts/filepath_settings.py
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocation.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/utils/StaffLocation.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/BaseLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CaseManagementLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ChangeHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/utils/StaffLocationTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2604

#2679 DIAC-1223 migrating aip pa payment option when NoC done to LR
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AipToLegalRepJourneyHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/MarkPaymentPaidPreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2679

#2704 DIAC-1422 Adding Closed Prisons - Added prisons to detention-faciliti…
  src/functionalTest/resources/scenarios/DIAC-1422-start-appeal-populates-detention-address-prison.json
  src/main/resources/detention-facilities.csv
Labels: ns:ia, prd:ia, enable_keep_helm, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2704

#2671 SNI-7806 remitted/reheard hearing bundle fix
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/HoursMinutes.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/PartyIdService.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AdvancedFinalBundlingStitchingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/CreateCaseSummaryHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/WitnessesUpdateMidEventHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2671
