Repository hmcts/ia-case-api, pull requests merged in 2025-02, with the labels that each got.

#2459 DIAC-835 Filter notifications sent in the last 7 days
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseapi/util/MapFieldAssertor.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SaveNotificationsToDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/clients/AsylumCaseNotificationApiSenderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2459

#2456 DIAC-572 Content error on Change a direction due date
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-success-confirmation-change-direction-due-date-evidence.json
  src/functionalTest/resources/scenarios/RIA-3693-ho-notifications-for-success-confirmation-change-direction-due-date-review.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/postsubmit/ChangeDirectionDueDateConfirmation.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2456

#2467 DIAC-871 update branch
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentReviewPreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2467

#2489 DIAC-000 Upgrade Sonarqube plugin version
  build.gradle
Labels: ns:ia, prd:ia, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2489

#2466 DIAC-870 update branch
  src/functionalTest/resources/scenarios/RIA-1789-RIA-2694-request-case-building.json
  src/functionalTest/resources/scenarios/RIA-4540-RIA-4272-direction-publish-on-request-case-building.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestCaseBuildingPreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2466

#2465 DIAC-700 update branch
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence-multiple-nationalities.json
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence-stateless.json
  src/functionalTest/resources/scenarios/RIA-3308-home-office-notifications-for-request_respondent_evidence.json
  src/functionalTest/resources/scenarios/RIA-4116-ho-notifications-existing-cases-response.json
  src/functionalTest/resources/scenarios/RIA-4116-ho-notifications-validation-fail-response.json
  src/functionalTest/resources/scenarios/RIA-892-RIA-2694-request-respondent-evidence-start.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RequestRespondentEvidencePreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2465

#2479 DIAC-921 Org Roles Not Working in Jenkins Build - SERVICE_AUTH_PROVID…
  Jenkinsfile_CNP
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2479

#2494 DIAC-000 Upgrade java chart and servicebus chart
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2494
