Repository hmcts/ia-case-api, pull requests merged in 2025-06, with the labels that each got.

#2575 DIAC-1075 CMR for a detained appeal (Except RA and PA)
  .gitignore
  README.md
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateListCmrTaskHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/GenerateListCmrTaskHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2575

#2576 DIAC-967 Populating detention address on appellant tab
  src/functionalTest/resources/scenarios/DIAC-967-populates-detention-address-for-other-facility.json
  src/functionalTest/resources/scenarios/DIAC-967-populates-detention-address.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionLocationAddressPopulator.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DetentionFacilityAddressProvider.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/infrastructure/config/DetentionFacilityAddressLoader.java
  src/main/resources/application.yaml
  src/main/resources/detention-facilities.csv
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionLocationAddressPopulatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/DetentionFacilityAddressProviderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2576

#2572 DIAC-1093 Update Detention location Appeal/Appellant Tab
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionFacilityEditAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/AsylumCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetentionFacilityEditAppealHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2572

#2518 DIAC-524 - Expedite application to all appeal states
  charts/ia-case-api/Chart.yaml
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/MakeAnApplicationTypesProviderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, aat/add-or-update, prod/add-or-update, enable_hearings, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2518

#2522 DIAC-1109 - Reduce PR logs being sent to em aat
  charts/ia-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, enable_keep_helm, stale, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2522
