Repository hmcts/ia-case-api, pull requests merged in 2025-01, with the labels that each got.

#2448 DIAC-649 Add case note event for robot user
  bin/add-roles.sh
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service, rel:ia-case-api-pr-2448

#2454 DIAC-000 Update terraform and azuread version
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:ia, prd:ia, enable_keep_helm, aat/add-or-update, prod/add-or-update, enable_timed_event_service, rel:ia-case-api-pr-2454

#2455 DIAC-841 updating python script adding field reader
  .gitignore
  bin/utils/python_scripts/field_redaction_jsons/field_redactions.json
  bin/utils/python_scripts/filepath_settings.py
  bin/utils/python_scripts/helpers.py
  bin/utils/python_scripts/prep_import_data.py
  bin/utils/python_scripts/redact_info_from_json.py
  bin/utils/python_scripts/unique_field_types.csv
Labels: ns:ia, prd:ia, enable_timed_event_service, rel:ia-case-api-pr-2455

#2457 DIAC-854 fix organisation policy validation in remove representative event
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/RemoveRepresentationPreparerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_timed_event_service
