Repository hmcts/ia-case-api, pull requests merged in 2025-05, with the labels that each got.

#2530 DIAC-976 Adding case flag when appellant in detention
  Jenkinsfile_CNP
  src/functionalTest/resources/scenarios/DIAC-976-set-detained-individual-flag-by-when-detained-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetainedIndividualFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetainedIndividualFlagHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, aat/add-or-update, prod/add-or-update, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2530

#2545 DIAC-9999 Fix sonar duplication issues for detained appeals branch
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AnonymousByDefaultHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetainedIndividualFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FlagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/service/FlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2545

#2550 DIAC-1144 Fix pipelines failures
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-api-pr-2550

#2556 DIAC-1152 Redis chart repo connection failure
  charts/ia-case-api/Chart.yaml
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2556

#2562 DIAC-1137 Fix AiP Help with fee remission type
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/AiPFeesHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/AiPFeesHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2562

#2557 DIAC-976 fixing flag bug
  src/functionalTest/resources/scenarios/DIAC-976-set-detained-individual-flag-by-when-detained-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetainedIndividualFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/DetainedIndividualFlagHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2557

#2554 DIAC-1071 Out of time calculation ICC (Out of country) - Out of count…
  src/functionalTest/resources/scenarios/DIAC-1043-appeal-submitted-in-time-admin-out-of-country.json
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/HomeOfficeDecisionDateCheckerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, enable_wa, enable_timed_event_service

#2567 DIAC-1132 Revert DIAC-1132 changes
  charts/ia-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/AiPFeesHandler.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AutomaticEndAppealForNonPaymentEaHuTriggerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/payment/AiPFeesHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2567

#2564 DIAC-963 Detained Appeal Label ICC Journey
  src/main/java/uk/gov/hmcts/reform/iacaseapi/domain/handlers/presubmit/AppealOutOfCountryEditAppealHandler.java
Labels: ns:ia, prd:ia, enable_keep_helm, enable_wa, enable_timed_event_service, rel:ia-case-api-pr-2564
